{% comment %}
    this is used by the infinite scroll js in unexpected ways
    if you make any change here be sure to check the infinite scroll
{% endcomment %}
{% load annotatetags hashtag %}
{% get_annotations_for parts as annotation_dict %}
{% for speech_part in parts %}
    {% with speech_part.id as spid %}
    {% with annotation_dict|hash:spid as annotation_obj %}
        {% if forloop.first %}
            {% include "committees/committeemeeting_detail/protocol_anotationform.html" %}
        {% endif %}
        {% include "committees/committeemeeting_detail/protocol_part.html" %}
    {% endwith %}
    {% endwith %}
{% empty %}
    {% include "committees/committeemeeting_detail/protocol_empty.html" %}
{% endfor %}
