{% load i18n %}
<div id="a_{{ annotation.id }}" class="semannotation annotationfor-{{ speech_part.id }}" style="border:1px solid;border-color:{% if annotation.color %}{{ annotation.color }}{% else %}#ff0000{% endif %};">
    <form class="admin reallydelete" style="float:right" action="{% url annotatetext-delete_annotation %}" method="post">{% csrf_token %}<input type="hidden" name="next" value="{{ next }}"/><input type="hidden" name="annotation_id" value="{{ annotation.id }}"/><input type="submit" value="X"/></form>
    <q class="start_{{ annotation.selection_range.0 }} end_{{ annotation.selection_range.1 }}">{{ annotation.selection }}</q>
    <p class="annotation_meta" id="annotation-{{ annotation.id }}">{{ annotation.flag_value }} {% trans "by" %} 
        <a class="user-link" href="{% url public-profile annotation.user.id %}">{{ annotation.user }}</a>
        <a href="#annotation-{{ annotation.id }}" class="permalink">¶</a></p>
    <div class="content">{{ annotation.comment|urlizetrunc:25 }}</div>
</div>
