{% extends 'base.html' %}
{% load i18n %}



{% block content %}

<form action="." method="post">
    <table>
    {{ edit_form }}
    </table>
    <input type="submit" name="save" value="{% trans 'save' %}" />
</form>
<br/>
{% if not edit_form.has_perms %}
    {% if not edit_form.has_email %}
        {% trans 'You do not have permissions to edit anything. In order to be able to edit, you must first provide a valid email address.' %}
    {% else %}
        {% trans 'You do not have permissions to edit anything. In order to be able to edit, you must provide a valid email address, and validate it' %}
        <form action="../send-validation-email/" method="post">
            <input type="submit" name="send validation email" value="{% trans 'send validation email' %}" />
        </form>
    {% endif %}
{% else %}
    {% trans 'Your email has been validated, so you can edit stuff!' %}
{% endif %}

{% endblock %}
