{% extends "site_base.html" %}
{% load i18n %}
{% load common_text_handling %}
{% block extratitle %}{% trans "Agendas" %}{% endblock %}
{% block keywords %}{{% trans "Agendas" %}{% endblock %}
{% block description %}{% trans "Agendas" %} - {% endblock %}
{% block nav-agendas %}class="selected"{% endblock %}
{% block divcontent %}
	<div id="list-wrap">
        <h2> {% trans "Your Agendas" %} </h2>
        {% if not user.is_authenticated %}
        	<a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Please login to see agendas you can edit' %}</a>
        {% else %}
	        <div class="add">
	            <a href="/agenda/add/">{% trans "Add" %}</a>
	        </div>
	        <div class="item-list">
		        {% for o in user.agenda_set.all %}
		        	<div class="item">
			            <a class="hashnav dontwrap" id="detail-{{ o.id }}" href="{% url agenda-detail o.id %}" >{{ o }}</a>
		                <table>
			                <tr>
								<td>{% trans "Editors:" %}</td>
								<td>			                
				                    {% for editor in o.editors.all %}
				                        {{ editor.first_name }}&nbsp;{{ editor.last_name }}
				                    {% endfor %}
				                </td>
		                	</tr>
		                	<tr>
		                		<td>{% trans "Description:" %}</td>
		                		<td>{{ o.description|pretty_crop:100 }} 
		                </table>
					</div>
		        {% endfor %}
		    </div>
        {% endif %}
        
	</div>
	<div id="list-wrap">
        <h2> {% trans "All Agendas" %} </h2>
        <div class="item-list">
	        {% for o in object_list %}
	            {% if not user in o.editors.all %}
	            	<div class="item">
		                <a class="hashnav dontwrap" id="detail-{{ o.id }}" href="{% url agenda-detail o.id %}" >{{ o }}</a>
		                <table>
			                <tr>
								<td>{% trans "Editors:" %}</td>
								<td>			                
				                    {% for editor in o.editors.all %}
				                        {{ editor.first_name }}&nbsp;{{ editor.last_name }}
				                    {% endfor %}
				                </td>
		                	</tr>
		                	<tr>
		                		<td>{% trans "Description:" %}</td>
		                		<td>{{ o.description|pretty_crop:100 }} 
		                </table>
	                </div>
		    	{% endif %}
	        {% endfor %}
        </div>
	</div>
{% endblock %}
