{% extends "site_base.html" %}
{% load i18n %}
{% load i18n i18ninclude %}
{% load user %}
{% load common_text_handling %}
{% load agendas %}
{% block extratitle %}{% trans "Agendas" %}{% endblock %}
{% block keywords %}{{% trans "Agendas" %}{% endblock %}
{% block description %}{% trans "Agendas" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.flot.min.js"></script>
{% endblock %}

{% block nav-agendas %}class="selected"{% endblock %}
{% block divcontent %}
    {% i18ninclude "agendas/agenda_list_header.html" LANGUAGE_CODE %}
    <div id="list-wrap">
        <h2> {% trans "Your Agendas" %} </h2>
        {% if not user.is_authenticated %}
            <a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Please login to see agendas you can edit' %}</a>
        {% else %}
            <div class="item-list">
                {% for o in user.agendas.all %}
                    <div class="item {% cycle "alt" "normal" %}">
                        {% agenda_list_item o watched %}
                    </div>
                {% empty %}
                    {% trans "You are not editing any agenda" %}
                {% endfor %}
            </div>
            {% if user.is_superuser %}
                <div class="add">
                    <a class="awesome-button medium" href="/agenda/add/">{% trans "Add" %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div id="list-wrap">
        <h2> {% trans "All Agendas" %} </h2>
        <div class="item-list">
            {% for o in object_list %}
                {% if user not in o.editors.all %}
                    <div class="item {% cycle "alt" "normal" %}">
                        {% agenda_list_item o watched %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
