{% load i18n %}
{% load user %}
{% load bills_extra %}
{% load common_text_handling %}

<div class="agenda-counts">
    {{ agenda.votes.count }} {% trans 'votes' %}<br>
    {{ agenda.number_of_followers }} {% trans 'followers' %}
    {% if agenda in watched_agendas %}<span>{% trans 'Including you' %}</span>{% endif %}
</div>
<a id="detail-{{ agenda.id }}" href="{% url agenda-detail agenda.id %}">{{ agenda.name }}
<span class="public-owner-name"> {% trans 'by' %} {{ agenda.public_owner_name }}</span></a>
<div class="item-metadata">
    <span class="editors">
        {% trans "Editors:" %}
        {% for editor in agenda.editors.all %}
            {% if not forloop.first %} | {% endif %}
            {% user editor %}
        {% endfor %}
    </span><br>
    <span class="description">{{ agenda.description|pretty_crop:100|urlize }}</span>
</div>
    <div id="visualization-{{ agenda.id }}" style="float: left; width: 300px; height: 150px;"></div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Populate the data table.
        var dataTable = google.visualization.arrayToDataTable([
          ['Mon',20,28,38,45],
          ['Tues',31,38,55,66],
          ['Wed',50,55,77,80],
          ['Thurs',50,77,66,77],
          ['Fri',15,66,22,68]
          ], true);

        // Draw the chart.
        var chart = new google.visualization.CandlestickChart(
          document.getElementById('visualization-{{ agenda.id }}'));
        chart.draw(dataTable, {legend:'none'});
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
