{% extends "help_base.html" %}
{% block help-content %}
הדף מציג את רשימת האג'נדות  הקיימת כיום באתר. 
<br/>
מטרת האג'נדות היא לחשוף את מידת ההתאמה בין פועלו של ח"כ/מפלגה לבין אג'נדות שונות. 
{% endblock %}
{% block help-content-more%}
<ul>
	<li><b>שימו לב:</b>
האג'נדות באתר מוגדרות ונערכות ע"י משתמשי האתר. לכן, הן אינן משקפות נתונים עובדתיים בלבד, אלא גם פרשנות מסוימת של הנתונים.
	</li>
	<li>
	אנשי צוות “כנסת פתוחה” בוחנים כל אג'נדה בקפידה כדי לוודא 
<u>שימוש נאות וחוקיות התוכן</u>. 
	<br/>
איננו מסננים אג'נדות ע"פ נטייה פוליטית. נהפוך הוא - מטרתנו היא לשקף את דעות משתמשים וארגונים שונים ורבים ככל שניתן מבלי לנקוט צד, ולתת לציבור להחליט.
	</li>
	<li>
	נציגי ארגונים ואזרחים המעוניינים לערוך אג'נדה מתבקשים לפנות לעורכי האתר בכתובת <a href="mailto:mail@oknesset.org">mail@oknesset.org</a> ולציין: שם מלא, ארגון (אם יש), פרטי התקשרות, שם האג'נדה, תיאור האג'נדה
	</li>
</ul>
{% endblock %}