{% extends "site_base.html" %}
{% load i18n %}
{% load tagging_tags %}
{% load laws_extra %}
{% load common_visual_elements %}
{% load links %}
{% load comments %}
{% load user %}
{% load hitcount_tags %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ object.name }}, {{ member }}{% endblock %}
{% block description %}{{ title }}{% endblock %}
{% block nav-agendas %}class="selected"{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="{{MEDIA_URL}}js/bars.js"></script>
{% endblock %}
{% block divcontent %}
    <h1>{% blocktrans %}Analysis of votes by <a href="{{ member_url }}">{{ member }}</a> by <a href="{{ agenda_url }}">{{ agenda_name }}</a>{% endblocktrans %}</h1>
    <div id="agenda-info">
    	<div class="item-list">        
		<h2>{% trans 'Overall score' %} <span class="numeric">{{score|floatformat:"0"}}%</span></h2> 			
			<div id="member_percentile" class="percentile {% if score < 0 %}percentile_against{% endif %}"></div>
			<script>set_percentile('member',({{ score }}+100)/2);</script>							

		<h2>{% trans 'Score details' %}</h2>
        <table id="agenda-votes">
        			
            {% for agendavote in related_votes %}
                <tr>
                    <td>
                        <div class="agenda-score numeric">
                            {{ agendavote.score }}
                        </div>
                    </td>
                    <td>
                        <div class="item">
                            <a class="hashnav" id="detail-{{ agendavote.vote.id }}" href="{{ agendavote.vote.get_absolute_url }}">
                                {{ agendavote.vote.title }}<br/>
                            </a>

                        </div>
                    </td>
                </tr>
                <tr>
                	<td></td>
                	<td>
                	{{ member.name }} {% trans "Voted" %} {{ agendavote.voteaction.get_type_display }}
                	</td>
                	
                </tr>
            {% empty %}
                {% trans "No results found" %}
            {% endfor %}
        </table>
    </div> {# id="agenda-info" #}
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}

{% endblock %} {# divcontent #}

{% block footer %}
<script type="text/javascript"><!--
    $(document).ready(function() {
        {% get_hit_count_javascript for object %}
    });
--></script>
{% endblock %}


