{% load i18n %}
{% if action.actor.get_absolute_url %}<a class="action-actor" href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
{% else %}<span class="action-actor">{{ action.actor }}</span>{% endif %}
{% if action.actor.is_female %}
<span class="action-verb">הצטרפה</span>
{% else %}
<span class="action-verb">הצטרף</span>
{% endif %}
:
{% with action.target.bill as bill %}
    {% if bill %}
        <a href="{{ bill.get_absolute_url }}">
            {{ bill }}
        </a>
    {% else %}
        {{ action.target }}
    {% endif %}
{% endwith %}
