{% extends "site_base.html" %}
{% load i18n laws_tags mks_tags common_text_handling %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-laws %}class="active"{% endblock %}
{% block divcontent %}
<h1>{{ title }}</h1>
    {% if object.mk %}
        <h3><a href="{{ object.mk.get_absolute_url }}">{% trans "To MK page" %}</a></h3>
        {% mk_card object.mk %}
    {% endif %}
    <div><h2>{% trans "Titles" %}</h2><ul>
    {% for title in object.titles.all %}
        <li>{{ title.name }}</li>
    {% empty %}
        {% trans "No Info" %}
    {% endfor %}</ul>
    </div>

    <div><h2>{% trans "Roles" %}</h2><ul>
    {% for role in object.roles.all %}
        <li>{{ role.text }}</li>
    {% empty %}
        {% trans "No Info" %}
    {% endfor %}</ul>
    </div>

    <div><h2>{% trans "Meetings this persons spoken at" %}</h2><ul>
    {% for meeting in meetings %}
        <li><a href="{{ meeting.get_absolute_url }}">{{ meeting.committee.name }} {{ meeting.date_string }} <span style="font-size:75%">{{ meeting.topics|safe }}</span></a></li>
    {% endfor %}</ul>

    <div><h2>{% trans "Things this person said" %}</h2><ul>
    {% for pp in object.protocol_parts.all %}
        {% ifchanged %}
        </ul><a href="{{ pp.meeting.get_absolute_url }}">{{ pp.meeting.committee.name }} {{ pp.meeting.date_string }} <span style="font-size:75%">{{ pp.meeting.topics|safe }}</span></a><ul>
        {% endifchanged %}
        <li><a href="{{ pp.get_absolute_url }}">{{ pp.body|pretty_crop:100 }}</a></li>
    {% endfor %}</ul>
    </div>
{% endblock %}
