parts/
eggs/
bin/
build/
dist/
downloads/
src/Open_Knesset.egg-info/
local_*settings.py
open-knesset.log
src/knesset/whoosh_index/
develop-eggs/
.*
*.pyc
*.db
*~
nosetests.xml
knesset/templates/last_build.txt
media/avatars
media/agendas
data/committee_mms_videos
settings.js.dist
node_modules
bower_components
