parts/
eggs/
bin/
build/
dist/
downloads/
src/Open_Knesset.egg-info/
src/knesset/local_settings.py
src/knesset/open-knesset.log
src/knesset/whoosh_index/
develop-eggs/
.*
*.pyc
*.db
*~
nosetests.xml
src/knesset/templates/last_build.txt
static/avatars
data/
