.card-main {
  background: @white;
  border: 1px solid @borderColor;
  margin: -1px;
  .border-radius(5px);

  .links {
      margin-top: 100px;
      ul {
        overflow: auto;
        margin: 0;
        padding: 0;
        li {
          float: right;
          margin-left: 30px;
        }
        li:first-child {
          list-style: none;
          margin-right: -15px;
        }
      }
    }
  }

  .btn-big {
    .btn-block;
    margin: 10px;
    padding: 6px;
    width: 90%;
    background: @buttonBackgroundColor;
    color: @white;
    border: 2px solid darken(@buttonBackgroundColor, 20%);
  }
}