.card-main {
  margin-bottom: 100px;

  [class*='span']{
    min-height: 235px;
    position: relative;

    &+[class*='span']::before{
      content: '';
      display: block;
      width:1px;
      background: @borderColor;
      position: absolute;
      top:0;
      bottom:-15px;
      right:-15px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
  }

  .mp-details {

    .links {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      li + li{
        padding-right: 15px;
        &::before {
          content: '';
          width:6px;
          height:6px;
          display: inline-block;
          background: @textColor;
          .border-radius(50%);
          position: relative;
          right:-10px;
          top:-1px;
        }
      }
    }
  }
}