#app-footer {
  border-top: 4px solid @darkgray;
  font-size: 14px;

  .row { padding: @gutter 0; }

  .nav-pills{
    margin-bottom: 0;
    li{
      border-right: 1px solid @grayLight;
      &:first-child { 
        border:0 none;
        a { margin-right: 0; }
      }
      a{
        font-weight: bold;
        text-align: right;
        margin: 0 20px;
        padding:0;
        .border-radius(0);
        color: @darkgray;
        font-size: @baseFontSize;
        &:hover{ text-decoration: underline; }
      }
    }
  }

  .about{ 
    margin-top: @gutter;
    h3 {
      line-height: @baseLineHeight;
      font-weight: bold;
      font-size: @baseFontSize;
      margin-top: 0;
    }
  }


  .about-oknesset h3 { border-bottom: 1px solid @grayLight;}
  .follow-oknesset h3 { margin-top: @gutter * 2; }
  .hasadna {
    h3 {
      span { display: block; font-weight: normal; }
      img {float: right; display:block; margin:8px 0 0 10px}
    } 
    ul {
        list-style: none;
        margin-right: 0;
        margin-bottom: @gutter;
    }
    li { border-bottom: 1px solid @grayLight; padding:3px;}
    a { color: @textColor; }
    form {margin:0}
  } 
}
