# This includes parts which requires compiling or scraping related, etc
-r requirements.txt

--find-links http://download.savannah.gnu.org/releases/mimms/

mimms>=3.2

# Temporary, until pyth release a new pypi with pull #16
-e git://github.com/brendonh/pyth.git#egg=pyth
