# This includes parts which requires compiling or scraping related, etc
-r requirements.txt

--find-links http://download.savannah.gnu.org/releases/mimms/

mimms>=3.2

# Using yairchu's fork with a fix to ignore bad unicode characters in rtf reader
# see this PR: https://github.com/hasadna/Open-Knesset/pull/326
# and this commit: https://github.com/yairchu/pyth/commit/026bee7683709fc297ff6c8f7e1904e0fc13b91e
-e git+git://github.com/yairchu/pyth.git@026bee7683709fc297ff6c8f7e1904e0fc13b91e#egg=pyth
