# The very basic requirements, hopefully without devel, scraping and video
# download dependencies, others will build upon it
#
# Left out for now from setup
#
# mimeparse - Looks like a requirement by tastypie, will be auto installed
# mimms - Video download
# poppler - required only for simple/management/parse_government_bill,

Django==1.5.1
PIL
South==0.7.6
django-extensions==1.1.1
django-pagination==1.0.7
django-tagging==0.3.1
django_compressor==1.2
BeautifulSoup
vobject
feedparser
gdata
gunicorn
django-social-auth>=0.7.19
oauth==1.0.1
python-dateutil==1.5
python-memcached
-e git://github.com/openid/python-openid.git#egg=python-openid
django-tastypie==0.9.12
django-ratings
-e git://github.com/thornomad/django-hitcount.git#egg=django-hitcount
-e git://github.com/hasadna/django-activity-stream.git#egg=django-activity-stream
-e git://github.com/hasadna/django-planet.git#egg=django-planet
-e git://github.com/hasadna/django-annotatetext.git#egg=django-annotatetext
-e git://github.com/pinax/django-mailer.git#egg=django-mailer
-e git://github.com/hasadna/django-avatar.git#egg=django-avatar
-e git://github.com/hasadna/django-backlinks.git@014104cd38fd274020284e3b14d28f97ece7ea62#egg=django-backlinks
-e git://github.com/spreeker/django-voting2.git#egg=django-voting2
-e git://github.com/hasadna/django-piston.git@7d64aa4618ce80a92d93258b48c8f16dcef99615#egg=django-piston
django-debug-toolbar>=0.8.3
nose
django-nose
django-devserver==0.6.1
ipython
django-tinymce==1.5.1b4
django-crispy-forms==1.2.3
