# The very basic requirements, hopefully without devel, scraping and video
# download dependencies, others will build upon it
#
# Left out for now from setup
#
# mimeparse - Looks like a requirement by tastypie, will be auto installed
# mimms - Video download
# poppler - required only for simple/management/parse_government_bill,

Django==1.4.3
PIL
South==0.7.6
django-extensions==1.0.1
django-pagination==1.0.7
django-tagging==0.3.1
django_compressor==1.2
BeautifulSoup
vobject
feedparser
gdata
gunicorn
django-social-auth
oauth==1.0.1
python-dateutil==1.5
python-memcached
-e git+http://github.com/openid/python-openid.git#egg=python-openid
django-tastypie==0.9.11
django-ratings
-e git+http://github.com/thornomad/django-hitcount.git#egg=django-hitcount
-e git+http://github.com/hasadna/django-activity-stream.git#egg=django-activity-stream
-e git+http://github.com/hasadna/django-planet.git#egg=django-planet
-e git+http://github.com/hasadna/django-annotatetext.git#egg=django-annotatetext
-e git+http://github.com/pinax/django-mailer.git#egg=django-mailer
-e git+http://github.com/hasadna/django-avatar.git#egg=django-avatar
-e git+http://github.com/hasadna/django-backlinks.git#egg=django-backlinks
-e git+http://github.com/spreeker/django-voting2.git#egg=django-voting2
-e git+http://github.com/hasadna/django-piston.git#egg=django-piston
django-debug-toolbar>=0.8.3
nose
django-nose
django-devserver==0.4.0
ipython
