.sidebar{
	background: lighten(@bg, 50%);
  border-top: 2px solid @darkgray;
  padding: 10px;
  
  h2{
	  margin: 0;
	  line-height: 1em;
	  float: right;
	  .clearfix;
  }
  
  ul{
	  clear: both;
	  margin-top: 60px;
	  list-style: none;
	  li{
		  margin: 20px 0;
	  }
  }
  
  &.sidebar-agendas{
	  
	  
  }
}

.agenda-mini{
	header{
		.clearfix;
		img{
			float: right;
			display: block;
			margin: 0 0 10px 20px;
		}
		h3{
			//display: inline;
			float: right;
		}
	}
	
}