{% extends "site_base.html" %}
{% load i18n i18ninclude mks_tags lobbyists_tags %}{% load static from staticfiles %}
{% block extratitle %}{% trans "Lobbyists" %}{% endblock %}
{% block keywords %}{{% trans "Lobbyists" %}{% endblock %}
{% block description %}{% trans "Lobbyists" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Lobbying Corporations" %}</li>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/lobbyists.js" %}"></script>
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="cards span12">
            <section class="card card-list">
                <header>
                    <h2><i class="fa fa-users"></i>{% trans "Lobbying Corporations" %}</h2>
                </header>
                <ul>
                    {% for corporation in corporations %}
                        <li class="lobbyist-corporation" data-corporation-id="{{ corporation.id }}">
                            <p class="item-title">
                                <a href="{% url 'lobbyist-corporation' corporation.id %}">
                                    {% if corporation.name %}
                                        {{ corporation.name }}
                                    {% elif not corporation.is_private_lobbyists %}
                                        {% trans "No name" %}
                                    {% else %}
                                        {% trans "Private Lobbyists" %}
                                    {% endif %}
                                </a>
                            </p>
                            <p class="item-context">
                                {{ corporation.combined_lobbyists_count }} {% trans "Lobbyists" %}
                            </p>
                            {% if perms.lobbyists.can_edit %}
                                <p class="lobbyist-corporation-edit-box">
                                    <a href="javascript:lobbyists.mark_alias_corporation('{{ corporation.id }}');">{% trans "Mark as alias corporation" %}</a>
                                </p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
            {% include "lobbyists/_suggest_change_section.html" %}
        </div>
    </div>
{% endblock %}

