{% extends "site_base.html" %}
{% load i18n mks_tags avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{{ object }}{% endblock %}
{% block keywords %}{{ object }}{% endblock %}
{% block description %}{{ object }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lobbyists' %}">{% trans "Lobbying Corporations" %}</a> <span class="divider">/</span></li>
    <li class="active">
        {% if not object.name and not object.source_id %}
            {% trans "Private Lobbyists" %}
        {% else %}
            {{ object }}
        {% endif %}
    </li>
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="cards span9">
            {% if warning_old_corporation %}
                <section class="card card-list">
                    <header><h2><i class="fa fa-users"></i>{% trans "Warning" %}</h2></header>
                    <ul>
                        <li>{% trans "This corporation is old - all the lobbyists related to it are not currently active" %}</li>
                    </ul>
                </section>
            {% endif %}
            <section class="card card-list">
                <header>
                    <h2>
                        <i class="fa fa-users"></i>{% trans "Lobbyist Corporation" %}: 
                        {% if not object.name and not object.source_id %}
                            {% trans "Private Lobbyists" %}
                        {% endif %}
                        {% if object.name %}
                            {{ object.name }}
                        {% elif not corporation.is_private_lobbyists %}
                            {% trans "No name" %}
                        {% endif %}
                    </h2>
                </header>
                <ul>
                    {% if object.source_id %}
                        <li>{% trans "Corporation Id" %}: {{ object.source_id }}</li>
                    {% endif %}
                    {% if object.alias_corporations %}
                        <li>
                            {% trans "Alias Corporations" %}:
                            {% for alias_corporation in object.alias_corporations %}
                                {{ alias_corporation.cached_data.name }}
                                {% if alias_corporation.cached_data.source_id %}
                                    ({{ alias_corporation.cached_data.source_id }})
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    <li></li>
                </ul>
            </section>
            {% if lobbyists %}
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Lobbyists" %}</h2></header>
                <ul>
                    {% for lobbyist in lobbyists %}
                        <li><a href="{% url 'lobbyist-detail' lobbyist.id %}">{{ lobbyist }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
        <div class="span3">
            {% include "lobbyists/_suggest_change_section.html" %}
        </div>
    </div>
{% endblock %}
