{% extends "site_base.html" %}
{% load i18n mks_tags avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{% trans "Lobbyists" %} | {% trans "Corporations"  %} | {{ corporation_name }}{% endblock %}
{% block keywords %}{{ object.person.name }}{% endblock %}
{% block description %}{{ object.person.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
        <li><a href="{% url 'lobbyists' %}">{% trans "Lobbyists" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Corporations" %} <span class="divider">/</span></li>
        <li class="active">{{ corporation_name }}</li>
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="cards span12">
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Corporation Details" %}</h2></header>
                <ul>
                    <li>{% trans "Corporation Name" %}: {{ corporation_name }}</li>
                    <li>{% trans "Corporation Id" %}: {{ corporation_id }}</li>
                </ul>
            </section>
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Corporation Members" %}</h2></header>
                <ul>
                    {% for lobbyist in lobbyists %}
                        <li><a href="{% url 'lobbyist-detail' lobbyist.id %}">{{ lobbyist.person }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}
