{% extends "site_base.html" %}
{% load i18n mks_tags avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{{ object }}{% endblock %}
{% block keywords %}{{ object.person.name }}{% endblock %}
{% block description %}{{ object.person.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
        <li><a href="{% url 'lobbyists' %}">{% trans "Lobbyists" %}</a> <span class="divider">/</span></li>
        {% if is_historical %}
            <li><a href="{% url 'lobbyist-detail' lobbyist.id %}">{{ lobbyist }}</a> <span class="divider">/</span></li>
            <li>{% trans "Historical Data" %} <span class="divider">/</span></li>
            <li class="active">{{ object.scrape_time }}</li>
        {% else %}
            <li class="active">{{ object }}</li>
        {% endif %}
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="cards span12">
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Lobbyist" %}</h2></header>
                <ul>
                    <li>{% trans "Corporation" %}: <a href="{% url 'lobbyist-corporation' corporation.id %}">{{ corporation }}</a></li>
                    {% if data.profession %}
                        <li>{% trans "Profession" %}: {{ data.profession }}</li>
                    {% endif %}
                    {% if data.faction_member %}
                        {% ifnotequal data.faction_member 'לא' %}
                            <li>{% trans "Faction Member?" %} {{ data.faction_member }}</li>
                        {% endifnotequal %}
                    {% endif %}
                    {% if data.faction_name %}
                        <li>{% trans "Faction Name" %}: {{ data.faction_name }}</li>
                    {% endif %}
                    {% if data.permit_type %}
                        <li>{% trans "Permit Type" %}: {{ data.permit_type }}</li>
                    {% endif %}
                </ul>
            </section>
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Represents" %}</h2></header>
                <ul>
                    {% for represent in represents %}
                        <li>{{ represent.latest_data.name }}</li>
                    {% endfor %}
                </ul>
            </section>
            {% if history %}
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Changes" %}</h2></header>
                <ul>
                    {% for lobbyist_data in history %}
                    <li>
                        {% if forloop.first %}
                            <p class="item-context">{{ lobbyist_data.scrape_time }} - {% trans "Current Data" %}</p>
                        {% else %}
                            <p class="item-context"><a href="{% url 'lobbyist-detail' object.id lobbyist_data.id %}">{{ lobbyist_data.scrape_time }}</a></p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
    </div>
{% endblock %}
