{% extends "site_base.html" %}
{% load i18n i18ninclude mks_tags %}{% load static from staticfiles %}
{% block extratitle %}{% trans "Lobbyists" %}{% endblock %}
{% block keywords %}{{% trans "Lobbyists" %}{% endblock %}
{% block description %}{% trans "Lobbyists" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
    {% if is_historical %}
        <li><a href="{% url 'lobbyists' %}">{% trans "Lobbyists" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Historical Data" %} <span class="divider">/</span></li>
        <li class="active">{{ lobbyist_history.scrape_time | date:"d/m/y H:i"}}</li>
    {% else %}
        <li class="active">{% trans "Lobbyists" %}</li>
    {% endif %}
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="cards span12">
            <section class="card card-list">
                <header>
                    <h2><i class="fa fa-users"></i>{% trans "Lobbyists" %}</h2>
                </header>
                <ul>
                    {% for lobbyist in object_list %}
                    <li>
                        <p class="item-title"><a href="{% url 'lobbyist-detail' lobbyist.id %}">{{ lobbyist.person }}</a></p>
                        {% if not is_historical %}
                            <p class="item-context">
                                {{ lobbyist.latest_data.profession }}
                                {% if lobbyist.latest_data.profession and lobbyist.latest_data.corporation_name %}, {% endif %}
                                {% if lobbyist.latest_data.corporation_id %}
                                    <a href="{% url 'lobbyist-corporation' lobbyist.latest_data.corporation_id %}">{{ lobbyist.latest_data.corporation_name }}</a>
                                {% else %}
                                    {{ lobbyist.latest_data.corporation_name }}
                                {% endif %}
                            </p>
                            <p class="item-context">
                                {{ lobbyist.latest_data.corporation_id }}
                            </p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </section>
            
            {% if history %}
            <section class="card card-list">
                <header>
                    <h2><i class="fa fa-users"></i>{% trans "Changes" %}</h2>
                </header>
                <ul>
                    {% for lobbyist_history in history %}
                    <li>
                        <p class="item-title">{{ lobbyist_history.scrape_time | date:"d/m/y H:i" }}</p>
                        {% if forloop.first %}
                        <p class="item-context">{{ lobbyist_history.lobbyists.count }} {% trans "Lobbyists" %} - {% trans "Current Lobbyists" %}</p>
                        {% else %}
                        <p class="item-context"><a href="{% url 'lobbyists' lobbyist_history.id %}">{{ lobbyist_history.lobbyists.count }} {% trans "Lobbyists" %}</a></p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
    </div>
{% endblock %}

