{% extends "planet/base.html" %}
{% load i18n planet_tags hitcount_tags %}

{% block page_title %}{{ post.title|safe }} - {{ block.super }}{% endblock %}
{% block extrameta %}
    <meta name="DC.title" content="{{ post.title|safe }} - {{ site.name }}" />
    <meta name="description" content="{{ post.title|safe }} - {{ site.name }}" />
{% endblock %}

{% block content %}
    <script type="text/javascript">
   			$(document).ready(function() {
       			{% get_hit_count_javascript for post %}
   			});
	</script>
    <div class="post clearfix">
        {% post_full_details post %}
    </div>
{% endblock %}
