{% load i18n %}
{% if action.actor.get_absolute_url %}<a class="action-actor" href="{{ action.actor.profile.get_absolute_url }}">{{ action.actor }}</a>
{% else %}<span class="action-actor">{{ action.actor }}</span>{% endif %}
{% if action.description == 'Vote Up' %}
    {% trans "voted up on tag" %}
{% else %}
    {% trans "voted down on tag" %}
{% endif %}
:
{% with action.target as tagged_item %}
    <a  class="action-target" href="{{ tagged_item.tag }}">{{ tagged_item.tag.name}}</a> {% trans "of" %} <a  class="action-target" href="{{ tagged_item.object.get_absolute_url }}">{{ tagged_item.object }}</a>
{% endwith %}
