{% extends "site_base.html" %}
{% load i18n mks_tags avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{{ object.name }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% static "js/tooltip.js" %}"></script>
<script>
    function set_percent(id,value) {
        $("#percent_"+id).css('background-position',((100-value))+"px 0px");
        $("#percent_"+id).html(value+"%");
    }
</script>
{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block header %}
    <ul id="breadcrumbs"> 
        <li class="first"><a href="{% url committee-list %}">{% trans "Committees" %}</a></li>
        <li>{{object}}</li>
    </ul>
{% endblock %}
{% block subnav %}
    <ul class="actions">
    <li>
{% if user.is_authenticated %}
    {% if perms.committees.add_topic %}
        <a class="awesome-button medium" href="{% url edit-committee-topic object.id %}">{% trans "Suggest Topic" %}</a>
    {% else %}
        {% trans 'to suggest a topic' %}, {% trans 'Please' %} 
        <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a> 
    {% endif %}
{% else %}
        <a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Please login to suggest a topic' %}</a>
{% endif %}
    </li>
    </ul>
{% endblock %}

{% block divcontent %}
  <h2>{{object.name}}</h2>
  <div class="main-column">
    <p style="padding-bottom:1em;">{{object.description|linebreaksbr}}</p>
    {% if members %}
        <h3>{% trans 'Committee Members' %}</h3>
        <div class="clear"></div>
        <ul class="summaries">
        {% for mk in members %}
            <li> {% include "committees/_member_summary.html" %} </li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="clear"></div>
    <h3>{% trans 'Future Meetings' %}</h3>
    <ul class="item-list">
        {% for o in future_meetings_list %}
            {% include "events/_event_li.html" %}
        {% empty %}
            {% trans "None" %}
        {% endfor %}
    </ul>
    <h3>{% trans 'Meetings for which a protocol was not yet published' %}</h3>
    <ul class="item-list">
        {% for o in protocol_not_yet_published_list %}
            {% include "events/_event_li.html" %}
        {% empty %}
            {% trans "None" %}
        {% endfor %}
    </ul>
    <h3>{% trans 'Last Meetings' %}</h3>
    <ul class="item-list">
        {% for o in meetings_list %}
            {% include "committees/_meeting_li.html" %}
        {% empty %}
            {% trans "None" %}
        {% endfor %}
    </ul>
    <a class="more" href="all_meetings/">{% trans 'more...'%}</a>
    <br />
    <h3>{% trans 'MMM Documents' %}</h3>
    <p>{% trans "Number of documents ordered" %}
    	<span><a href="{% url committee-mmms object.id %}">{{ object.mmm_documents.count }}</a></span>
    </p>
  </div>
  <div class="secondary-column">
    <h3>{% trans "Suggested Agenda Topics" %}</h3>
    {% include "committees/_topics_summary.html" %}
    <h3>{% trans "Latest Annotations" %}</h3>
    <ul class="annotations">
    {% for a in annotations|slice:":5" %}
        <li {% if forloop.last %}class="last"{% endif %}>
            <a href="{{a.get_absolute_url }}" title="{{a.flag_value}} - {{a.comment|escape}}">
            "...{{a.selection}}..." ({{a.content_object.header}})</a></li>
        <div class="tip">
            <div class="user_id">
                <a href="{% url public-profile a.user.username %}">{% avatar a.user 45 %}
                {{ a.user }}</a>
            </div>
            <a href="{{a.get_absolute_url }}">{{a.flag_value}} - {{a.comment|linebreaks}}</a>
        </div>
    {% empty %}
        <li>{% trans "No annotations yet..." %}
    {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block footer %}
    <script>
    $(document).ready(function () {
        $(".annotations li").tooltip({ position: "center right",
                delay: 100, opacity: 0.8, offset: [-100, -80]});
    })
    </script>
{% endblock %}
