{% extends "site_base.html" %}
{% load lookup i18n tagging_tags laws_tags bills_tags common_visual_elements links_tags comments user_tags hitcount_tags committees_tags %}
{% block extratitle %}{{ object.name }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/tagging.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/watch.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/bars.js"></script>
{% endblock %}
{% block nav-agendas %}class="active"{% endblock %}

{% block extrahead %}
    {% if agenda.image %}
        <meta property="og:image" content="{{agenda.image.url}}"/>
        <meta name="thumbnail" content="{{agenda.image.url}}" />
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function() {
                register_watch({{object.id}}, "agenda", "{% trans 'Watch' %}", "{% trans 'Unwatch' %}", {{watched_object|lower}}, "{% url user-follow-unfollow %}");
        });
    </script>
{% endblock %}
{% block subnav %}
    <a class="button" href="{% url agenda-detail object.agenda.id %}">{% trans "Agenda" %} {{ object.agenda }}</a>
{% endblock %}
{% block divcontent %}
    <h1>{{ object }}</h1>
    {% include 'comments/object_comment_list.html' %}
{% endblock %} {# divcontent #}

{% block footer %}
<script type="text/javascript"><!--
    $(document).ready(function() {
        {% get_hit_count_javascript for object %}
    });
--></script>
{% endblock %}
