{% extends "site_base.html" %}
{% load i18n tagging_tags laws_tags links_tags comments %}{% load static from staticfiles %}
{% block extratitle %}{% trans "Add Agenda"%}{% endblock %}
{% block keywords %}{% trans "Add Agenda"%}{% endblock %}
{% block description %}{% trans "Add Agenda" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-agendas %}class="selected"{% endblock %}
{% block extrajs %}<script type="text/javascript" src="{% static "js/tagging.js" %}"></script> {% endblock %}
{% block header %}<h1>{% trans 'Add agenda' %}</h1>{% endblock %}
{% block divcontent %}
    <form action="." method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" name="save" value="{% trans 'save' %}" /></p>
    </form>
{% endblock %} {# divcontent #}
