{% load i18n lookup user_tags bills_tags common_text_handling cache %}{% get_current_language as LANGUAGE_CODE %}
{% cache 3600 agenda_list_item agenda.id LANGUAGE_CODE %}
<li class="agenda-item row">
  <div class="span12">
    <div class="row">
  <div class="span5">
    {% if agenda.image %}<a href="{% url agenda-detail agenda.id %}"><img src="{{agenda.image.url}}"></a>{% endif %}
    <p class="item-action">
        {{ agenda_votes_num }} {% trans 'votes' %},
        {{ agenda.num_followers }} {% trans 'followers' %}
        {% if agenda in watched_agendas %}<span>{% trans 'Including you' %}</span>{% endif %}
    </p>
    <p class="item-title">
        <a href="{% url agenda-detail agenda.id %}">{{ agenda.name }} <span>{% trans 'by' %} {{ agenda.public_owner_name }}</span></a>
    </p>
    <p class="item-context">
          {% trans "Editors:" %}
          {% for editor_id in editor_ids %}
          {% with editors|lookup:editor_id as editor %}
              {% if not forloop.first %}, {% endif %}
              {% user editor %}
          {% endwith %}
          {% endfor %}
    </p>
    <p class="item-context">{{ agenda.description|pretty_crop:200|urlize }}</p>
  </div>
  <div class="span6">
      <div class="visualization" data-ticks='{{ party_list|safe }}' data-info='{{ party_scores|safe }}'></div>
    </div>
  </div> <!-- row -->
  </div> <!-- span12 -->
</li>      
{% endcache %}
