{% load i18n comments %}
    <header><h2>{% trans "Ascribed agendas" %}</h2></header>
    <ul>
    {% for x_agenda in agendas %}
    {% with x_agenda.agenda as agenda %}
     
      <li class="agenda-mini">
          <header>
              {% if agenda.image %}<img src="{{agenda.image.url}}" alt="{{agenda.name}}" width="30" height="30">{% endif %}
              <h3>
                <span class="item-title"><a href="{{agenda.get_absolute_url}}">{{agenda.name}}</a></span>
                {% trans "edited by" %} {{agenda.public_owner_name}}</h3>
        </header>
        <p>
            <span class="label" title="{{ x_agenda.get_score_header }}">{{ x_agenda.get_score_display }}</span>
            <span class="label" title="{{ x_agenda.get_importance_header }}">{{ x_agenda.get_importance_display }}</span>
        </p>
        {% if x_agenda.reasoning %}
        <p class="item-context">{{ x_agenda.reasoning|urlizetrunc:"30" }}</p>
        {% endif %}
        <p>
            {% get_comment_count for x_agenda as comment_count %}
            <a href="{{ x_agenda.detail_view_url }}">{% trans "comments" %}</a> <span class="badge">{{ comment_count }}</span>
        </p>
    </li>  
    {% endwith %}
    {% empty %}
      <li>{% trans 'No agendas ascribed yet.' %}</li>    
    {% endfor %}
    </ul>

    {% if suggest_agendas %}
        <h3>{% trans 'Suggest an agenda' %}</h3>
        {% if suggested_agendas %}
        <p>{% trans 'You suggested' %}: {% for a in suggested_agendas %}{{a.agenda}}{% if not forloop.last %}, {%endif%}{% endfor %}</p>
        {% endif %}
        <form method="post" action=".">{% csrf_token %}<input type="hidden" name="user_input_type" value="agenda"></input>
        <label for="id_agenda">{% trans 'Agenda' %}</label>
        <select name="agenda" id="id_agenda">
            <option value="">{% trans 'Please select' %}</option>
        {% for a in suggest_agendas %}
            <option value="{{a.id}}">{{a}}</option>
        {% endfor %}
        </select>
        <label for="id_name">{% trans 'Reasoning' %}</label>
        <textarea rows="5" cols="30" id="id_name" name="reasoning"></textarea>
        <br><input id="suggestion_submit" type="submit" value="{% trans 'Submit' %}"></input>
        </form>
        <script>
            $(function(){
                $('select#id_agenda').change(function(){
                    a = $(this).val();
                    if (a){
                        $('#suggestion_submit').removeAttr('disabled');
                    } else {
                        $('#suggestion_submit').attr('disabled', 'disabled');
                    }
                }).change();
            })
        </script>
    {% else %}
        {% if suggest_agendas_login %}
            <div class="alert alert-block"><a href='{% url login %}?next={{url}}'>{% trans 'Login to suggest an agenda' %}</a></div>
        {% endif %}
    {% endif %}

    {% if formset %}
    <h3>{% trans "Ascribe your agendas" %}</h3>
    <form class="editors_agendas" action="{% url update-editors-agendas %}" method="post">
    <table>
        {{ formset.management_form }}
        {% csrf_token %}
        {% for form in formset.forms %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <tr><td colspan="2"> {{form.agenda_name}}</td></tr>
            <tr>
                <td>{{ form.weight.label_tag }}</td>
                <td>{{ form.weight }}</td>
            </tr>
            {% if form.importance %}
            <tr>
                <td>{{ form.importance.label_tag }}</td>
                <td>{{ form.importance }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ form.reasoning.label_tag }}</td>
                <td>{{ form.reasoning }}</td>
            </tr>
            <tr>
                <td>{{ form.DELETE.label_tag }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>

        {% endfor %}
        </table>
        <input type="submit" value="{% trans "Update" %}">
    </form>
{%endif %}
