{% extends "site_base.html" %}
{% load lookup i18n tagging_tags laws_tags bills_tags common_visual_elements links_tags comments user_tags hitcount_tags committees_tags %}
{% load static from staticfiles %}
{% block extratitle %}{{ object.name }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extrahead %}
    {% if agenda.image %}
        <meta property="og:image" content="{{agenda.image.url}}"/>
        <meta name="thumbnail" content="{{agenda.image.url}}" />
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/tagging.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ok-watch.js" %}?v=1"></script>
{% endblock %}

{% block nav-agendas %}class="active"{% endblock %}

{% block breadcrumbs %}
        <li><a href="{% url 'agenda-list' %}">{% trans "Agendas" %}</a> <span class="divider">/</span></li>
        <li class="active">{{object}}</li>
{% endblock %}

{% block divcontent %}

    <section class="card card-main">
        <div class="row">
            <div class="span9">
                <div class="spacer fill">
                    <header><h1>{{ object.name }}</h1></header>
                    <p>
                        {% trans "Edited by" %}
                        {% for editor in object.editors.all %}
                            {% if not forloop.first %}, {% endif %}{% user editor %}
                        {% endfor %}
                    </p>
                    <p>
                        {{ object.description|urlize|linebreaks }}
                    </p>
                </div>
            </div>

            <div class="span3 social-details">
                <div class="spacer fill actions-panel">
                    {% include "auxiliary/_watch.html" with watched_id=object.id watched_type="agenda"%}
                    {% if user in object.editors.all %}
                        <a class="btn btn-big btn-contact" href="{{ object.get_edit_absolute_url }}">{% trans "Edit" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="cards span9">
            <section class="card card-list">
                <div class="spacer text-center">
                {% if object.is_public %}
                    <iframe width="600" height="400" frameborder="0" src="{% url 'agenda-embed' %}?agenda_id={{object.id}}"></iframe>
                {% else %}
                  <p>
                    {% trans 'Note: This agenda is private. It is only viewable by its editors. If you feel this agenda should be made public, contact us at' %}
                    <a href="mailto:mail@oknesset.org">mail@oknesset.org</a>
                  </p>
                {% endif %}
                </div>
            </section>

            <section class="card card-list card-list-latest">
                <header><h2> {% trans "Ascribed Votes" %}</h2></header>
                <ul id="recent-votes">
                    {% include "agendas/agenda_vote_partial.html" with object_list=agenda_votes %}
                </ul>
                {% if agenda_votes_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-votes" 
                    data-url="{% url 'agenda-detail-more-votes' object.pk %}"
                    data-initial="{{INITIAL}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
            </section>

            <section class="card card-list card-list-latest">
                <header><h2>{% trans "Ascribed Bills" %}</h2></header>
                <ul id="recent-bills">
                    {% include "agendas/agenda_bill_partial.html" with object_list=agenda_bills %}
                </ul>
                {% if agenda_bills_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-bills" 
                    data-url="{% url 'agenda-detail-more-bills' object.pk %}"
                    data-initial="{{INITIAL}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
            </section>

            <section class="card card-list card-list-latest">
                <header><h2>{% trans "Ascribed Committee Meetings" %}</h2></header>
                <ul id="recent-meetings">
                    {% include "agendas/agenda_meeting_partial.html" with object_list=agenda_meetings %}
                </ul>
                {% if agenda_meetings_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-meetings" 
                    data-url="{% url 'agenda-detail-more-meetings' object.pk %}"
                    data-initial="{{INITIAL}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
            </section>
        </div> <!-- span9 -->

        <div class="span3">
            <aside class="sidebar">
                <h2>{% trans "Parties" %}</h2>
                <ul>
                {% for selected_party_id in agendaTopParties %}
        		{% with parties|lookup:selected_party_id as selected_party %}
                    <li class="row">
                        <div class="span2">
                            <a href="{% url 'party-detail' selected_party.id %}">{{ selected_party }}</a>
                        </div>
                        {% with agenda_party_values|lookup:selected_party.id as selected_party_score %}
                        <div class="numeric text-{% if selected_party_score < 0 %}error{%else%}success{% endif %}">
                            {{selected_party_score|floatformat:"0"}}%
                        </div>
                        {% endwith %}
                    </li>
                {% endwith %}
                {% endfor %}
                </ul>
            </aside> <!-- parties -->
            {% if all_mks %}
            <aside class="sidebar">
                <h2>{% trans "Agenda MKs" %}</h2>
                <ul>
                {% include "agendas/_agenda_mks_items.html" with mks_ids=all_mks_ids %}
                </ul>
            </aside>
            {% else %}
            <aside class="sidebar clearfix">
                <h2>{% trans 'Agenda Top MKs' %}</h2>
                <ul>
                {% include "agendas/_agenda_mks_items.html" with mks_ids=mks_top %}
                </ul>
                <a class="btn btn-more" href="?all_mks">{% trans 'Click here to see the full list.' %}</a>
            </aside>
            <aside class="sidebar clearfix">
                <h2>{% trans 'Agenda Bottom MKs' %}</h2>
                <ul>
                {% include "agendas/_agenda_mks_items.html" with mks_ids=mks_bottom %}
                </ul>
                <a class="btn btn-more" href="?all_mks">{% trans 'Click here to see the full list.' %}</a>
            </aside>
            {% endif %}
        </div> <!-- span3 -->
    </div>

    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}

{% endblock %} {# divcontent #}

{% block footer %}
<script type="text/javascript"><!--
    $(document).ready(function() {
        {% get_hit_count_javascript for object %}
    });
--></script>
{% endblock %}


