{% extends "site_base.html" %}
{% load i18n tagging_tags laws_tags common_visual_elements links_tags comments user_tags hitcount_tags %}
{% load static from staticfiles %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ object.name }}, {{ member }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
        <li><a href="{% url 'agenda-list' %}">{% trans "Agendas" %}</a> <span class="divider">/</span></li>
        <li><a href="{{ agenda_url  }}">{{ agenda_name }}</a> <span class="divider">/</span></li>
        <li class="active">{% blocktrans %}Analysis of votes by {{ member }}{% endblocktrans %}</li>
{% endblock %}

{% block nav-agendas %}class="active"{% endblock %}

{% block extrajs %}
<script type="text/javascript"><!--
    $(document).ready(function() {
        {% get_hit_count_javascript for object %}
    });
--></script>
{% endblock %}

{% block divcontent %}
    <div class="card card-main">
        <div class="row">
            <div class="span2"><div class="spacer"><img src="{{ member.highres_img_url }}" alt="{{member.name}}"/></div></div>
            <div class="span7 card-details">
                <div class="spacer fill">
                    <header><h1>{% blocktrans %}Analysis of votes by <a href="{{ member_url }}">{{ member }}</a> by <a href="{{ agenda_url }}">{{ agenda_name }}</a>{% endblocktrans %}</h1></header>
                </div>
            </div>
            <div class="span3">
                <div class="spacer fill">
                    <p>{% trans "Overall score" %} <span class="numeric">{{score|floatformat:"0"}}%</span></p>
                    <div>{% bar score -100 100 %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="card card-list">
                <header><h2>{% trans "Score details" %}</h2></header>
                <ul>
                {% for agendavote in related_votes %}
                    <li>
                    {% with agendavote.vote as vote %}
                        <p class="item-context">{{vote.time}}</p>
                        <p class="item-action">
                            <span class="label">{{agendavote.get_importance_display}}</span>
                            <span class="label label-{% if agendavote.score < 0 %}important{% else %}success{% endif %}">{{ agendavote.get_score_display }}</span>
                        </p>
                        <p class="item-title"><a href="{{ vote.get_absolute_url  }}">{{vote.title}}</a></p>
                        <p class="item-action text-{% if agendavote.voteaction.type == "for" %}success{% endif %}{% if agendavote.voteaction.type = "against" %}error{% endif %}">
                            {% trans "Voted" %} {{ agendavote.voteaction.get_type_display }}
                        </p>
                    {% endwith %}
                    </li>
                {% empty %}
                    <li>{% trans "No results found" %}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}

{% endblock %} {# divcontent #}
