{% load i18n %}
<h3><a href="{% url post_detail post.pk %}" title="{% trans 'Read ' %} {{ post.title|safe }}">
        {{ post.title|striptags|safe }}
    </a>
</h3>
<span class="original">
    <a href="{% url feed_detail post.feed.pk %}" title="{% trans 'See all posts for this feed' %}"> 
        {{ post.feed.title }}
    </a>
</span>
<p class="content">
    {{ post.content|safe|striptags|truncatewords:"100" }} 
</p>
<p class="tags list">
    {% for tag in post.tags.all %}
        {% if forloop.first %} {% trans "tags" %}: {% endif %}
        <a href="{% url tag_detail tag.name %}" title="Tag">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<div class="external_links">
    <a href="{{ post.url }}" title="{% trans 'Read original post' %}">{% trans 'read original post' %} </a>
</div>
<div class="date">{% trans "before:" %}&nbsp;{{ post.date_modified|timesince }}</div>
