{% extends "site_base.html" %}
{% load i18n %}
{% load mks %}
{% block extratitle %}{% trans 'User Profile' %}{% endblock %}
{% block h1content %}{% trans 'User Profile' %}{% endblock %}
{% block divcontent %}
<form action="." method="post">{% csrf_token %}
    <table>
    {{ edit_form }}
    <tr>
        <th>{% trans "Following Members:" %}</th>
        <td>
            {% for member in request.user.get_profile.members %}
                {% mk member 'x' %}
            {% endfor %}
        </td>
    </table>
    <input type="submit" name="save" value="{% trans 'save' %}" />
</form>
<br/>
{% if not edit_form.has_perms %}
    {% if not edit_form.has_email %}
        {% trans 'You do not have permissions to edit anything. In order to be able to edit, you must first provide a valid email address.' %}
    {% else %}
        {% trans 'You do not have permissions to edit anything. In order to be able to edit, you must provide a valid email address, and validate it' %}
        <form action="{% url send-validation-email %}" method="post">{% csrf_token %}
            <input type="submit" name="send validation email" value="{% trans 'send validation email' %}" />
        </form>
    {% endif %}
{% else %}
    {% trans 'Your email has been validated, so you can edit stuff!' %}
{% endif %}
<script>
    $(document).ready( function() {
        $('.can-delete-member').click(function(){
            var id_re = /.*-(\d+)/;
            var member_id = id_re.exec(this.id)[1];
            jQuery.ajax({
                type: 'DELETE',
                url: '{% url member-handler %}'+member_id+'/',
                context: $('detail-'+member_id),
                success: function () {
                    this.remove();
                },
            })
            return (false);
        })
    })
</script>

{% endblock %}
