{% extends 'base.html' %}
{% load i18n %}

{% block extratitle %}{% trans 'login' %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<p>
    {% trans "You are already logged in."%} <a href="{% url logout %}">{% trans 'Logout' %}</a>?
</p>

{% else %}

<div id="login">
    <form method="post" action="{% url login %}">{% csrf_token %}
        <table>{{ form.as_table }}</table>
        <input type="submit" value="{% trans 'login' %}">
        <input type="hidden" name="next" value="{{ next }}">
    </form><br>
    <a href="{% url create_user %}?next={{next}}">{% trans "New user? Register" %}</a><br>
    <a href="{% url password_reset %}?next={{next}}">{% trans "Forgot password?" %}</a><br>    

    
</div>
{% endif %}
{% endblock %}

