{% extends "site_base.html" %}
{% load i18n %}
{% load mks %}
{% load pagination_tags %}
{% load avatar_tags %}
{% block extratitle %}{{viewed_user.username}}{% endblock %}
{% block header %}<h1>{{viewed_user.username}}</h1>{% endblock %}
{% block content %}
    {% if viewed_user.get_profile.public_profile or viewed_user == user%}
        <div style="float:right;">
            {% avatar viewed_user 75 %}
        </div>
        <p style="float:right;padding-right:1em;">{{ viewed_user.get_profile.description|linebreaksbr }}</p>
        <div class="clear"></div>
        <div class="details">
        <div>
            <h3>{% trans 'Following Members' %}:</h3>
            <ul class='favorites-list'>
            {% for member in viewed_user.get_profile.members %}
                <li><a href="{{member.get_absolute_url}}">{{ member|mk_card }}</a></li>
            {% empty %}
                <li>{% trans 'Not following any memebers.' %}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="clear"></div>
        <div>
            <h3>{% trans 'Annotations' %}</h3>
            <ul>
            {% for a in annotations|slice:":10" %}
                {% ifchanged %}
                    <li><h4> {{ a.content_object.meeting }} </h4>
                {% endifchanged %}
                <div style="padding-right:1em">
                     {% trans "On the words of" %} {{a.content_object.header}}: "...{{a.selection}}..."
                     <p><a href="{{a.get_absolute_url }}">{{a.flag_value}} - {{a.comment|linebreaksbr}}</a></p>
                </div>
            {% empty %}
                <li>{% trans "No annotations yet..." %}
            {% endfor %}
            </ul>
            {% if annotations.count > 10 %}
                <a href="{% url user-annotated-items viewed_user.username %}">{% trans "more..."%}</a>
            {% endif %}
        </div>
        <div>
            <h3>{% trans 'Tagged Items' %}</h3>
            {% if tagged_items %}
            <table>
            {% for t in tagged_items|slice:":10" %}
                {% ifchanged %}                
                <tr><th style="text-align: right;"><a href="{{t.tagged_item.object.get_absolute_url}}">{{ t.tagged_item.object }}</a>
                        <td>
                {% endifchanged %}
                <a href="{{t.get_absolute_url}}" class="tag">{{ t.tagged_item.tag }}<span class="{% if t.vote > 0 %}vote-up{%else%}vote-down{%endif%}">&nbsp;</span></a>
                {% if foorloop.last %}</td>{% endif %}
            {% endfor %}
            </td></tr>
            </table>
            {% if tagged_items.count > 10 %}
                <a href="{% url user-tagged-items viewed_user.username %}">{% trans "more..."%}</a>
            {% endif %}
            {% else %}
                {% trans "No tagged items yet..." %}
            {% endif %}
        </div>
        </div>

            
    {% else %}
        {% trans "Sorry, this user has selected not to share his profile" %}
    {% endif %}
<br/>
{% endblock %}
