{% extends "site_base.html" %}
{% load i18n %}
{% load mks %}
{% load activity_tags %}
{% load pagination_tags %}
{% block extratitle %}{{object.username}}{% endblock %}
{% block header %}<h1>{{object.username}}</h1>{% endblock %}
{% block content %}
    {% trans 'Following Members' %}: &nbsp;
    <ul class='favorites-list'>
    {% for member in object.get_profile.members %}
        <li><a href="{{member.get_absolute_url}}">{{ member.name }}</a></li>
    {% endfor %}
    </ul>
    <div class="activities" >
            <form class="select" method="get" action=".">
                {{verbs_form}}
                <input class="awesome-button medium" type="submit" style="float:left;" value="{% trans "Refresh" %}">
            </form>
        <div style="clear:both;"></div>
    {% autopaginate actions %}
    {% for action in actions %}
        {% with action.timestamp|timesince as since %}
        {% ifchanged %}<h3>{% trans "before" %}&nbsp;{{ since }}</h3>{% endifchanged %}
        {% endwith %}
        <p>
            {% display_action action %}
        </p>
    {% empty %}
        <p>
        {% trans "Sorry, no data is available, try selecting more actions and refresh" %}
        </p>
    {% endfor %}
    {% paginate %}
    </div>
<br/>
{% endblock %}
