{% extends "site_base.html" %}
{% load i18n %}
{% load mks %}
{% load activity_tags %}
{% load aggregated_activity_tags %}
{% load pagination_tags %}
{% load avatar_tags %}
{% block extratitle %}{{user.username}}{% endblock %}
{% block header %}<h1>{{user.username}}</h1>{% endblock %}
{% block content %}
    {% if user.get_profile.public_profile %}
        <div style="float:right;">
            {% avatar user 75 %}
        </div>
        <p style="float:right;padding-right:1em;">{{ user.get_profile.description|linebreaksbr }}</p>
        <div class="clear"></div>
        <div class="details">
        <div>
            <h3>{% trans 'Following Members' %}:</h3>
            <ul class='favorites-list'>
            {% for member in user.get_profile.members %}
                <li><a href="{{member.get_absolute_url}}">{{ member.name }}</a></li>
            {% empty %}
                <li>{% trans 'Not following any memebers.' %}</li>
            {% endfor %}
            </ul>
        </div>

        <div>
            <h3>{% trans 'Badges' %}:</h3>
            <ul class='favorites-list'>
            {% for badge in user.get_profile.get_badges %}
                <li><a href="{{badge.get_absolute_url}}">{{ badge }}</a></li>
            {% empty %}
                <li>{% trans 'No badges yet.' %}</li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <h3>{% trans 'Annotations' %}</h3>
            <ul>
            {% for a in annotations %}
                {% ifchanged %}
                    <li><h4> {{ a.content_object.meeting }} </h4>
                {% endifchanged %}
                <div style="padding-right:1em">
                     {% trans "On the words of" %} {{a.content_object.header}}: "...{{a.selection}}..."
                     <p><a href="{{a.get_absolute_url }}">{{a.flag_value}} - {{a.comment|linebreaksbr}}</a></p>
                </div>
            {% empty %}
                <li>{% trans "No annotations yet..." %}
            {% endfor %}
            </ul>
        </div>
        </div>

            
    {% else %}
        {% trans "Sorry, this user has selected not to share his profile" %}
    {% endif %}
<br/>
{% endblock %}
