{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block extratitle %}{% trans "Items tagged by" %}{{viewed_user.username}}{% endblock %}
{% block header %}
    {% with tagged_items|length as count %}
    <h1>
        {% blocktrans %}{{ count }} Items tagged by {% endblocktrans %}<a href="{{ viewed_user.get_absolute_url }}">{{ viewed_user.username }}</a>
        
    </h1>
    {% endwith %}
{% endblock %}
{% block content %}
    {% if viewed_user.get_profile.public_profile or viewed_user == user%}
        <div>
            {% if tagged_items %}                
                {% autopaginate tagged_items %}
                <table>
                {% for t in tagged_items %}
                    {% ifchanged %}
                    {% if not forloop.first %}</td></tr> {% endif %}
                    <tr><th style="text-align: right;"><a href="{{t.tagged_item.object.get_absolute_url}}">{{ t.tagged_item.object }}</a>
                            <td>
                    {% endifchanged %}
                    <a href="{{t.get_absolute_url}}" class="tag {% if t.vote > 0 %}thumbs-up{%else%}thumbs-down{%endif%}">{{ t.tagged_item.tag }}</a>
                {% endfor %}
                </td></tr>
                </table>
                {% paginate %}
            {% else %}
                {% trans "No tagged items yet..." %}
            {% endif %}
        </div>
    {% else %}
        {% trans "Sorry, this user has selected not to share his profile" %}
    {% endif %}
<br/>
{% endblock %}
