{% extends "site_base.html" %}
{% load i18n %}
{% load i18n i18ninclude %}
{% load common_visual_elements %}
{% block extratitle %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-parties %}class="selected"{% endblock %}
{% block help-section %}
	 {% i18ninclude "mks/party_list_help.html" LANGUAGE_CODE %}
{% endblock %}
{% block divcontent %}
<div id="candidate-lists-container">
    {% for o in object_list %}
    <a href="{% url candidate-list-detail o.id %}">
        <div class="element">
            <h2 class="name">
                {{o.name}}
            </h2>

            <h3 class="symbol">
                {{o.ballot}}
            </h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
