{% extends "site_base.html" %}
{% load i18n %}
{% load i18n i18ninclude %}
{% load common_visual_elements %}
{% block extratitle %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-parties %}class="selected"{% endblock %}
{% block help-section %}
	 {% i18ninclude "mks/party_list_help.html" LANGUAGE_CODE %}
{% endblock %}
{% block divcontent %}
    <div class="list-wrap">
      <ul class="candidates-list">
        {% for o in object_list %}
        <li><a href="{{ o.get_absolute_url}}">
          <span class="ballot">{{o.ballot}}</span>{{o.name}}
        </a></li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
