{% extends "site_base.html" %}
{% load i18n links_tags %}
{% load i18n i18ninclude %}
{% load common_visual_elements %}
{% load static from staticfiles %}
{% block extratitle %}{{ title }}{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static "js/jquery-1.7.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bars.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jgrowl.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>
{% endblock %}
{% block nav-parties %}class="selected"{% endblock %}
{% block help-section %}
	 {% i18ninclude "polyorg/candidatelist_list_help.html" LANGUAGE_CODE %}
{% endblock %}
{% block divcontent %}
    <div id="candidate-list-container">
        <div class="list-wrap">
            <div>
                <h1>{{object.ballot}}</h1>
            </div>
            <h2>{{object.name}} {% trans 'head by'%} {{head}}</h2>
            <div class="details">
                <h3>{% trans "Links" %}</h3>
                {% object_links object %}
            </div> <br/><br/>
  {% if agendas %}
            <div class="element">
              <table>
              {% for a in agendas %}
                <tr>
                  <td><a href="{{ a.url }}">{{a.name}}</a></td>
                  <td class="numeric">{{a.score|floatformat:"0"}}%</td>
                  <td>
                      <div id="agenda_{{ a.id }}_percentile" class="percentile {% if a.score < 0 %}percentile_against{% endif %}"></div>
                      <script>set_percentile('agenda_{{ a.id }}',({{ a.score }}+100)/2);</script>                            
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
  {% endif %}
  {% if stats %}
    <div class="element">
      {% trans 'Votes per member' %} {{stats.votes_per_seat}}
    </div>
            {% for o in candidates %}
            {% if o.ordinal == 1 %}
                <div class="element leader">
            {% else %}
               <div class="element">
            {% endif %}
                   <h2 class="name">{{o.person.name}}</h2>
                   <br/>
                   <img src={{o.person.img_url}} alt="">
                   <h3 class="number">{{o.ordinal}}</h3>
                   <br/>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $('#candidate-list-container').isotope({
            transformsEnabled: false,
            itemSelector: '.element',
            layoutMode : 'fitRows'
                                })
    </script>
  {% endif %}
{% endblock %}
