{% extends "site_base.html" %}
{% load i18n links_tags %}
{% load i18n i18ninclude %}
{% load common_visual_elements %}
{% load static from staticfiles %}
{% block extratitle %}{{ title }}{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static "css/polyorg.css" %}?v=1" />
{% endblock %}
{% block nav-elections %}class="selected"{% endblock %}
{% block help-section %}
	 {% i18ninclude "polyorg/candidatelist_list_help.html" LANGUAGE_CODE %}
{% endblock %}
{% block divcontent %}
    <div id="candidate-list">
            {% for o in candidates %}
              {% if o.person.mk %}
              <a href="{{o.person.mk.get_absolute_url}}">
              {% endif %}
              <div class="candidate-list-item person {% if o.ordinal == 1 %}leader{% endif %}">
                <h2>{{o.person.name}}</h2>
                {% if o.person.img_url %}
                  <img src="{{o.person.img_url}}" alt="{{o.person.name}}">
                {% endif %}
                <h3>{{o.ordinal}}</h3>
              </div>
              {% if o.person.mk %}
              </a>
              {% endif %}
            {% if o.ordinal == 1 %}
              {% if object.wikipedia_page %}
              <div class="candidate-list-item">
                  <h1>{% trans 'Wikipedia' %} </h1>
                  <div class=" wikipedia" wikipedia-page="{{object.wikipedia_page}}">
                  </div>
                </div>
              {% endif %}
              <div class="candidate-list-item ballot">
                <h1>{{object.ballot}}</h1>
                <h2>{{object.name}}</h2>
              </div>
              {% endif %}
            {% if o.ordinal == 4 %}
                {% comment %}
                <div class="candidate-list-item links">
                    <h3>{% trans "Links" %}</h3>
                    {% object_links object %}
                </div>
                {% endcomment %}
                {% if agendas %}
                <div class="candidate-list-item expandable-item candidate-list-agendas">
                  <h2>{% trans "Agendas" %}</h2>
                  <table>
                  {% for a in agendas %}
                    <tr {% if forloop.counter >= 6 %}class="more-item"{% endif %}>
                      <td style="width: 20em;"><a href="{{ a.url }}">{{a.name}}</a></td>
                      <td class="numeric">{{a.score|floatformat:"0"}}%</td>
                      <td>
                        {% comment %}
                        <!-- a nice graphics to show the score -->
                        <div class="agenda-score progress">
                          <div class="agenda-marker" data-score="{{a.score}}"></div>
                        </div>
                        {% endcomment %}
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                {% endif %}
                {% comment %}
                <!-- needs more stats before we can display -->
                {% if stats %}
                <div class="candidate-list-item candidate-list-stats">
                  {% trans 'Votes per member' %} {{stats.votes_per_seat}}
                </div>
                {% endif %}
                {% endcomment %}
              {% endif %}
              {% if object.youtube_user and o.ordinal == 8 %}
                <div class="candidate-list-item">
                  <iframe width="390" height="320" src="http://www.youtube.com/embed/?listType=user_uploads&list={{object.youtube_user}}&showinfo=1" frameborder="0" allowfullscreen></iframe>
                </div>
              {% endif %}
              {% if object.facebook_url and o.ordinal == 10 %}
                <div class="candidate-list-item">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href={{object.facebook_url}}&width=292&height=558&show_faces=true&colorscheme=light&stream=true&border_color&header=false&appId=204241419711188" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:558px;" allowTransparency="true"></iframe>
                </div>
              {% endif %}
            {% endfor %}
          </div>
    <a class="more-button" style="display:hidden;">{% trans "more" %}</a>
    <a class="less-button" style="display:hidden;">{% trans "less" %}</a>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bars.js" %}"></script>
    <script type="text/javascript">
      $(document).ready( function () {
          var less_button = $('.less-button');
          less_button.click(function () {
            var item = $(this).parent();
            item.find('.more-item').hide()
            $(this).hide()
            item.children('.more-button').show();
            $('#candidate-list').isotope('reLayout');
          })
          var more_button = $('.more-button');
          more_button.click(function () {
            var item = $(this).parent();
            item.find('.more-item').show()
            $(this).hide()
            var less = item.children('.less-button')
            if (less.length==0)
              item.append(less_button);
            less_button.show();
            $('#candidate-list').isotope('reLayout');
          });
          $('.expandable-item').each(function () {
              $(this).append(more_button.clone(true)) });
          $('.expandable-item .more-button').show();
          var wikipedia = $('.wikipedia');
          if (wikipedia.length > 0) {
            $.getJSON("http://he.wikipedia.org/w/api.php?action=parse&format=json&callback=?",
                {page:wikipedia.attr('wikipedia-page'), prop:'text'},
                function(data) {
                  var wikipedia = $('.wikipedia');
                  wikipedia.html(data.parse.text['*']);
                  // all links are relative, got to make them absolute
                  wikipedia.find('a').each(function() {
                    var cur = $(this).attr('href');
                    $(this).attr('href', 'http://he.wikipedia.org'+cur);
                  });
                  // remove the edit button, make all items but the table a more item
                  // and hide them
                  wikipedia.find('.editsection').remove()
                  wikipedia.children(':not(dl)').addClass('more-item').hide();
                  wikipedia.children('table').first().removeClass('more-item').show();
                  // add the more button
                  wikipedia.append(more_button);
                  more_button.show();
                  $('#candidate-list').isotope('reLayout');
                });
          };
          $('#candidate-list').isotope({
            transformsEnabled: false,
            itemSelector: '.candidate-list-item',
            masonry: { columnWidth: 40 },
           });
      });
    </script>
{% endblock %}
