body{
    margin:0px;
    background: #fafafc;
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 15px;
}

a{
	color: #0080ff;
}

#title a {
    text-decoration: none;
}

#header,
#graph,
#footer{
    max-width: 500px;
    width: 100%;
}
#header{
    background: #FAFAFC;
    overflow: hidden;
    position: absolute;
    z-index: 20;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    top:0;
}

#explanation {
    overflow: auto;
    max-height: 140px;
}

.clear {
    clear: both;
}

.header-hover{
    height: 330px;
}

.header-small {
    height: 70px;
}

	#details{
		margin: 10px 0 0 120px;
    	padding: 0 10px;
		border-left: 1px dotted #cccccc;
		position: relative;
	}
	.label{
			font-size: 11px;
			color: #808080;
			display: block;
		}
		h1{
		    color: #0080FF;
		    font-size: 13px;
		    font-weight: bold;
		    height: 1.35em;
		    margin-top: 0;
		}
		.header-hover h1{
			height: auto;
			overflow: auto;
		}
		#excerpt{
			margin: 18px 0; 
		}
			#excerpt p{
				margin: 0 0 10px;
			}
			.tglelps {
			    margin-bottom: 4px;
			}
			.elpsd {
			    display: none;
			}
			#external-links a{
				display: block;
				font-size: 13px;
				padding-right: 20px;
				line-height: 1.4em;
			}
			#external-links a.oknesset-resource{
				background: url(../img/oknesset_favicon.png) right no-repeat;
			}
			#external-links a.knesset-resource{
				background: url(../img/knesset_favicon.png) right no-repeat;
			}
			
		.status{
		    background: scroll 0 0 transparent;
		    display: block;
		    float: left;
		    height: 40px;
		    left: 10px;
		    margin-top: -30px;
		    position: absolute;
		    text-indent: -9999px;
		    top: 70px;
		    width: 80px;
		    z-index: 10;
		    overflow: hidden;
		}
		
		#header .status{
			bottom: 10px;
			top: auto;
			left: -100px;
		}
		
		.status.passed{
			background: url(../img/embed_passed.png) no-repeat;
		}
		
		.status.failed{
			background: url(../img/embed_failed.png) no-repeat;
		}
		
	#pms{
		margin: 10px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
	}
		#pms ul{
			height: 22px;
			overflow: hidden;
			margin: 0;
    		padding: 0;
    		float: right;
    		width: 75px;
		}
		.header-hover #pms ul{
			height: auto;
    		width: 100px;
		}
			#pms li,
			#pms a.more{
				float: right;
			    height: 20px;
			    list-style: none outside none;
			    margin-bottom: 5px;
			    margin-left: 3px;
			}
			#pms a.more{
				margin-left: 0;
				text-decoration: none;
				line-height: 1.5em;
			}
			.header-hover #pms a.more{
				display: none;
			}
				#pms li a{
				    border: 1px solid #1088FE;
				    display: block;
				    height: 20px;
				    overflow: hidden;
				}
				#pms li img{
					width: 20px;
					height: auto;
					}
					#pms ul:hover{
						overflow:visible;
					}
					#pms li:hover{
						position:relative;
						margin-left: 25px
					}
					#pms li:hover a{
						width: 40px;
						height: 58px;
						top: -10px;
						right: -10px;
						position: absolute;
					}
					#pms li:hover img{
						width: 40px;
						height: auto;
						z-index: 30000;
					}
	.pull{
		clear: both;
		width: 100%;
		display: block;
		background: #eeeff5;
		text-indent: -30000px;
		text-decoration: none;
		position: absolute;
		bottom: 0;
		height: 10px;
		cursor: pointer;
	}
		.pull .arrow {
			width: 9px;
			height: 9px;
			position: absolute;
			left: 50%;
		}
			.pull .arrow.down {
				background: url(../img/embed_arrow_down.png) no-repeat;
			}
			.pull .arrow.up {
				background: url(../img/embed_arrow_up.png) no-repeat;
			}

#gov-position{
	display: none;
}
#graph{
	margin-top: 60px;
	position: relative;
}
	ul#steps{
		margin: 0;
		padding: 0;
	    overflow: hidden;
		list-style-type: none;
		width: 100%;
	}
		ul#steps li{
			background: #eeeff5;
			/* max-width: 60px; */
			width: 12.5%;
			float: right;
			height: 100%;
			margin: 0;
			min-height: 250px;
			padding-top: 40px;
			position: relative;
		}
		ul#steps li#summoned-1,
		ul#steps li#summoned-2{
		  display: none;
		}
		ul#steps li:hover{
			background-image: url(../img/embed_hover.png);
		}
		ul#steps li.current{
			/*background-image: url(../img/embed_step_shadow.png);*/
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}
		ul#steps li.odd{
			background-color: #f5f5f9;
		}
		ul#steps li.passed{
			background-color: #e6eee6;
		}
		ul#steps li.odd.passed{
			background-color: #d6e3d6;
		}
		ul#steps li.failed{
			background-color: #f8ded7;
		}
		ul#steps li.odd.failed{
			background-color: #f4c8bd;
		}
			ul#steps li div.step{
				height: 86px;
			}
			ul#steps li.passed div.step{
				background: url(../img/embed_line_passed.png) bottom repeat-x;
			}
			ul#steps li#initiated div.step{
				background-position: bottom left;
				background-repeat: no-repeat;
			}
			ul#steps li#passed div.step{
				background-position: bottom right;
				background-repeat: no-repeat;
			}
			ul#steps li.pending.current div.step{
				background: url(../img/embed_line_pending.png) bottom right no-repeat;
			}
			ul#steps li.failed.current div.step{
				background: url(../img/embed_line_failed.png) bottom right no-repeat;
			}
			ul#steps li a{
			    display: none;
			    width: 20px;
			    height: 20px;
			    margin: 0 auto 8px;
			    text-indent: -30000px;
			    text-decoration: none;
			}
			ul#steps li:hover a{
					display: block;
				}
				ul#steps li a.link{
					background: url(../img/embed_link.png);
				}
				ul#steps li a.info{
					background: url(../img/embed_info.png);
				}
				ul#steps li.pending a{
					background-position: 0 -20px;
				}
				ul#steps li.failed a{
					background-position: 0 -40px;
				}
				ul#steps li a:hover{
					background-position: 0 bottom;
				}
				ul#steps li span.date{
					display: block;
					position: absolute;
					bottom: 0;
					text-align: center;
					font-size: 11px;
					height: 60px;
					margin: 0 auto;
					width: 100%;
					color: #808080;
					opacity: 0.5;
				}
				ul#steps li.passed span{
					color: #43873a;
				}
				ul#steps li.failed span{
					color: #b44630;
				}
				ul#steps li:hover span.date{
					opacity: 1;
				}
				ul#steps li .icon{
					position: absolute;
					top: 100px;
					width: 100%;
					height: 50px;
					background: url(../img/embed_icons_initiated.png) top center;
					text-indent: -999999px;
					z-index: 1;
					display: block;
				}
				ul#steps li#initiated .icon{
					background-image: url(../img/embed_icons_initiated.png);
				}
				ul#steps li#pre-vote .icon{
					background-image: url(../img/embed_icons_pre-vote.png);
				}
				ul#steps li#committee-1 .icon{
					background-image: url(../img/embed_icons_committee.png);
				}
				ul#steps li#vote-1 .icon{
					background-image: url(../img/embed_icons_vote-1.png);
				}
				ul#steps li#committee-2 .icon{
					background-image: url(../img/embed_icons_committee.png);
				}
				ul#steps li#vote-2 .icon{
					background-image: url(../img/embed_icons_vote-2.png);
				}
				ul#steps li#vote-3 .icon{
					background-image: url(../img/embed_icons_vote-3.png);
				}
				ul#steps li#passed .icon{
					background-image: url(../img/embed_icons_passed.png);
				}
				ul#steps li.passed .icon{
					background-position: center center;
				}
				ul#steps li.failed .icon{
					background-position: bottom center;
				}
				ul#steps li .tooltip{
				    display: none;
				    height: 30px;
				    position: absolute;
				    text-align: center;
				    top: 155px;
				    left: -150%;
				    width: 400%;
				    z-index: 200;
				}
				ul#steps li .tooltip span{
					background: url(../img/embed_tooltip_pending.png) center;
					padding: 11px 4px 4px;
					font-size: 13px;
					height: 20px;
				}
				ul#steps li.first .tooltip{
					left: -310%;
					text-align: right;
				}
				ul#steps li.first .tooltip span{
					background-position: 40% 0;
				}
				ul#steps li.last .tooltip{
					right: -310%;
					text-align: left;
				}
				ul#steps li.last .tooltip span{
					background-position: 86% 0;
				}
				ul#steps li.passed .tooltip span{
					background-image: url(../img/embed_tooltip_passed.png);
				}
				ul#steps li.failed .tooltip span{
					background-image: url(../img/embed_tooltip_failed.png);
				}
				ul#steps li:hover .tooltip,
				ul#steps li.hover .tooltip{
					display: block;
				}
				
				ul#steps li .tooltip-score{
				    display: none;
				    position: absolute;
				    z-index: 200;
				}
				ul#steps li.voted:hover .tooltip-score {
					display: block;
				}
				ul#steps li.voted .step{
					margin-top: -30px;
					padding-bottom: 30px;
				}
				ul#steps li.voted .tooltip-score{
					top: 75px;
					width: 300%;
					left: -100%;
				}
				ul#steps li.voted .tooltip-score span{
					background-image: url(../img/embed_scale.png);
					background-repeat:no-repeat;
					color: #fff;
					position: absolute;
					text-indent: -99999px;
					display: block;
					height: 19px;
					padding: 11px 0 0;
				}
				ul#steps li.voted .tooltip-score .scale{
					width: 120px;
					text-align: center;
					overflow: hidden;
					margin: 0 auto;
				}
				ul#steps li.voted .tooltip-score span.for{
					background-position: top;
					width: 100%;
					position: static;
				}
				ul#steps li.voted .tooltip-score span.against{
					background-position: right bottom;
    				z-index: 10;
				}
				ul#steps li.voted .tooltip-score span.balance{
				    background: none repeat scroll 0 0 transparent;
				    position: absolute;
				    text-align: center;
				    text-indent: 0;
				    width: 100%;
				    z-index: 20;
				    padding-top:3px;
				}
		ul#steps li.focused{
			width: 80%;
		}
				
#footer{
	position: relative;
	bottom: 0;
    background: #EEEFF5;
    height: 20px;
    font-size: 11px;
	box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
	#footer,
	#footer a{
		color: #999;
	}
	#footer a:hover{
		color: #666;
	}
	#footer #credit{
		float: right;
		padding: 1px 5px;
	}
	#footer #share{
		float: left;
		padding: 1px 5px;
	}

	#footer #share a{
		background: url(../img/embed_link.png) right -20px no-repeat;
		padding: 2px 20px 2px 0;
		margin-right: 3px;
		text-decoration: none;
	}
	#footer #share a.embed{
		background-image: url(../img/embed_embed.png);
	}
	#footer #share a:hover{
		background-position: right -60px;
	}

.ui-dialog{
    background: #EEEFF5; 
    border: 1px dotted #cccccc;
    opacity: 0.86;
}

.ui-widget-header{
    background: none;
    border: none;
    height: 13px;
}

.ui-dialog-titlebar {
  background-color: #D8DFEA !important;
  opacity: 0.6;
  direction: rtl;
}

.ui-dialog-title {
  float: right !important;
  font-size: 12px
}

.ui-dialog-content {
  color: black;
  float: right !important;
  overflow: auto !important;
}

.ui-dialog-content a {
    color: blue !important;
}