body{
    margin:1em;
}

.oknesset_frame {
    background-color:#EFEFEF;
    border:1px solid #E6E6E6;
    direction:rtl;
    font-family:tahoma,arial;
    font-size:14px;
    height:186px;
    min-width:370px;
    padding:5px;
    position:relative;
    overflow: hidden;
    width:400px;
    box-sizing: border-box;
    color: #464545;
    position: relative;
    border-radius: 10px;
    border: 2px solid #777777;
}

a:visited, a:link {
    color:#464545;
    text-decoration:none;
}

a:hover, a:active {
    color:#464545;
    text-decoration:underline;
}
.oknesset_link { float:left;}
.oknesset_frame .oknesset_link a {
  font-size: 12px;
  text-decoration: underline;
  position: relative;
  top: 20px;
}
.oknesset_content_top {
    padding-right: 0px;
    margin-bottom: 20px;
}

.oknesset_image {
    border:1px solid #E6E6E6;
    width:74px;
    height:110px;
    float:right;
    margin-left: 15px;
   border-radius: 6px;
}
.oknesset_content_top > div {
  margin-right: 80px;
}
.oknesset_name {
    font-weight: bold;
}
.oknesset_committees {
    margin-top: 3px;
}
.oknesset_committees ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom:10px;
    padding: 0;
    height: 100%;
}
.oknesset_committees li {
	background-color:#777;
  border-radius: 6px;
	display:inline-block;
	font-size:14px;
	margin-left:5px;
	margin-top:4px;
	padding:3px 8px;
	white-space:nowrap;
}

.oknesset_committees li a, .oknesset_committees li a:link, .oknesset_committees li a:active, .oknesset_committees li a:visited   {
  color: white;
}
.oknesset_attendance_value {
    font-weight: bold;
}
.oknesset_attendance {
    margin-top: 8px;
}
.oknesset_law_flow {
    margin-top:13px;
}
.oknesset_proposals, .oknesset_laws {
    display:inline-block;
}
.oknesset_proposals {
  margin-left: 20px;
}
.oknesset_proposals_number, .oknesset_laws_number {
  display: inline-block;
  background-color: #337AB7;
  border-radius: 6px;
  margin-left: 5px;
  color: white;
  text-align: center;
  padding: 3px;
}

.oknesset_laws_number {
  background-color: #5CB85C;
}
.oknesset_proposals_desc, .oknesset_laws_desc {
    top: 13px;
    font-size:12px;
}

.clear {height:0; overflow:hidden; clear:both;}
