{% load i18n avatar_tags %}
{% for t in object_list %}
    <li class="agenda-mini">
        <div style="float:left;">
            <div id="rating_{{t.id}}" data-rating="{{t.rating.get_rating}}" data-provider="rating"></div>
        </div>
        <header>
            <a href="{% url public-profile t.creator.username %}">{% avatar t.creator 48 %}</a>
            <h3>
                <a href="{% url public-profile t.creator.username %}">{{t.creator}}</a><span>{{t.creator.get_full_name}}</span>
            </h3>
        </header>
        <div>
          <div>
              <a href="{{ t.get_absolute_url }}">{{ t.title|truncatewords:10 }}</a>
              <div>
              {% if not object %}
              {% for c in t.committees.all %}
                  <a href="{% url committee-detail c.id %}" class="label">{{c}}</a>
              {% endfor%}
              {% endif %}
              </div>
        </div>
    </li>
{% empty %}
    <li>{% trans 'No topics suggested yet' %}</li>
{% endfor %}
