{% extends "site_base.html" %}
{% load i18n comments annotatetags hashtag mks_tags agendas_tags hitcount_tags pagination_tags %}
{% load static from staticfiles %}

{% block extratitle %}{{ object.topics|safe|truncatewords:10 }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ description }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extracss %}
    <link href="{% static "annotatetext/annotate.css" %}?v=1" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/jquery.autocomplete.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static "js/tagging.js" %}"></script>
    <script type="text/javascript" src="{% static "annotatetext/annotate.js" %}?v=1"></script>
    <script type="text/javascript" src="{% static "js/jquery.colorPicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% static "js/committeemeeting_detail.js" %}"> </script>
<script type="text/javascript">
    $(document).ready(function() {
        {% get_hit_count_javascript for object %}
    });
    // current hit count = {% get_hit_count for object %}
</script>
{% endblock %}


{% block nav-committees %}{% ifnotequal object.committee.type 'plenum' %}class="active"{% endifnotequal %}{% endblock %}
{% block nav-plenum %}{% ifequal object.committee.type 'plenum' %}class="active"{% endifequal %}{% endblock %}


{% block breadcrumbs %}
        {% ifnotequal object.committee.type 'plenum' %}
            <li><a href="{% url 'committee-list' %}">{% trans "Committees" %}</a> <span class="divider">/</span></li>
        {% endifnotequal %}
        <li><a href="{{ object.committee.get_absolute_url }}">{{ object.committee }}</a> <span class="divider">/</span></l1>
        <li class="active">{{object.date_string}}</li>
{% endblock %}

{% block messages %}
<span id="message_permission">
    <a href="{% url 'edit-profile' %}">{% trans "Please validate your email to annotate" %}</a>
</span>
<span id="message_staff">
    {% trans "Sorry, only editor can delete annotations." %}
    <a href="mailto:editor@oknesset.org">{% trans "Please email editors if an annotation should be deleted" %}</a>
</span>
{% endblock %}
{% block divcontent %}
    <section class="card card-main">
        <div class="row">
            <div class="span6 card-details">
                <div class="spacer fill">
                    <h1>{{ object.topics|safe }}</h1>
                    {% ifequal object.committee.type 'committee' %}
                        <p>{{title}}</p>
                    {% endifequal %}
                </div>
            </div>
            <div class="span6 social-details">
                <div class="spacer fill">
                    <h2>{% trans "MKs attended" %}</h2>
                    {% include "committees/committee_member_photos.html" with members=members chairpersons=object.committee.chairpersons.all replacements=object.committee.replacements.all%}

                    {% if user.is_authenticated %}
                    <form method="post" action="." class="form-inline">{% csrf_token %}
                        <input type="hidden" name="user_input_type" value="mk">
                        <label for="id_mk_name">{% trans "Suggest an MK" %}</label>
                        <input type="text" name="mk_name" id="id_mk_name">
                        <input type="submit" value="{% trans "Submit" %}" class="btn">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="span9 cards">
            {% if object.bg_material %}
            <section class="card card-list">
                <header><h2>{% trans "Background Material" %}</h2></header>
                <ul>
                    {% for b in object.bg_material %}
                    <li><a href="{{ b.url}}">{{ b.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            {% ifnotequal object.committee.type 'plenum' %}
                <section class="card card-list">
                    <header><h2>{% trans "Bills" %}</h2></header>
                    <ul>
                    {% for b in object.bills_first.all %}<li><a href="{% url 'bill-detail' b.id %}">{{ b }}</a></li>{% endfor %}
                    {% for b in object.bills_second.all %}<li><a href="{% url 'bill-detail' b.id %}">{{ b }}</a></li>{% endfor %}
                    {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="." class="form-inline">{% csrf_token %}
                            <input type="hidden" name="user_input_type" value="bill">
                            <label for="id_bill_text">{% trans "Suggest a matching bill" %}</label>
                            <input type="text" class="bill_input" name="bill_text" id="id_bill_text">
                            <input type="hidden" name="bill_id">
                            <input type="submit" value="{% trans 'Submit' %}" class="btn"></input>
                        </form>
                    </li>
                    {% endif %}
                    </ul>
                </section>
            {% endifnotequal %}

            {% with object.parts.list as parts %}
            {% autopaginate parts paginate_by %}
            <div class="text-center">{% paginate %}</div>
            <section class="card card-list">
                <header><h2>{% trans 'Protocol' %}</h2></header>
                    {% get_annotations_for parts as annotation_dict %}
                    <div class="protocol">
                    {% for speech_part in parts %}
                      {% with speech_part.id as spid %}
                      {% with annotation_dict|hash:spid as annotation_obj %}
                      {% if forloop.first %}
                <script type="text/html" id="annotationform">
                    <div class="annotation-form" id="annotationform-<%=speech_part.id%>">
                        <form action="{% url 'annotatetext-post_annotation' %}" method="post" accept-charset="utf-8" id="annotationrealform-<%=speech_part.id%>" class="annotationrealform">{% csrf_token %}
                        {% with annotation_obj|hash:"form" as annotation_form %}
                            <div class="annotationselection">
                              <span class="arrowhint">&#8658;</span>
                              <span class="selectionempty" id="selectionempty-<%=speech_part.id%>"> {% trans "Please Mark Passage" %}</span>
                              <span class="selectionhint" id="selectionhint-<%=speech_part.id%>"> </span>
                              <span class="hideme">
                              <label for="selection_start-<%=speech_part.id%>">{% trans "Beginning with" %}</label>
                              <input type="text" size="3" value="" name="selection_start" id="selection_start-<%=speech_part.id%>"/>
                              <label for="selection_end-<%=speech_part.id%>">{% trans "Ending with" %}</label>
                              <input type="text" size="3" value="" name="selection_end" id="selection_end-<%=speech_part.id%>"/>
                              </span>
                            </div>
                            <p class="annotationfields">
                               <label>{% trans "Type your note" %}:</label>
                               {{ annotation_form.flags }}
                                <br />
                                <label>{% trans "Color" %}:</label>
                                <input type="text" size="6" name="color" id="annotationcolor-<%=speech_part.id%>" value="#99ccff"/>
                                <input type="hidden" name="object_id" value="<%=speech_part.id%>"/>
                                {{ annotation_form.content_type }}
                            </p>
                            {{ annotation_form.comment }}
                            <div>
                                <input type="hidden" name="lengthcheck" value="<%=speech_part.length%>"/>
                                <input type="submit" value="{% trans "Save note" %}"/>
                                <a href="#annotationform-<%=speech_part.id%>" class="annotationform-cancel" id="cancelable-<%=speech_part.id%>">{% trans "Cancel" %}</a>
                            </div>
                            <p class="annotationlicensing">
                                {% trans "Your note will be published under"%}&nbsp; <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.he">cc-by-sa-3.0</a>
                            </p>
                        {% endwith %}
                        </form>
                        </div>
                </script>
                      {% endif %}
                      <div class="speech-{{ object.id }} speech-container row" id="speech-{{ object.id }}-{{ speech_part.order }}">
                        <div class="text-speaker span9" {% if speech_part.header %}style="background-color:{{ colors|hash:speech_part.header }}" {% endif %}>
                            {% firstof speech_part.header "&nbsp;" %}
                            {% ifnotequal speech_part.order 1 %}
                                <a href="#speech-{{ object.id }}-{{ speech_part.order }}" class="permalink">¶</a>
                            {% endifnotequal %}
                        </div>

                        <div class="text-content span6" id="annotations-{{ speech_part.id }}_content">
                            <blockquote cite="{{ session.document_url }}" id="annotationtext_{{ speech_part.id }}" class="entry-content" style="background-color:{{colors|hash:speech_part.header}}">{{ speech_part.body|simple_formatting }}</blockquote>
                        </div>
                        <div class="span3">
                            <div style="display:none" class="annotationtoolbox annotating form-inline" id="annotationtoolbox-{{ speech_part.id }}">
                                <label for="markall-{{ speech_part.id }}">{% trans "View all" %}</label>
                                <input type="checkbox" class="markall" name="markall-{{ speech_part.id }}" id="markall-{{ speech_part.id }}"/>
                            </div>
                            <p class="tool-links">
                                <a href="#annotationform-{{ speech_part.id }}" class="annotationform-link annotating" id="selectable-{{ speech_part.id }}">{% trans "Annotate"%}</a>
                            </p>
                            <div class="annotating annotation-content" id="annotations-{{ speech_part.id }}">
                                {% with annotation_obj.annotations as annotations %}
                                {% for annotation in annotations %}
                                {% include "annotatetext/_annotation.html" %}
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                      {% endwith %}
                      {% endwith %}
                      </div>
                    {% endfor %}
                    </div>
            </section> <!-- protocol -->
            <div class="text-center">{% paginate %}</div>
            {% endwith %}
        </div>

        <div class="span3">
            <aside class="sidebar sidebar-agendas">
                <header><h2>{% trans "Tags" %}</h2></header>
                <div id="tagging-container">
                    <div id="tags">
                        {% if object.tags %}
                            {% for t in object.tags %}
                                <a id="tag_{{t.id}}" href="{% url 'tag-detail' slug=t %}" class="tag label">{{ t }}</a>
                            {% endfor %}
                        {% else %}
                            <span id="no-tags-yet">{% trans "No tags yet" %}</span>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div id="add_tags" data-app-label="committees" data-object-type="committeemeeting" data-id="{{object.id}}">
                    <div id="add_tags">
                        <h3>{% trans "Edit Tags" %}</h3>
                        <span id="possible_tags"></span><br>
                        <a href="javascript:get_tags_list('{% url 'related-tags' resource_name='tag' api_name='v2' app_label='committees' object_type='committee' object_id=object.committee.id related_name='meetings' %}');">{% trans "Click here for tags related to this committee" %}</a><br><a href="javascript:get_tags_list();">{% trans "Click here to see all available tags" %}</a>
                    </div>
                {% else %}
                    <div class="alert alert-block"><a href="{% url 'login' %}?next={{request.get_full_path}}">{% trans "Login to edit tags" %}</a></div>
                {% endif %}
            </aside>

            <aside class="sidebar">
                {% agendas_for user object 'committeemeeting' %}
            </aside>
        </div>
    </div>

{% endblock %}



{% block footer %}
<script>
    window.logged_in = {% if request.user.is_anonymous %}false{% else %}true{% endif %};
    window.permission = {% if perms.annotatetext.add_annotation %}true{% else %}false{% endif %};
    window.is_staff = {% if request.user.is_staff %}true{% else %}false{% endif %};
    window.username = "{{ request.user.username }}";
    window.parts_lengths = {{ parts_lengths|safe }};
</script>
{% endblock %}
