{% extends "site_base.html" %}
{% load i18n mks_tags avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{{ object }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block extrajs %}
    <script src="{% static "js/jquery.raty.min.js" %}"></script>
    <script>
        $.fn.raty.defaults.readOnly = true;
        $.fn.raty.defaults.number = 7;
        $.fn.raty.defaults.path = '{% static "img" %}';
        $.fn.raty.defaults.width = 150;

        function setRating() { // will reuse it for ok-more callback
            $('[data-provider="rating"]').raty({
                score: function() {
                    return $(this).data('rating');
                }
            }).removeAttr('data-provider');
        }

        $(document).ready(function() {
            setRating();
            $('a[rel=popover]').popover({
                offset: 10,
                trigger: 'manual',
                animate: false,
                html: true,
                placement: 'right',
                template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>',
                content: function() {
                    return $(this).siblings('.tip').html();
                }

            }).mouseenter(function(e) {
                $('a[data-original-title]').not(this).popover('hide');
                $(this).popover('show');
            });
        });
    </script>
{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block nav-committees %}{% ifnotequal object.type 'plenum' %}class="active"{% endifnotequal %}{% endblock %}
{% block nav-plenum %}{% ifequal object.type 'plenum' %}class="active"{% endifequal %}{% endblock %}


{% block breadcrumbs %}
        {% ifnotequal object.type 'plenum' %}
            <li><a href="{% url 'committee-list' %}">{% trans "Committees" %}</a> <span class="divider">/</span></li>
        {% endifnotequal %}
        <li class="active">{{object}}</li>
{% endblock %}

{% block divcontent %}

    {% if object.type == 'committee' or object.description != None %}
        <section class="card card-main">
            <div class="row">
                <div class="span6 card-details">
                    <div class="spacer fill">
                        <h1>
                            {% ifequal object.type 'plenum' %}
                                {% trans "Knesset Plenum" %}
                            {% else %}
                                {{object}}
                            {% endifequal %}
                        </h1>
                        <p>{{object.description|linebreaksbr}}</p>
                    </div>
                </div>
                {% ifequal object.type 'committee' %}
                    <div class="span6 social-details">
                        <div class="spacer fill">
                            {% include "committees/committee_member_photos.html" with extra_class="committee-members"%}
                        </div>
                    </div>
                {% endifequal %}
            </div>
        </section>
    {% endif %}
    

    <div class="row">
        <div class="cards span8">
            <section class="card card-list">
                <header><h2><i class="fa fa-calendar"></i>{% trans 'Future Meetings' %}</h2></header>
                <ul>
                {% for o in future_meetings_list %}
                    {% include "events/_event_li.html" %}
                {% empty %}
                    <li>{% trans "None" %}</li>
                {% endfor %}
                </ul>
            </section>
            <section class="card card-list">
                <header><h2><i class="fa fa-minus-circle"></i>{% trans 'Meetings for which a protocol was not yet published' %}</h2></header>
                <ul>
                {% for o in protocol_not_yet_published_list %}
                    {% include "events/_event_li.html" %}
                {% empty %}
                    <li>{% trans "None" %}</li>
                {% endfor %}
                </ul>
            </section>
            <section class="card card-list card-list-latest">
                <header><h2><i class="fa fa-clock-o"></i>{% trans 'Last Meetings' %}</h2></header>
                <ul>
                {% for o in meetings_list %}
                    {% include "committees/_meeting_li.html" with add_li=1 %}
                {% empty %}
                    <li>{% trans "None" %}</li>
                {% endfor %}
                    <li><a href="all_meetings/">{% trans 'more...'%}</a></li>
                </ul>
            </section>
            {% ifnotequal object.type 'plenum' %}
                <section class="card card-list">
                    <header><h2><i class="fa fa-file-text"></i>{% trans 'MMM Documents' %}</h2></header>
                    <ul id="recent-mmm">
                    {% include "mks/mmm_partials.html" with object_list=object.mmm_documents.all %}
                    </ul>
                </section>
            {% endifnotequal %}
        </div> <!-- span8 -->

        <div class="span4">
            {% ifnotequal object.type 'plenum' %}
                <aside class="sidebar sidebar-comments">
                    <h2>{% trans "Suggested Agenda Topics" %}</h2>
                    <ul id="committee-topics">
                        <li class="agenda-mini">
                        {% if user.is_authenticated %}
                            {% if perms.committees.add_topic %}
                                <a class="btn" href="{% url 'edit-committee-topic' object.id %}">{% trans "Suggest Topic" %}</a>
                            {% else %}
                                {% trans 'to suggest a topic' %}, {% trans 'Please' %} 
                                <a class="bold-link" href="{% url 'edit-profile' %}">{% trans 'validate your email' %}</a> 
                            {% endif %}
                        {% else %}
                                <a href='{% url 'login' %}?next={{request.get_full_path}}'>{% trans 'Please login to suggest a topic' %}</a>
                        {% endif %}
                        </li>
                    {% include "committees/_topics_summary.html" with object_list=topics%}
                    </ul>
                </aside>
            {% endifnotequal %}

            <aside class="sidebar sidebar-comments">
                <h2>{% trans "Latest Annotations" %}</h2>
                    <ul class="annotations">
                    {% for a in annotations|slice:":5" %}
                        <li class="agenda-mini">
                            <a rel="popover" href="{{a.get_absolute_url }}" title="{{a.flag_value}}">
                                "...{{a.selection}}..." ({{a.content_object.header}})
                                <div class="tip" style="display:none">
                                    <div class="user_id">
                                        <a href="{% url 'public-profile' a.user.username %}">{% avatar a.user 45 %}
                                        {{ a.user }}</a>
                                    </div>
                                    {{a.comment|linebreaks}}
                                </div>
                            </a>
                        </li>
                    {% empty %}
                        <li>{% trans "No annotations yet..." %}</li>
                    {% endfor %}
                    </ul>
            </aside>

        </div> <!-- span4 -->
    </div>
{% endblock %}
