{% extends "site_base.html" %}
{% load i18n comments annotatetags hashtag mks_tags agendas_tags hitcount_tags pagination_tags %}
{% load static from staticfiles %}

{% block extratitle %}{{ object.topics|safe|truncatewords:10 }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ description }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extracss %}
    <link href="{% static "annotatetext/annotate.css" %}?v=1" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/jquery.autocomplete.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static "annotatetext/annotate.js" %}?v=1"></script>
    <script type="text/javascript" src="{% static "js/jquery.colorPicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% static "js/waypoints.min.js" %}"> </script>
    <script type="text/javascript" src="{% static "js/committeemeeting_detail.js" %}"> </script>
<script type="text/javascript">
    $(document).ready(function() {
        {% get_hit_count_javascript for object %}
    });
    // current hit count = {% get_hit_count for object %}
</script>
{% include "auxiliary/tags_object_edit_extrajs.html" with app_label="committees" object_type="committeemeeting" object_id=object.id %}
{% endblock %}


{% block nav-committees %}{% ifnotequal object.committee.type 'plenum' %}class="active"{% endifnotequal %}{% endblock %}
{% block nav-plenum %}{% ifequal object.committee.type 'plenum' %}class="active"{% endifequal %}{% endblock %}


{% block breadcrumbs %}
        {% ifnotequal object.committee.type 'plenum' %}
            <li><a href="{% url 'committee-list' %}">{% trans "Committees" %}</a> <span class="divider">/</span></li>
        {% endifnotequal %}
        <li><a href="{{ object.committee.get_absolute_url }}">{{ object.committee }}</a> <span class="divider">/</span></l1>
        <li class="active">{{object.date_string}}</li>
{% endblock %}

{% block messages %}
<span id="message_permission">
    <a href="{% url 'edit-profile' %}">{% trans "Please validate your email to annotate" %}</a>
</span>
<span id="message_staff">
    {% trans "Sorry, only editor can delete annotations." %}
    <a href="mailto:editor@oknesset.org">{% trans "Please email editors if an annotation should be deleted" %}</a>
</span>
{% endblock %}
{% block divcontent %}
    <section class="card card-main">
        <div class="row">
            <div class="span6 card-details">
                <div class="spacer fill">
                    <h1>{{ object.topics|safe }}</h1>
                    {% ifequal object.committee.type 'committee' %}
                        <p>{{title}}</p>
                    {% endifequal %}
                </div>
            </div>
            <div class="span6 social-details">
                <div class="spacer fill">
                    <h2>{% trans "MKs attended" %}</h2>
                    {% include "committees/committee_member_photos.html" with members=members chairpersons=object.committee.chairpersons.all replacements=object.committee.replacements.all%}

                    {% if perms.committees.change_committeemeeting %}
                    <form method="post" action="." class="form-inline">{% csrf_token %}
                        <input type="hidden" name="user_input_type" value="mk">
                        <label for="id_mk_name">{% trans "Suggest an MK" %}</label>
                        <input type="text" name="mk_name" id="id_mk_name">
                        <input type="submit" value="{% trans "Submit" %}" class="btn">
                    </form>
                    <form method="post" action="." class="form-inline">{% csrf_token %}
                        <input type="hidden" name="user_input_type" value="remove-mk">
                        <label for="id_mk_name">{% trans "Remove an MK" %}</label>
                        <input type="text" name="mk_name" id="id_mk_name">
                        <input type="submit" value="{% trans "Submit" %}" class="btn">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="span9 cards">
            {% if object.bg_material %}
            <section class="card card-list">
                <header><h2><i class="fa fa-puzzle-piece"></i>{% trans "Background Material" %}</h2></header>
                <ul>
                    {% for b in object.bg_material %}
                    <li><a href="{{ b.url}}">{{ b.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            {% ifnotequal object.committee.type 'plenum' %}
                <section class="card card-list">
                    <header><h2><i class="fa fa-gavel"></i>{% trans "Bills" %}</h2></header>
                    <ul>
                    {% for b in object.bills_first.all %}<li><a href="{% url 'bill-detail' b.id %}">{{ b }}</a></li>{% endfor %}
                    {% for b in object.bills_second.all %}<li><a href="{% url 'bill-detail' b.id %}">{{ b }}</a></li>{% endfor %}
                    {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="." class="form-inline">{% csrf_token %}
                            <input type="hidden" name="user_input_type" value="bill">
                            <label for="id_bill_text">{% trans "Suggest a matching bill" %}</label>
                            <input type="text" class="bill_input" name="bill_text" id="id_bill_text">
                            <input type="hidden" name="bill_id">
                            <input type="submit" value="{% trans 'Submit' %}" class="btn"></input>
                        </form>
                    </li>
                    {% endif %}
                    </ul>
                </section>
            {% endifnotequal %}

            {% with object.parts.list as parts %}
            {% autopaginate parts paginate_by %}
            <div class="text-center">{% paginate %}</div>
            <section class="card card-list">
                <header><h2><i class="fa fa-list"></i>{% trans 'Protocol' %}</h2></header>
                <div class="protocol" id="committeeprotocol">
                    {% include "committees/committeemeeting_detail/protocol.html" %}
                </div>
                <div id="protocolinfiniloader" class="hidden text-center">
                    <img src="{% static "img/ajax-loader.gif" %}"/>
                </div>
            </section>
            {% endwith %}
        </div>

        <div class="span3">
            <aside class="sidebar sidebar-agendas">
                {% include "auxiliary/tags_object_edit.html" with tags=object.tags %}
            </aside>

            <aside class="sidebar">
                {% agendas_for user object 'committeemeeting' %}
            </aside>
        </div>
    </div>

{% endblock %}



{% block footer %}
<script>
    window.logged_in = {% if request.user.is_anonymous %}false{% else %}true{% endif %};
    window.permission = {% if perms.annotatetext.add_annotation %}true{% else %}false{% endif %};
    window.is_staff = {% if request.user.is_staff %}true{% else %}false{% endif %};
    window.username = "{{ request.user.username }}";
    window.parts_lengths = {{ parts_lengths|safe }};
</script>
{% endblock %}
