{% extends "site_base.html" %}
{% load i18n mks_tags %}
{% block extratitle %}{% trans "Committees" %}{% endblock %}
{% block keywords %}{{% trans "Committees" %}{% endblock %}
{% block description %}{% trans "Committees" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block divcontent %}
  <h2>{{ flatpage.title }}</h2>
  <div class="main-column">
        {{ flatpage.content|linebreaksbr }}
  </div>
{% endblock %}
