{% load i18n %}
<div class="list-wrap">
    <h2>{% trans 'Coalition' %}</h2>
    {% for o in object_list %}
        {% if o.is_coalition %}
            <a class="hashnav item" id="detail-{{ o.id }}" href="{{ o.get_absolute_url }}">{{ o.name }}</a>&nbsp;
        {% endif %}
    {% empty %}
        {% trans "Data base empty, no objects" %}
    {% endfor %}
    <h2>{% trans 'Opposition' %}</h2>
    {% for o in object_list %}
        {% if o.is_coalition %}
        {% else %}
            <a class="hashnav item" id="detail-{{ o.id }}" href="{{ o.get_absolute_url }}">{{ o.name }}</a>&nbsp;
        {% endif %}
    {% empty %}
        {% trans "Data base empty, no objects" %}
    {% endfor %}

</div>
