{% load i18n %}
<h2><a href=".">{{ object.name }}</a></h2>
<div class="list-wrap">
<h3>{% trans 'Statistics' %}</h3>
<div id="residence_map"></div>
<table id="party-info">
    <tr>
        <td>{% trans "Number of votes" %}</td>
        <td>{{ object.voting_statistics.votes_count }}</td>
    </tr>
    <tr>
        <td>{% trans "Average votes per MK" %}</td>
        <td>{{ object.voting_statistics.votes_per_seat }}</td>
    </tr>
    <tr>
        <td>{% trans "Factional discipline" %}</td>
        <td>{{ object.voting_statistics.discipline }}</td>
    </tr>
    <tr>
        <td>{% if object.is_coalition %}{% trans "Coalition discipline" %}{% else %}{% trans 'Opposition discipline' %}{% endif %}</td>
        <td>{{ object.voting_statistics.coalition_discipline }}</td>
    </tr>
</table>
<h3>{% trans 'Current MKs' %}</h3>
{% for o in object.current_members.all %}
	<a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url member-detail o.id %}">{{ o.name }}</a>&nbsp;
{% empty %}
    {% trans "Data base empty, no objects" %}
{% endfor %}
{% if object.past_members %}
    <h3>{% trans 'Past MKs' %}</h3>
    {% for o in object.past_members %}
	    <a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url member-detail o.id %}">{{ o.name }}</a>&nbsp;
    {% endfor %}
{% endif %}
</div>
