{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{% trans 'Members' %}{% endblock %}
{% block keywords %}{% trans 'Members' %}{% endblock %}
{% block description %}{% trans 'Members' %} - {% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/flot_graphs.js"></script>
{% endblock %}
{% block nav-members %}class="selected"{% endblock %}
{% block subnav %}
        {% for link in friend_pages %}
            <a style="white-space:nowrap;" href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull; 
        {% endfor %}
{% endblock %}
{% block divcontent %}
    <div id="placeholder" style="width:600px;height:300px"></div>
    <div id="legend" style="width:200px;height:100px"></div>

{% endblock %}
