{% extends "site_base.html" %}
{% load i18n %}
{% load links %}
{% load laws_extra %}
{% load activity_tags %}
{% load pagination_tags %}
{% block extratitle %}{{ object.name }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block extrahead %}
    <style>
        .action-actor { display: none; }
    </style>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url member-activity-feed object.id %}">
{% endblock %}
{% block description %}{{ object.name }} - {% endblock %}
{% block nav-members %}class="selected"{% endblock %}
{% block messages %}
<span id="message_login">
    {% trans "You have to be logged in to watch a user." %}
    <a href="{% url login %}?next={{ request.get_full_path }}">{% trans "login" %}</a>
    {% trans "or" %}
    <a href="{% url register %}?next={{ request.get_full_path }}">{% trans "register" %}</a>
</span>
{% endblock %}
{% block subnav %}
    <a id="watch" class="button" href="."></a>
&bull;
    <a class="button" href="{% url member-list %}">{% trans "All Members" %}</a>
&bull;
<a class="button" href="{% url member-activity-feed object.id %}">{% trans "feed" %}</a>
{% endblock %}
{% block divcontent %}
    <h1> {{ object.name }} - <a class="bold-link" id="detail-{{ object.current_party.id }}" href="{% url party-detail object.current_party.id %}">{{ object.current_party.name }}</a></h1>
    <div class="member-details">
        <div class="member-photo"><img src="{{ object.img_url }}"/></div>
        <div>
            <h3> {% trans "Personal Information" %}</h3>
            <table id="member-info">
                <tr>
                    <td>{% trans "age" %}</td>
                    <td>{{ object.date_of_birth|timesince }}</td>
                </tr>
                {% if object.year_of_aliyah %}
                <tr>
                    <td>{% trans "year of aliyah" %}</td>
                    <td>{{ object.year_of_aliyah }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% trans "family status" %}</td>
                    <td>{{ object.family_status }}</td>
                </tr>
                <tr>
                    <td>{% trans "place of birth" %}</td>
                    <td>{{ object.place_of_birth }}</td>
                </tr>
                <tr>
                    <td>{% trans "place of residence" %}</td>
                    <td>{{ object.place_of_residence }}</td>
                </tr>
                <tr>
                    <td>{% trans "residence centrality" %}</td>
                    <td>{{ object.residence_centrality }}</td>
                </tr>
                <tr>
                    <td>{% trans "residence economy" %}</td>
                    <td>{{ object.residence_economy }}</td>
                </tr>

            </table>
        </div>

        <div>
            <h3>{% trans "Statistics" %}</h3>
            <table>
                <tr>
                    <td>{% trans "Number of votes" %}</td>
                    <td>{{ object.voting_statistics.votes_count }}</td>
                    <td>({% trans 'Last 30 days' %}: {{ object|recent_votes_count }})</td>
                </tr>
                <tr>
                    <td>{% trans "Factional discipline" %}</td>
                    <td>{% if object.voting_statistics.discipline %}{{ object.voting_statistics.discipline }}{% else %}{% trans 'Not enough data' %}{% endif %}</td>
                    <td>({% trans 'Last 30 days' %}: {{ object|recent_discipline }})</td>
                </tr>
                <tr>
                    <td>{% if object.current_party.is_coalition %}{% trans "Coalition discipline" %}{% else %}{% trans 'Opposition discipline' %}{% endif %}</td>
                    <td>{% if object.voting_statistics.coalition_discipline %}{{ object.voting_statistics.coalition_discipline }}{% else %}{% trans 'Not enough data' %}{% endif %}</td>
                    <td>({% trans 'Last 30 days' %}: {{ object|recent_coalition_discipline }})</td>
                </tr>   
                <tr>
                    <td>{% trans "Average weekly hours" %}</td>
                    <td>{% if object.average_weekly_presence %}{{ object.average_weekly_presence }}{% else %}{% trans 'Not enough data' %}{% endif %}</td>
                </tr>
                <tr>
                    <td>{% trans "Average number of committee meetings per month" %}</td>
                    <td>{{ object.committee_meetings_per_month }}</td>
                </tr>
                <tr>
                    <td>{% trans "Number of bills proposed" %}</td>
                    <td><a href="{% url bill-list %}?member={{object.id}}&stage=proposed">{{ bills_statistics.proposed }}</a></td>
                </tr>
                <tr>
                    <td>{% trans "Bills passed pre-vote" %}</td>
                    <td><a href="{% url bill-list %}?member={{object.id}}&stage=pre">{{ bills_statistics.pre }}</a></td>
                </tr>
                <tr>
                    <td>{% trans "Bills passed first vote" %}</td>
                    <td><a href="{% url bill-list %}?member={{object.id}}&stage=first">{{ bills_statistics.first }}</a></td>
                </tr>
                <tr>
                    <td>{% trans "Bills approved" %}</td>
                    <td><a href="{% url bill-list %}?member={{object.id}}&stage=approved">{{ bills_statistics.approved }}</a></td>
                </tr>       

            </table>
        </div>
        <div>
            <h3> {% trans "Topics" %}</h3>
            <table >
                <tr>
                    <td>{% trans "Proposed bills topics" %}</td>
                    <td  style="max-width:25em"><div class="tags cloud">{% for tag in bills_tags %}<a href="{% url bill-tag tag=tag %}?member={{object.id}}" class="level{{ tag.font_size }}">{{ tag }}</a> {% endfor %}</div></td>
                </tr>           
            </table>
        </div>
        
        <div>
            <h3> {% trans "Contact Information" %}</h3>
            <table>
                <tr>
                    <td>{% trans "phone" %}</td>
                    <td>{{ object.phone }}</td>
                </tr>
                {% if object.fax %}
                    <tr>
                        <td>{% trans "fax" %}</td>
                        <td>{{ object.fax }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{% trans "e-mail address" %}</td>
                    <td><a class="bold-link" href="mailto:{{object.email}}">{{ object.email }}</a></td>
                </tr>
            </table>
        </div>
        <div>
            <h3>{% trans "Links" %}</h3>
                {% object_links object %}
        </div>
    </div>


    <div class="activities" >
            <form class="select" method="get" action=".">
                {{verbs_form}}
                <input class="awesome-button medium" type="submit" style="float:left;" value="{% trans "Refresh" %}">
            </form>
        <div style="clear:both;"></div>
    {% autopaginate actions %}
    {% for action in actions %}
        {% with action.timestamp|timesince as since %}
        {% ifchanged %}<h3>{% trans "before" %}&nbsp;{{ since }}</h3>{% endifchanged %}
        {% endwith %}
        <p>
            {% display_action action %}
        </p>
    {% empty %}
        <p>
        {% trans "Sorry, no data is available, try selecting more actions and refresh" %}
        </p>
    {% endfor %}
    {% paginate %}
    </div>
    <div style="clear:both;"></div>
    <script>
        $(document).ready(function() {
            var member_id = {{object.id}};
            {% if watched_member %}
                document.is_watched = true;
                $('#watch').html("{% trans 'Unwatch' %}");
            {%else%}
                document.is_watched = false;
                $('#watch').html("{% trans 'Watch' %}");
            {% endif %};
            $('#watch').click( function () {
                if (document.is_watched) {
                    jQuery.ajax({
                        type: 'POST',
                        url: '{% url follow-members %}',
                        data: {unwatch: member_id},
                        context: $('#watch'),
                        success: function () {
                            document.is_watched = false;
                            this.html("{% trans 'Watch' %}");
                        },
                        error:  function(request, textStatus, error) {
                            var msg = $("#message_unknown").html()
                            $.jGrowl(msg, {life: 5000});
                            $('#message_login').show();
                        }
                    });
                }
                else {
                    jQuery.ajax({
                        type: 'POST',
                        url: '{% url follow-members %}',
                        data: {watch: member_id},
                        context: $('#watch'),
                        success: function () {
                            document.is_watched = true;
                            this.html("{% trans 'Unwatch' %}");
                        },
                        error:  function(request, textStatus, error) {
                            var msg = $("#message_login").html()
                            $.jGrowl(msg, {sticky: true});
                        }
                    });
                }
                return (false);
            })
        })
    </script>

{% endblock %}

