{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{% trans 'Members' %}{% endblock %}
{% block description %}{% trans 'Members' %} - {% endblock %}
{% block nav-members %}class="selected"{% endblock %}
{% block subnav %}
        {% for link in friend_pages %}
            <a style="white-space:nowrap;" href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull; 
        {% endfor %}
{% endblock %}
{% block divcontent %}
		{% include "mks/_member_list_with_bars.html" %}
{% endblock %}
