{% extends "site_base.html" %}
{% load i18n %}
{% load common_visual_elements %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{% trans 'Members' %}{% endblock %}
{% block description %}{% trans 'Members' %} - {% endblock %}
{% block nav-members %}class="selected"{% endblock %}
{% block subnav %}
        {% for link in friend_pages %}
            <a style="white-space:nowrap;" href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull; 
        {% endfor %}
{% endblock %}
{% block divcontent %}

<div class="list-wrap">
    <h1>{% trans 'Current MKs' %}</h1>
    {% for o in object_list %}
        {% if o.is_current %}
            <a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url member-detail o.id %}" title="{{ o.current_party.name }}">{{ o.name }}</a> ({{ o.extra|floatformat }})
            {% bar o.extra "for" norm_factor %}
        {% endif %}
    {% empty %}
        {% trans "Data base empty, no objects" %}
    {% endfor %}
    </table>
    <h1>{% trans 'Past MKs' %}</h1>
    {% for o in past_mks %}
        <a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url member-detail o.id %}" title="{{ o.current_party.name }}">{{ o.name }}</a> ({{ o.extra|floatformat }})
        {% bar o.extra "for" norm_factor %}
    {% endfor %}

    </div>
{% endblock %}
