{% load cache i18n %}{% get_current_language as LANGUAGE_CODE %}
{% cache 3600 mkcard mk.pk LANGUAGE_CODE %}
<div class="mk-card{% if cls %} {{ cls }}{% endif %}">
    <div class="avatar-item">{% url member-detail mk.id as mk_url%}
        <a href="{{ mk_url }}"><img src="{{mk.img_url}}"/></a>
    </div>
    <div>
        <a href="{{ mk_url }}">{{ mk.name }}</a><br>
        <a href="{% url party-detail mk.current_party.id %}">{{ mk.current_party.name }}</a><br>
        {{ mk.get_role }}
    </div>
</div>
{% endcache %}
