{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block nav-parties %}class="selected"{% endblock %}
{% block subnav %}
        {% for link in friend_pages %}
            <a style="white-space:nowrap;" href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull; 
        {% endfor %}
{% endblock %}
{% block divcontent %}
    <div class="list-wrap">
        <h2>{% trans 'Coalition' %}</h2>
        {% for o in coalition %}
            <a class="hashnav item" id="detail-{{ o.id }}" href="{% url party-detail o.id %}">{{ o.name }} ({{ o.extra }})</a>
            {% bar o.extra 1 norm_factor baseline %}
        {% empty %}
            {% trans "Data base empty, no objects" %}
        {% endfor %}
    </div>
    <div class="list-wrap">
        <h2>{% trans 'Opposition' %}</h2>
        {% for o in opposition %}
            <a class="hashnav item" id="detail-{{ o.id }}" href="{% url party-detail o.id %}">{{ o.name }} ({{ o.extra }})</a>
            {% bar o.extra 1 norm_factor baseline %}
        {% empty %}
            {% trans "Data base empty, no objects" %}
        {% endfor %}

    </div>
{% endblock %}
