{% extends "site_base.html" %}
{% load i18n %}
{% load common_visual_elements %}
{% block extratitle %}{{ title }}{% endblock %}
{% block nav-parties %}class="selected"{% endblock %}
{% block subnav %}
        {% for link in friend_pages %}
            <a style="white-space:nowrap;" href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull; 
        {% endfor %}
{% endblock %}
{% block divcontent %}
    <div class="list-wrap">
        <h2>{% trans 'Coalition' %}</h2>
        <table>
        {% for o in coalition %}
        	<tr>
	            <td><a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url party-detail o.id %}">{{ o.name }}</a></td>
	            <td>{{ o.extra }}</td>
	            <td class="column-bar">{% bar o.extra "for" norm_factor baseline %}</td>
            </tr>
        {% empty %}
            {% trans "Data base empty, no objects" %}
        {% endfor %}
        </table>
    </div>
    <div class="list-wrap">
        <h2>{% trans 'Opposition' %}</h2>
        <table>
        {% for o in opposition %}
        	<tr>
	            <td><a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url party-detail o.id %}">{{ o.name }}</a></td>
	            <td>{{ o.extra }}</td>
	            <td class="column-bar">{% bar o.extra "for" norm_factor baseline %}</td>
            </tr>
        {% empty %}
            {% trans "Data base empty, no objects" %}
        {% endfor %}
        </table>

    </div>
{% endblock %}
