{% load i18n %}
{% load mks %}
<ul class="member-summary">
    <li>{{ mk|mk_card }}</li>
    <li>
        {% trans 'Presence:' %} 
        <div id="percent_{{mk.id}}" class="percent"></div>
        <script>set_percent({{mk.id}},{{ mk.meetings_count }});</script>
    </li>
    <li><h4>
    {% if mk in chairpersons %}
        {% trans 'Chairperson' %}
    {% else %}
        {% if mk in replacements %}
            {% trans 'Replacement' %}
        {% else  %}
            &nbsp;
        {% endif %}
    {% endif %}
    </h4></li>
</ul>

