{% load i18n %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.raty.min.js"></script>

{% for t in topics %}
    {% if forloop.first %}
        <h3>{% trans "Suggested Agenda Topics" %}</h3>
    {% endif %}
    <div class="item {% cycle "normal" "alt" %}">
        <a href="{{ t.get_absolute_url }}">{{ t.title|truncatewords:10 }}</a>
        <div>
            <!-- not sure we want this
            <div style="float:left">
                {{ t.get_status_display }}
            </div>
            -->
            <div>
                <div style="float:left;">
                    <div id="rating_{{t.id}}" style="float:left;"></div>
                    <!-- ({{t.rating_votes}}) -->
                </div>
            {% if not object %}
            {% for c in t.committees.all %}
                <a href="{% url committee-detail c.id %}"><span style="font-size: 70%">{{c}}</span></a>
            {% endfor%}
            {% endif %}
            </div>
            <div class="clear"></div>
        </div>

    </div>
    {% if forloop.last %}
        <p>
            <a class="more" href="./topic/">{% trans 'more...'%}</a>
        </p>
    {% endif %}
{% endfor %}
<br/>
<script>
    $(document).ready(function () {
        {% for t in topics %}
            $('#rating_{{t.id}}').raty({
                number: 7,
                start: {{t.rating_score}},
                readOnly: true,
                path: '{{ MEDIA_URL }}/img',
                });
        {% endfor %}
    });
</script>


