{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block extratitle %}{% trans "Topics" %}{% endblock %}
{% block header %}
{% endblock %}
{% block divcontent %}
<h1>{% trans "Suggested Agenda Topics" %}{% if committee %} {% trans "for" %} {{committee}}{% endif %}</h1>
    {% autopaginate topics %}
    <div class="item-list">
    {% for t in topics %}
        <div class="item {% cycle "alt" "normal" %}">
            <a href="{{ t.topic.get_absolute_url }}">{{t}}</a>
            {% trans "by" %}: <a href="{% url public-profile t.topic.creator.id %}">{{t.topic.creator}}</a>
            {% if not committee %}
                <a href="{% url committee-detail t.committee.id %}">{{t.committee}}</a>
            {% endif %}
        </div>   
    {% endfor %}
    </div>
    {% paginate %}
<br/>
{% endblock %}
