{% extends "site_base.html" %}
{% load i18n %}
{% load comments %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block divcontent %}
    <h2>{% blocktrans with object.name as committee and object.date_string as date %}
        {{committee}} meeting on {{date}}
    {% endblocktrans %}</h2>
    <a href="{% url committee-detail object.committee.id %}">{% trans 'Back to committee' %}</a><br>
    <h3>{% trans 'Topics' %}</h3> {{ object.topics|safe }}<br>
    <h3>{% trans 'MKs attended' %}</h3> {% for m in object.mks_attended.all %}<a class="hashnav item dontwrap" id="member-{{ m.id }}" href="{% url member-detail m.id %}" title="{{ m.current_party.name }}" />{{ m.name }}</a> &nbsp; {% endfor %}<br>
    {% if user.is_authenticated %}
        {% trans 'Suggest an MK' %}<form method="post" action=".">{% csrf_token %}<input type="hidden" name="user_input_type" value="mk"></input><input type="text" name="mk_name"></input><input type="submit" value="{% trans 'Submit' %}"></input></form>
    {% endif %}                
    
    <h3>{% trans 'Bills' %}</h3> {% for b in object.bills_first.all %}<a class="hashnav item dontwrap" href="{% url bill-detail b.id %}" />{{ b }}</a> &nbsp; {% endfor %}
                                 {% for b in object.bills_second.all %}<a class="hashnav item dontwrap" href="{% url bill-detail b.id %}" />{{ b }}</a> &nbsp; {% endfor %}                                 
    <br>
    {% if user.is_authenticated %}
        {% trans 'Suggest a matching bill' %}<form method="post" action=".">{% csrf_token %}<input type="hidden" name="user_input_type" value="bill"></input><input type="text" name="bill_id"></input><input type="submit" value="{% trans 'Submit' %}"></input></form>
    {% endif %}                

    <h3>{% trans 'Protocol' %}</h3>
    <div class="protocol">{{ object.protocol_text|linebreaks }}</div>

{% get_comment_list for object as comment_list %}
{% if comment_list %}
    <h3>{% trans 'User comments' %}</h3>
    {% for comment in comment_list %}
        <a name="c{{ comment.id }}"></a>
        {{ comment.user.username|escape }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}} {{ comment.submit_date|timesince }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}}: 
        <div class="comment">{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</div>
    {% endfor %}
{% else %}
    <h3>{% trans 'No comments yet' %}</h3>
{% endif %}

{% if user.is_authenticated %}
    {% if perms.comments.add_comment %}
        {% render_comment_form for object %}
    {% else %}
        {% trans 'Please' %} <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a>{% trans ' to comment' %}
    {% endif %}
{% else %}
    {% trans 'Please login to comment' %}
{% endif %}


{% endblock %}
