{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block divcontent %}
    {% with object_list|length as count %}
        <h1>{% blocktrans %}{{ count }} Committee meetings tagged <a href="{{ tag_url }}">{{ tag }}</a>{% endblocktrans %}</h1>
    {% endwith %}
    <div class="item-list">
        {% for o in object_list %}
        <div class="item {% cycle "alt" "normal" %}">
            {% include "committees/_meeting_li.html" %}
        </div>
        {% empty %}
            {% trans "No results found" %}
        {% endfor %}
    </div>
    {% if members %}
        <div><h2>{% blocktrans %}MKs attendance in committee meetings related to {{ tag }}{% endblocktrans %}</h2>
            <div class="tags cloud">
               {% for mk in members %}
                   <a href="{% url member-detail pk=mk.id %}" class="level{{ mk.font_size }}">{{ mk }}</a>
               {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}
{% endblock %}

