{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block divcontent %}
    <div class="datelookup">{% trans 'Lookup by date' %}
    <input type="text" id="datelookup_input" value="{{ object_list.0.date }}"/>
    <input type="submit" id="datelookup_submit" value="{% trans 'Submit' %}"/>
    <script>
        $('#datelookup_submit').click(function(){
                                                 var d = $('#datelookup_input').val();                                                     
                                                 if (d){
                                                        window.location = '{% url committee-meetings-by-date committee_id %}' +d + '/';
                                                 }
                                             });
    </script>
    </div>
    <h2>{{ title }}</h2>
    <div class="clear"></div>
	<ul class="item-list">
        {% for o in object_list %}
            {% include "committees/_meeting_li.html" %}
        {% endfor %}
	</ul> 
    {% if page_obj %}
        {% pagination page_obj paginator request %}
    {% endif %}
      
{% endblock %}
