{% extends "site_base.html" %}
{% load i18n %}
{% load comments %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block divcontent %}
    <h2>{{title}}</h2>
    <a href="{% url committee-all-meetings object.committee.id %}">{% trans 'All committee meetings' %}</a><br>
    {% trans 'Topics' %}: {{ object.topics|safe }}<br>
    {% trans 'MKs attended' %}: {% for m in object.mks_attended.all %}<a class="hashnav item dontwrap" id="member-{{ m.id }}" href="{% url member-detail m.id %}" title="{{ m.current_party.name }}" />{{ m.name }}</a> &nbsp; {% endfor %}<br>
    {% trans 'Relevant votes' %}: {% for v in object.votes_mentioned.all %}<a class="hashnav item dontwrap" id="vote-{{ v.id }}" href="{% url vote-detail v.id %}" />{{ v.title }}</a> &nbsp; {% endfor %}<br>
    <h3>{% trans 'Protocol' %}</h3>
    <div class="protocol">{{ object.protocol_text|linebreaks }}</div>

{% get_comment_list for object as comment_list %}
{% if comment_list %}
    <h3>{% trans 'User comments' %}</h3>
    {% for comment in comment_list %}
        <a name="c{{ comment.id }}"></a>
        {{ comment.user.username|escape }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}} {{ comment.submit_date|timesince }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}}: 
        <div class="comment">{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</div>
    {% endfor %}
{% else %}
    <h3>{% trans 'No comments yet' %}</h3>
{% endif %}

{% if user.is_authenticated %}
    {% if perms.comments.add_comment %}
        {% render_comment_form for object %}
    {% else %}
        {% trans 'Please' %} <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a>{% trans ' to comment' %}
    {% endif %}
{% else %}
    {% trans 'Please login to comment' %}
{% endif %}


{% endblock %}
