{% extends "site_base.html" %}
{% load i18n %}
{% load comments %}
{% load annotatetags %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block extrahead %} 
<link href="{{MEDIA_URL}}css/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.autocomplete.js"></script>
{% endblock %}
{% block divcontent %}
    <h2>{{ title }}</h2>
    <a href="{% url committee-detail object.committee.id %}">{% trans 'Back to committee' %}</a><br>
    <h3>{% trans 'Topics' %}</h3> {{ object.topics|safe }}<br>
    <h3>{% trans 'MKs attended' %}</h3> {% for m in object.mks_attended.all %}<a class="hashnav item dontwrap" id="member-{{ m.id }}" href="{% url member-detail m.id %}" title="{{ m.current_party.name }}" />{{ m.name }}</a> &nbsp; {% endfor %}<br>
    {% if user.is_authenticated %}
        {% trans 'Suggest an MK' %}<form method="post" action=".">{% csrf_token %}<input type="hidden" name="user_input_type" value="mk"></input><input type="text" name="mk_name"></input><input type="submit" value="{% trans 'Submit' %}"></input></form>
    {% endif %}                
    
    <h3>{% trans 'Bills' %}</h3> {% for b in object.bills_first.all %}<a class="hashnav item dontwrap" href="{% url bill-detail b.id %}" />{{ b }}</a> &nbsp; {% endfor %}
                                 {% for b in object.bills_second.all %}<a class="hashnav item dontwrap" href="{% url bill-detail b.id %}" />{{ b }}</a> &nbsp; {% endfor %}                                 
    <br>
    {% if user.is_authenticated %}
    {% trans 'Suggest a matching bill' %}
    <form method="post" action=".">{% csrf_token %}
        <input type="hidden" name="user_input_type" value="bill"></input>
        <input type="text" class="bill_input" name="bill_text"></input>
        <input type="hidden" name="bill_id"></input>
        <input type="submit" value="{% trans 'Submit' %}"></input>
    </form>
    {% endif %}                

    <h3>{% trans 'Protocol' %}</h3>
    <table class="protocol">
        <tr>
        <th>{% trans "Name" %}</th>
        <th></th>
    {% for section in object.parts.list %}
      <tr>
        <th style='width:15em;text-align:right;vertical-align:top;'>{{section.header}}</th>
        <td><p>{{ section.bodylinebreaks }}</p><td>
        <td style='width:30em;'></td>
      </tr>
    {% endfor %}
    </table>


{% get_comment_list for object as comment_list %}
{% if comment_list %}
    <h3>{% trans 'User comments' %}</h3>
    {% for comment in comment_list %}
        <a name="c{{ comment.id }}"></a>
        {{ comment.user.username|escape }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}} {{ comment.submit_date|timesince }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}}: 
        <div class="comment">{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</div>
    {% endfor %}
{% else %}
    <h3>{% trans 'No comments yet' %}</h3>
{% endif %}

{% if user.is_authenticated %}
    {% if perms.comments.add_comment %}
        {% render_comment_form for object %}
    {% else %}
        {% trans 'Please' %} <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a>{% trans ' to comment' %}
    {% endif %}
{% else %}
    {% trans 'Please login to comment' %}
{% endif %}

	<script type="text/javascript">
        $(document).ready(function() {
            var options_bill = { 
                 serviceUrl:'/bill/auto_complete',
                 minChars:2, 
                 maxHeight:400,
                 width:400,
                 deferRequestBy: 100, //miliseconds
                 onSelect: function(value, data, me){ 
                    me.siblings("input[name$='bill_id']").val(data);
                    me.siblings("input[type$='submit']").removeAttr('disabled'); },
                 };

            var options_mk = { 
                 serviceUrl:'/member/auto_complete',
                 minChars:0, 
                 maxHeight:400,
                 width:150,
                 deferRequestBy: 100, //miliseconds
                 };

            $('input.bill_input').autocomplete(options_bill);
            $('input.bill_input').keydown(function() { 
                $(this).siblings("input[name$='bill_id']").val('');
                $(this).siblings("input[type$='submit']").attr('disabled', 'disabled'); });
            $("input[name$='mk_name']").autocomplete(options_mk);
          });
	</script>


{% endblock %}
