{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{% trans "Committees" %}{% endblock %}
{% block keywords %}{{% trans "Committees" %}{% endblock %}
{% block description %}{% trans "Committees" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-committees %}class="selected"{% endblock %}
{% block divcontent %}
    <h2>{% trans "Committees" %}</h2>
  <div class="main-column">
        {% for o in committees %}
            <a class="hashnav item dontwrap" id="detail-{{ o.id }}" href="{% url committee-detail o.id %}" >{{ o.name }}</a>&nbsp;<br/>
        {% endfor %}
	</div>
  <div class="secondary-column">
      {% include "committees/_agenda_topics_summary.html" %}
  </div>

</div>
{% endblock %}
