{% extends 'site_base.html' %}
{% load i18n %}
{% load links %}
{% block extratitle %}{{ topic.title }}{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/watch.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                register_watch({{object.id}}, "topic", "{% trans 'Watch' %}", "{% trans 'Unwatch' %}", {{watched_object|lower}}, "{% url user-follow-unfollow %}");
        });
    </script>

{% endblock %}
{% block subnav %}
    <ul class="actions">
        {% if user == topic.creator %}
            <li><a href="#">{% trans "Edit" %}</a></li>
        {% endif %}
        <li><span id="watch" class="awesome-button medium"></span></li>
    </ul>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.raty.min.js"></script>
    <h1>{% trans "Suggested Topic for a committee meeting" %}</h1>
    <h2>{{topic.title}}</h2>
    <h4>{% trans "by" %}: <a href="{% url public-profile topic.creator.id %}">{{topic.creator}}</a></h4>
    {% for c in object.committees.all %}
        <a href="{% url committee-detail c.id %}"><span style="font-size: 70%">{{c}}</span></a>
    {% endfor%}
    <p>{{topic.description}}</p>
    <br/>
    <h3> {% trans "rating" %}: </h3>
   <div style="display:inline;" id="rating"></div> 
   <div class="clear"></div>
    <div>
        <h3>{% trans "Links" %}:</h3>
        {% object_links topic %}
    </div>
   <div class="clear"></div>

    <h3>{% trans "comments" %}</h3>
    {% include 'comments/object_comment_list.html' %}
    <script>
        $(document).ready(function() {
            $('#rating').raty({
                cancel: true,
                number: 7,
                start: {{object.rating_score}},
                path: '{{ MEDIA_URL }}/img',
                click: function(score, evt) {
                    $.post('/committee/topic/{{object.id}}/'+score+'/')
                }
            });
        })
    </script>
{% endblock %}
