{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block extratitle %}{% trans "Topics" %}{% endblock %}
{% block header %}
{% endblock %}
{% block divcontent %}
<h1>{% trans "Suggested Agenda Topics" %}{% if committee %} {% trans "for" %} {{committee}}{% endif %}</h1>
    {% autopaginate topics %}
    <div class="item-list">
    {% for t in topics %}
        <div class="item {% cycle "alt" "normal" %}">
            <a href="{{ t.get_absolute_url }}">{{t}}</a>
            {% trans "by" %}: <a href="{% url public-profile t.creator.id %}">{{t.creator}}</a><br>
            {% trans "committee"%}:
            {% for c in t.committees.all %}
                {% if not forloop.first %} | {% endif %}
                <a href="{% url committee-detail c.id %}">{{c}}</a>
            {% endfor%}
        </div>
    {% endfor %}
    </div>
    {% paginate %}
<br/>
{% endblock %}
