.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: right, top, -webkit-transform, opacity;
    -moz-transition-property:    right, top, -moz-transform, opacity;
    -ms-transition-property:     right, top, -ms-transform, opacity;
    -o-transition-property:      right, top, -o-transform, opacity;
    transition-property:         right, top, transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.ballot {
    width: 170px;
    height: 220px;
    margin: 5px;
    float: right;
    overflow: hidden;
    position: relative;
    background-color: white;
    color: #222;
    border: 2px solid;
}
.agenda-score { width:50px;}
.agenda-marker {border-width:2px; border-color:blue;}
.agenda-supports {border-color: green;}
.agenda-objects {border-color: red;}
.ballot h1, .ballot h2 { text-align:center;}
.ballot h1 {font-size: 4em;}
.ballot h2 {line-height:20px; position: absolute; bottom:0.2em; padding: 0 0.4em;}
.person {
    width: 150px;
    margin: 5px;
    text-align: center;
    float: right;
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
}
.person h3 { clear:both;}
.person img {height:110px;}
.wikipedia { max-width: 600px; }
.wikipedia dl {display:none;}

.more-item {display:none;}
.candidate-list-agendas { width:25%; }
.candidate-list-agendas>table { clear:both; margin:0.5em; }
section {clear:both; padding:0.5em;}
.numeric {direction: ltr;}

.card-persons { padding:9px;}
.person-card {
  counter-increment: memberNum;
  position: relative;
  width: 140px;
  height:60px;
  /* display: inline-block;*/
  float:right;
  margin: 0 20px 20px 0px;
}
.person-card .person-info {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  margin: -1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
  display: none;
  z-index: 1;
  position: absolute;
  top: 80px;
  width: 405px;
  height: 218px;
}
.person-info-photo {
  position: absolute;
  border: 1px solid #e6e6e6;
  height: 177px;
  width: 130px;
  top: 14px;
  right: 10px;
}
.person-info-text {
  height: 160px;
  border-bottom: 1px solid #e6e6e6;
  padding-right: 160px;
}
.person-info-text h3 {
  font-size: 16px;
  font-weight: 700;
}
.person-info-links {
  height: 47px;
  background: #f6f6f6;
  padding-right: 160px;
}
.person-card:hover .person-info {
  display: block;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.person-avatar { float:right; border: 1px solid #e6e6e6; margin-left:10px;}
.person-avatar img { width:40px; height:54px;  }
.person-card h3 { display: inline; line-height:16px;}

.person-avatar:after {
  content: counter(memberNum);
  position: absolute;
  bottom: 2px;
  color: white;
}
