<b>כנסת פתוחה</b>
הוא פרויקט שמטרתו לחשוף את פעילות הכנסת לציבור. אחרי הכל, הכנסת היא שלנו, לא?
<br>
במקום לספר לכם סיפורים, אנחנו בעיקר רוצים להראות לכם 
<b>נתונים אמיתיים</b>: מי הצביע בעד מה, מי יזם, כמה חברי הכנסת נמצאים בדיונים ובוועדות, וכו'. 
<br>
כנסת פתוחה הוא פרויקט ללא כוונת רווח, מבוסס כולו על מתנדבים, ולא נתמך ע"י אף גוף מפלגתי. יש מעט תמיכה מגופים מסחריים (ראו
<a href="#Acknowledgments">למטה</a>).
<br>
המידע מגיע ברובו מאתר הכנסת.
<br>


<h2>איך לעזור</h2>
הפרויקט נמצא בתחילת דרכו, ונשמח לקבל עזרה. <br>
אם אתם מעוניינים לעזור בפיתוח האתר, בעיצוב שלו או באפיון של היכולות הבאות שנכניס אליו
 אתם מומזנים <a href="http://groups.google.com/group/open-knesset/">להצטרף לקבוצת הדיון</a> בה מנוהלת העבודה.<br>
אתם יכולים <a href="{% url login %}">להרשם לאתר</a>, ולעזור בתיוג הצבעות וחוקים.

ניתן <a href="http://www.facebook.com/open.knesset">להצטרף לקבוצה של כנסת פתוחה בפייסבוק</a> ולהזמין חברים,
<a href="http://twitter.com/oknesset">לעקוב אחרינו בטוויטר</a>,
 לכתוב על הפרויקט בבלוג שלכם, או בתגובות לכתבות רלוונטיות בעיתונים השונים. 



<h2>זכויות יוצרים</h2>
פרויקט "כנסת פתוחה" הוא פרויקט <a href="http://he.wikipedia.org/wiki/%D7%AA%D7%95%D7%9B%D7%A0%D7%94_%D7%97%D7%95%D7%A4%D7%A9%D7%99%D7%AA">תוכנה חופשית</a>.
תוכלו למצוא את קוד המקור <a href="http://github.com/ofri/Open-Knesset/">כאן</a>.<br>
התוכן המוצג באתר: מידע גולמי על חוקים ופעילות פרלמנטרית אינו מוגן בזכויות יוצרים. <br>
תמונות הח"כים המוצגות באתר לקוחות מאתר הכנסת, והזכויות עליהן שמורות לבעליהן.<br>



<h2>תנאי שימוש</h2>
השימוש באתר על אחריות המשתמש בלבד. <br>
אנו עושים כל מה שביכולתנו כדי לוודא שהמידע שאנחנו מציגים לכם אמין ומדויק, 
אולם לא ניתן להבטיח זאת תמיד, ויתכן כי יפלו בו טעויות.  <br>
באופן כללי, אל תעשו דברים לא חוקיים או לא נחמדים.

<h2>כתבו עלינו</h2>

10.5.10: <a href="http://www.macro-management.co.il/node/234">כתבה של ענת כהן בבלוג שלה על הפרויקט ועל עוד פרויקטי קוד פתוח</a> (שהתפרסמה גם בגלובס).<br>
27.4.10: <a href="http://www.ynet.co.il/articles/0,7340,L-3880950,00.html">כתבה של אהוד קינן ב- ynet</a>‏.<br>
12.4.10 <a href="http://www.talyaron.com/2010/04/12/democracy/">כתבה של טל ירון בבלוג שלו</a>.
<br>

אם יש לכם בלוג או אתר, ואתם כותבים עלינו, תודיעו לנו בבקשה, שנשים גם לכם לינק בחזרה...

<a name="Acknowledgments"><h2>תודות - גופים מסחריים שתומכים בנו</h2></a>
<a href="http://tuzig.com/">טוזיג</a> - מימון של שרתי האתר<br>

