
    <div class="about-page">
    <p>כנסת פתוחה הוא פרויקט שמטרתו לחשוף את פעילות הכנסת לציבור.</p>


    <ul>
    <li>באתר תוכלו לראות נתונים אמיתיים: מי הצביע בעד מה, מי יזם, כמה חברי הכנסת נמצאים בדיונים ובוועדות וכו'. המידע מגיע ברובו מאתר הכנסת.</li>
        <li>כנסת פתוחה הוא פרויקט של <a href="http://yeda.us" class="external">הסדנא לידע ציבורי</a> - עמותה הפועלת להגברת מעורבות הציבור בחברה ובמדינה על ידי איסוף, פתיחה והנגשה של מידע ציבורי וידע אזרחי. </li>
        <li>הפרויקט מבוסס כולו על מתנדבים, ולא נתמך ע"י אף גוף מפלגתי. יש מעט תמיכה מגופים מסחריים (ראו למטה).</li>
    </ul>


    <ul>
        <li>מדיה חברתית:
            <ul>
                <li><a href="http://www.facebook.com/open.knesset" class="external">פייסבוק</a></li>
                <li><a href="http://twitter.com/oknesset" class="external">טוויטר</a></li>
            </ul>
        </li>
        <li>ניתן ליצור אתנו קשר בדואר האלקטרוני בכתובת mail@oknesset.org</li>

    </ul>
    
    <h2 >תנאי שימוש</h2>


    <ul>
    <li>השימוש באתר על אחריות המשתמש בלבד. </li>
    <li>אנו משתדלים שהמידע שאנחנו מציגים לכם יהיה אמין ומדויק, אולם אין ביכולתנו להבטיח זאת. </li>
    <li>באופן כללי, אל תעשו דברים לא חוקיים או לא נחמדים. </li>
    <li>על כל פרסום (מקוון או לא מקוון. לרבות עיתונים, בלוגים, אתרים) המשתמש בנתונים מהאתר, לציין זאת. אם מדובר בפרסום מקוון - עליכם לקשר לאתר כנסת פתוחה. בשום אופן אין ליצור מצג כאילו "כנסת פתוחה" או מי מטעמה מקבל את המסקנות העולות מהניתוח שלכם, או תומך באופן כלשהו בפרשנות שלכם לנתונים. אם לא תעבדו לפי הכללים - נצטרך להקים אתר כזה שיעקב גם אחריכם :)</li>
    </ul>
    
    <h2 >מקורות הנתונים, אמינותם ועדכניותם</h2>


    <ul>
    <li>הכנסת לא מפרסמת את המידע באופן שקל לבצע בו חיתוכים שונים. לדוגמה, אין קישור בין הצבעה במליאה להצעת החוק הספציפית עליה מצביעים. בשל כך, אנו נאלצים לנסות לבצע קישורים אלו כמיטב יכולתנו בעזרת אלגוריתמים אוטומטיים. כמו בכל אלגוריתם, הביצועים המתקבלים אינם מושלמים - הצבעה או דיון בוועדה עשויים להיות משויכים לחוקים הלא נכון, וכך להביא לטעות בסטטוס החוק. אנו משתדלים לשפר כל הזמן את האלגוריתמים שלנו כדי לצמצם את הטעויות, אולם פתרון מלא יתאפשר רק כאשר הכנסת תפרסם את המידע בצורה אמינה ונוחה לעיבוד.
    </li>
    <li> הצבעות נאספות מהדף הזה באתר הכנסת: <a href="http://knesset.gov.il/vote/heb/vote_search.asp" class="external">http://knesset.gov.il/vote/heb/vote_search.asp</a>. לרוב <b>לוקח כשבוע מרגע ההצבעה עד שהיא מתפרסמת באתר הכנסת הרשמי</b>. אם זה מפריע לכם כמו שזה מפריע לנו שלא ניתן למצוא הצבעות מיד לאחר התרחשותן, אתם מוזמנים להתלונן על כך למערכת אתר הכנסת הרשמי בכתובת המייל feedback@knesset.gov.il. אנחנו מתעדכנים מאתר הכנסת כל לילה.
    </li>
    <li>הצעות חוק נאספות ממספר רשימות שונות באתר הכנסת: <a href="http://knesset.gov.il/laws/heb/law_main.asp" class="external">http://knesset.gov.il/laws/heb/law_main.asp</a>, ועמדת הממשלה נאספת מאתר מזכירות הממשלה בכתובת <a href="http://www.pmo.gov.il/PMO/vadot/hakika" class="external">http://www.pmo.gov.il/PMO/vadot/hakika</a>.</li>
    <li>פרוטוקולי ועדות נאספים מהדף הזה באתר הכנסת: <a href="http://knesset.gov.il/protocols/heb/protocol_search.aspx" class="external">http://knesset.gov.il/protocols/heb/protocol_search.aspx</a>. כאן <b>יש עיכוב משתנה בפרסום המידע בין מספר ימים למספר שבועות</b>. חשוב לציין כי <b>לא כל הפרוטוקולים מפורסמים</b> (למשל, של ועדת חוץ ובטחון). לכן <b>גם נתוני נוכחות חברי הכנסת בוועדות, שאנו מסיקים מתוך הפרוטוקולים אינם כוללים ישיבות אלו</b>.
    </li>
    <li>נוכחות חברי הכנסת במשכן נאספת מדף זה באתר הכנסת: <a href="http://knesset.gov.il/presence/heb/PresentList.aspx" class="external">http://knesset.gov.il/presence/heb/PresentList.aspx</a> כל מספר דקות.</li>
    <li>תגיות, תגובות והארות נוספות על ידי משתמשים רשומים שלנו.</li>
    </ul>

    
<h2 >אתרים דומים בעולם</h2>


    <ul>
    <li><a href="http://www.opencongress.org" class="external">Open Congress</a> בארצות הברית</li>
        <li><a href="http://www.publicwhip.org.uk" class="external">The Public Whip</a> בבריטניה</li>
        <li><a href="http://openparliament.ca" class="external">Open Parliament</a> בקנדה</li>
        <li><a href="https://track.nsa.co.il/projects/oknesset/wiki/אתרים נוספים.html" class="wiki-page">אתרים נוספים</a>.</li>
    </ul>


<h2 >איך לעזור</h2>


<h3 >פעילות באתר</h3>


    <p><a href="/users/create/?next=/" >הירשמו לאתר</a> בכדי לבצע את הפעולות הבאות:</p>


<h4 >תיוג הצעות חוק והצבעות</h4>


    <ul>
    <li>היכנסו לעמוד <a href="/bill/" >הצעות חוק</a> או <a href="/vote/" >הצבעות</a></li>
        <li>בחרו הצעת חוק או הצבעה מהרשימה</li>
        <li>לחצו על הקישור ליד המלל "הוספת תגיות" </li>
        <li>בחרו את התגיות המתאימות לנושא ההצעה או ההצבעה.</li>
    </ul>


<h4 >ניהול אג'נדות</h4>


    <ul>
    <li>מידע נוסף בעמוד <a href="http://oknesset.org/agenda" class="external">אג'נדות</a></li>
    </ul>


<h3 >דיונים</h3>


    <p>קבוצת גוגל: <a class="external" href="https://groups.google.com/forum/#!forum/open-knesset">https://groups.google.com/forum/#!forum/open-knesset</a></p>


    <ul>
    <li>בקבוצה ניתן לשאול שאלות, להעלות רעיונות ולהתדיין בנושאים הקשורים לפעילות.</li>
        <li>זה המקום המרכזי להתעדכן בהודעות על גרסאות חדשות של האתר, מפגשי פיתוח ועדכונים שוטפים.</li>
        <li>אפשר להשתמש ב<a href="https://groups.google.com/forum/#!forum/open-knesset" class="external">ממשק האינטרנטי</a> ו/או <a href="https://groups.google.com/group/open-knesset/subscribe" class="external">להירשם לקבלת עדכונים במייל</a></li>
    </ul>


<h3 >מדיה חברתית</h3>


    <p>ניתן להצטרף לקבוצה של כנסת פתוחה ב<a href="http://www.facebook.com/open.knesset" class="external">פייסבוק</a> ולהזמין חברים, לעקוב אחרינו ב<a href="http://twitter.com/oknesset" class="external">טוויטר</a>, לכתוב על הפרויקט בבלוג שלכם, או בתגובות לכתבות רלוונטיות בעיתונים השונים.</p>


<h3 >ניהול הפרויקט</h3>


    <p>ניהול ותיאום הפרויקט מתבצע ב- <a href="https://track.nsa.co.il/projects/oknesset" class="external">Redmine</a></p>


    <ul>
    <li><a href="https://track.nsa.co.il/account/register" class="external">הירשמו לאתר</a> בכדי להוסיף, להגיב ולעקוב אחרי <a href="https://track.nsa.co.il/projects/oknesset/issues" class="external">באגים, מטלות ופיצ'רים</a>.</li>
    </ul>


<h3 >פיתוח</h3>


    <p>הפיתוח מתבצע ב- <a href="http://github.com" class="external">Github</a></p>


    <ul>
    <li>מזלגו (<a href="http://en.wikipedia.org/wiki/Fork_(software_development)" class="external">Fork</a>) את הפרויקט מכאן: <a class="external" href="https://github.com/ofri/Open-Knesset">https://github.com/ofri/Open-Knesset</a></li>
        <li>כיצד להשתמש בגיטהאב: <a class="external" href="http://help.github.com">http://help.github.com</a></li>
        <!--<li>מידע נוסף על תהליך הפיתוח: <a href=".html" class="wiki-page">Open-Knesset Development</a></li>-->
    </ul>


<h3 >תיעוד</h3>


    <ul>
    <li>בכדי לערוך דפים בוויקי הירשמו ל<a href="https://track.nsa.co.il/projects/oknesset/wiki/%D7%90%D7%95%D7%93%D7%95%D7%AA#ניהול-הפרויקט" class="external">רדמיין</a> ובקשו הרשאות עריכה מבני דאון ב- <a class="email" href="mailto:bennydaon@gmail.com">bennydaon@gmail.com</a> .</li>
    </ul>


<h2 >זכויות יוצרים</h2>


    <ul>
    <li>פרויקט "כנסת פתוחה" הוא פרויקט <a href="http://he.wikipedia.org/wiki/%D7%AA%D7%95%D7%9B%D7%A0%D7%94_%D7%97%D7%95%D7%A4%D7%A9%D7%99%D7%AA" class="external">תוכנה חופשית</a>. תוכלו למצוא את קוד המקור <a href="http://github.com/ofri/Open-Knesset/" class="external">כאן</a> .</li>
        <li>התוכן המוצג באתר - מידע גולמי על חוקים ופעילות פרלמנטרית - אינו מוגן בזכויות יוצרים. </li>
        <li>תמונות הח"כים המוצגות באתר לקוחות מאתר הכנסת, והזכויות עליהן שמורות לבעליהן.</li>
        <li>תגובות והארות גולשים מפורסמות ברישיון <a href="http://creativecommons.org/licenses/by-sa/2.5" class="external">CC-BY-SA 2.5</a></li>
    </ul>


    
<h2 >הפרויקט בתקשורת</h2>
<p>7.3.2011: <a href="http://digital-edition.israelhayom.co.il/Olive/ODE/Israel/Default.aspx?href=ITD/2011/03/07&pageno=29&view=document" class="external">'כתבה של גדעון אלון ב'ישראל היום</a>.<br />
22.2.2011: <a href="http://news.israelinfo.ru/technology/36229" class="external">כתבה באתר החדשות israelinfo.ru (ברוסית)</a>.<br />
11.08.2010: <a href="http://23tv.co.il/241-he/Tachi.aspx" class="external">השתתפנו בתכנית 'עושים סדר' עם גל גבאי</a>.<br />
    10.08.2010: כתבה של גיא גרימלנד שהתפרסמה ב<a href="http://tech.walla.co.il/?w=/4007/1720157" class="external">וואלה</a> ב<a href="http://it.themarker.com/tmit/article/11862" class="external">דה מרקר</a> ו<a href="http://www.haaretz.com/print-edition/business/here-s-what-happens-when-computer-geeks-meet-mks-who-barely-come-to-work-1.307255" class="external">במהדורה האנגלית של עיתון הארץ</a>.<br />
        06.08.2010: כנסת פתוחה הוצג ב<a href="http://wiki.hamakor.org.il/index.php/%D7%90%D7%95%D7%92%D7%95%D7%A1%D7%98_%D7%A4%D7%99%D7%A0%D7%92%D7%95%D7%95%D7%99%D7%9F" class="external">אוגוסט פינגווין - הכנס השנתי של עמותת הקוד הפתוח 'המקור'</a><br />10.05.2010: <a href="http://www.macro-management.co.il/node/234" class="external">כתבה של ענת כהן בבלוג שלה על הפרויקט ועל עוד פרויקטי קוד פתוח</a> (שהתפרסמה גם בגלובס).<br />
        27.04.2010: <a href="http://www.ynet.co.il/articles/0,7340,L-3880950,00.html" class="external">כתבה של אהוד קינן ב- ynet‏</a> .<br />
        12.04.2010 <a href="http://www.talyaron.com/2010/04/12/democracy/" class="external">כתבה של טל ירון בבלוג שלו</a> .</p>


    <p>אם יש לכם בלוג או אתר, ואתם כותבים עלינו, תודיעו לנו בבקשה, שנשים גם לכם לינק בחזרה...</p>


<h2 >ממשק למשיכת מידע מהאתר (API)</h2>


    <p><a href="https://track.nsa.co.il/projects/oknesset/wiki/_Interfaces_" class="wiki-page">Interfaces</a></p>


<h2 >תודות - גופים מסחריים שתומכים בנו</h2>


    <p><a href="http://tuzig.com" class="external">טוזיג</a> - מימון של שרתי האתר<br /><a href="http://nsa.co.il" class="external">NSA</a> - עזרה ותמיכה מחברת NSA<br /><a href="http://shop.empeeric.com" class="external">אמפיריק</a> - אירוח מפגשי המפתחים</p>
</div>
