<b>כנסת פתוחה</b>
הוא פרויקט שמטרתו לחשוף את פעילות הכנסת לציבור. אחרי הכל, הם אמורים לעבוד בשבילנו, לא?
<br>
במקום לספר לכם סיפורים, אנחנו בעיקר רוצים להראות לכם 
<b>נתונים אמיתיים</b>
: מי הצביע בעד מה, מי יזם, כמה חברי הכנסת נמצאים בדיונים ובוועדות, וכו'. 
<br>
כנסת פתוחה הוא פרויקט ללא כוונת רווח, מבוסס כולו על מתנדבים, ולא נתמך ע"י אף גוף מסחרי או מפלגתי.
<br>
המידע מגיע ברובו מאתר הכנסת.
<br>


<h2>איך לעזור</h2>
הפרויקט נמצא בתחילת דרכו, ונשמח לקבל עזרה. <br>
אם אתם מעוניינים לעזור בפיתוח האתר, בעיצוב שלו או באפיון של היכולות הבאות שנכניס אליו אתם מומזנים <a href="http://groups.google.com/group/open-knesset/">להצטרף לקבוצת הדיון</a> בה מנוהלת העבודה.<br>
אתם יכולים <a href="{% url login %}">להרשם לאתר</a>, ולעזור בתיוג הצבעות וחוקים.

ניתן <a href="http://www.facebook.com/open.knesset">להצטרף לקבוצה של כנסת פתוחה בפייסבוק</a> ולהזמין חברים,
<a href="http://twitter.com/oknesset">לעקוב אחרינו בטוויטר</a>,
 לכתוב על הפרויקט בבלוג שלכם, או בתגובות לכתבות רלוונטיות בעיתונים השונים. 




<h2>תנאי שימוש</h2>
אנו עושים כל מה שביכולתנו כדי לוודא שהמידע שאנחנו מציגים לכם אמין ומדויק, אולם לא ניתן להבטיח זאת תמיד, ויתכן כי יפלו בו טעויות. השימוש באתר על אחריות המשתמש בלבד.
