{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" >
		<meta http-equiv="Content-Language" content="en-us">

		<title>{% trans 'Knesset' %}</title>

		<meta name="ROBOTS" content="ALL">
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta name="MSSmartTagsPreventParsing" content="true" >
		<meta name="Authors" content="PyWeb-IL">
		<meta name="License" content="Follow your inclanations with due regards to the 
            devil within and the policeman around the corner." > 
		<meta name="keywords" content="parliament, Systems, Python, Django, open-source" >
		<meta name="description" content="{% trans "I'm just sitting here watching the wheels go round and round." %}">

		<link href="{{MEDIA_URL}}css/{% block cssid %}common{% endblock %}.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{MEDIA_URL}}css/print.css" rel="stylesheet" type="text/css" media="print" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.history.js"></script>
	    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<!--        <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
!-->        <script type="text/javascript">
            function facebook_onlogin(){
            window.location = "{% url socialauth_facebook_login_done %}"
    
            }
        </script>
        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/pageobject.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/pages.js"></script>
		{% if LANGUAGE_BIDI %}
		<style>
        	#nav-global li { float:right; }
            #member-photo { float:right; margin:0.5em;}
		body { direction: rtl; }
		</style>
		{% endif %}
      {% block extrahead %}{% endblock %}
	</head>

	<body>
    <div id="accounts">
        {% if user.is_authenticated %}
            {% trans 'Logged in as ' %} {{ user }}. <a href="{% url socialauth_social_logout %}">{% trans 'Logout' %}</a>
        {% else %}
            Login via
            <div id="login">
<!--                    <a href="{% url socialauth_twitter_login %}" id="twitter_login_link">twitter</a> 
                    <a href="{% url socialauth_yahoo_login %}" id="yahoo_login_link">Yahoo</a> 
                    <a href="{% url socialauth_openid_login %}" id="openid_login_link">Openid</a> 
!-->                    <a href="{% url socialauth_google_login %}" id="google_login_link">Google</a> 
<!--                    <fb:login-button onlogin="facebook_onlogin();"></fb:login-button> 
                    <script type="text/javascript">  FB.init("{{ fb_api_key }}", "{% url socialauth_xd_receiver %}"); </script>
    !-->            
                <br />
            </div>
        {% endif %}
    </div>
	<div id="container">
		<div id="header">
			<ul id="nav-global">
                <!-- TODO: search, stream, next votes and a lot of drying -->

                <li id="nav-main" {% block nav-main-page %} {% endblock %} > <a class="hashnav" href="{% url main%}">{% trans 'Main' %}</a> </li>
				<li id="nav-past-votes" {% block nav-votes %} {% endblock %} > <a class="hashnav" href="{% url vote-list %}">{% trans 'Past Votes' %}</a> </li>
                <li id="nav-law-approve" {% block nav-law-approve %} {% endblock %} > <a class="hashnav" href="{% url law-approve %}">{% trans 'Law Approvals' %}</a> </li>
				<li id="nav-members" {% block nav-members %} {% endblock %} > <a class="hashnav" href="{% url member-list %}">{% trans 'Members' %}</a> </li>
				<li id="nav-parties" {% block nav-parties %} {% endblock %} > <a class="hashnav" href="{% url party-list %}">{% trans 'Parties' %}</a> </li>
				<li id="nav-about" {% block nav-about %} {% endblock %} > <a class="hashnav" href="{% url about %}">{% trans 'About' %}</a> </li>
			</ul>
            
		</div>
		<!-- END Header -->
        <!-- END Reviewed code. Follows is legacy from django-website -->
		<div id="billboard"></div>
		<div id="columnwrap">
			{% block columnwrap %}
				<div id="content-main">
				{% block content %}TODO: add home content{% endblock %}
				</div>
				<!-- END #content-main -->
			{% endblock %}
		</div>
		<!-- END #content -->
		<div id="footer">
			<p><a href="javascript:jsr(About);">{% trans 'DjangoIL unless otherwise noted.' %}</a>
			</p>
			<p>
				{% block credits %}
					{% trans 'logoCredit' %}&nbsp;&bull;
					{% trans 'hostingCredit' %}&nbsp;&bull;
				{% endblock %} 
				{% trans 'Member of the python and django communities.' %}
			</p>
		</div>
		<!-- END #footer -->
	</div>
	<!-- END #container -->
	<!-- SmarterFox code  too slow for now 
	<script type="text/javascript">
		var finderfoxConfig = {
		    version: "1.0.0",
		        key: "1f7962f0c157811b00000122ee87b1a0"
			};
			document.write(unescape('%3Cscript type="text/javascript" src="'+
			('https:'==document.location.protocol?'https://ssl.':'http://')+
			'finderfox.smarterfox.com/finderfox.js"%3E%3C/script%3E'));
		</script>
        -->
	</body>
</html>

