{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" >
		<meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}">

		<title>{% block extratitle %}{% endblock %} | {% trans 'Open Knesset' %}</title>

		<meta name="ROBOTS" content="ALL">
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta name="MSSmartTagsPreventParsing" content="true" >
		<meta name="Authors" content="PyWeb-IL">
		<meta name="License" content="Follow your inclanations with due regards to the 
            devil within and the policeman around the corner." > 
		<meta name="keywords" content="{% trans 'Open Knesset' %},Parliament, Knesset, Open Source,{% block keywords %}{% endblock %}" >
		<meta name="description" content="{% block description %}{% endblock %} {% trans "I'm just sitting here watching the wheels go round and round." %}">
        <meta name="google-site-verification" content="TAmHbnTgm9dvrNMB41Ke-lZesXPgTd5xSW5lBTzq020" />
        <link href="{{MEDIA_URL}}css/{% block cssid %}common{% endblock %}.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{MEDIA_URL}}css/jquery.jgrowl.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.history.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.jgrowl.js"></script>
	    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/pageobject.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/pages.js"></script>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-15521464-1");
            pageTracker._setDomainName(".oknesset.org");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
        
		{% if LANGUAGE_BIDI %}
		<style>
        	#nav-global li { float:right; }
            #member-photo { float:right; margin:0.5em;}
		body { direction: rtl; }
		</style>
        <script>
            $.jGrowl.defaults.position="top-left";
        </script>

		{% endif %}
      {% block extrahead %}{% endblock %}
	</head>

	<body>
	<div id="container">
        <div id="accounts">
            {% if user.is_authenticated %}
                {% trans 'Logged in as ' %} {{ user }} &bull;
                    <a href="{% url edit-profile %}">{% trans 'Edit Profile' %}</a> &bull;
                    <a href="{% url logout %}">{% trans 'Logout' %}</a>
            {% else %}
                <a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'login' %}</a>
            {% endif %}
        </div>
        <div id="search"><form  method="get" action="{% url haystack_search %}">
            {{ search_form.q }}<input type="submit" value="{% trans 'Search' %}"></form>
        </div>
		<div id="header">
			<ul id="nav-global">
                <!-- TODO: search, stream, next votes and a lot of drying -->

                <li id="nav-main" {% block nav-main-page %} {% endblock %} > <a class="hashnav" href="{% url main%}">{% trans 'Main' %}</a> </li>
				<li id="nav-past-votes" {% block nav-votes %} {% endblock %} > <a class="hashnav" href="{% url vote-list %}">{% trans 'Past Votes' %}</a> </li>
				<li id="nav-members" {% block nav-members %} {% endblock %} > <a class="hashnav" href="{% url member-list %}">{% trans 'Members' %}</a> </li>
				<li id="nav-parties" {% block nav-parties %} {% endblock %} > <a class="hashnav" href="{% url party-list %}">{% trans 'Parties' %}</a> </li>
                <li id="nav-committees" {% block nav-committees %} {% endblock %} > <a class="hashnav" href="{% url committee-list %}">{% trans 'Committees' %}</a> </li>
				<li id="nav-about" {% block nav-about %} {% endblock %} > <a class="hashnav" href="{% url about %}">{% trans 'About' %}</a> </li>
			</ul>
            
		</div>
		<!-- END Header -->
        <!-- END Reviewed code. Follows is legacy from django-website -->
		<div id="billboard"></div>
		<div id="columnwrap">
			{% block columnwrap %}                
				<div id="content-main">
				{% block content %}TODO: add home content{% endblock %}
				</div>
				<!-- END #content-main -->
			{% endblock %}
		</div>
		<!-- END #content -->
		<div id="footer">
			<p><a class="hashnav" href="{% url about %}">{% trans 'DjangoIL unless otherwise noted.' %}</a>
			</p>
			<p>
				{% block credits %}
					{% trans 'hostingCredit' %}&nbsp;&bull;
				{% endblock %} 
				{% trans 'Member of the python and django communities.' %}
			</p>
		</div>
		<!-- END #footer -->
	</div>
	<!-- END #container -->
	<!-- SmarterFox code  too slow for now 
	<script type="text/javascript">
		var finderfoxConfig = {
		    version: "1.0.0",
		        key: "1f7962f0c157811b00000122ee87b1a0"
			};
			document.write(unescape('%3Cscript type="text/javascript" src="'+
			('https:'==document.location.protocol?'https://ssl.':'http://')+
			'finderfox.smarterfox.com/finderfox.js"%3E%3C/script%3E'));
		</script>
        -->
	</body>
</html>

