{% extends "site_base.html" %}
{% load i18n i18ninclude mks search %}
{% load avatar_tags %}
{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}. {% trans 'Non partisan, non commercial site that brings you relevant, detailed and accurate information about the knesset' %}{% endblock %}
{% block extratitle %}{% trans 'Home' %}{% endblock %}
{% block nav-main-page %} class="selected" {% endblock %}
{% block subnav %}
<div style="text-align:center;">
<p><a href="{% url help %}" style="float:left;">מה אפשר לעשות באתר? </a></p>
       <div id="search">{% search_form "search_page" %}</div>
{% endblock %}
{% block divcontent %}
<div class="three_boxes">
<div id="main-news" class="display_note_outer" > 
<h3>כנס "שקיפות ושיתוף הציבור למען צדק חברתי"</h3>
<p style="padding:1em; font-size:120%;">
ב-4-6 באוקטובר תארח "הכנסת הפתוחה"  3 ימי דיונים <b>של ועדות הכנסת הרשמיות</b> תחת הכותרת "שקיפות ושיתוף הציבור למען צדק חברתי".
האירוע ייערך ב"היכל העצמאות" בשדרות רוטשילד, בבניין ההיסטורי בו הוכרזה הקמת מדינת ישראל.<br/>
הכנס יחל בישיבה משותפת של הוועדות בכנסת (בירושלים) בנוכחות יושבי ראש הוועדות, ואליה יוזמנו מובילי המחאה החברתית.
ביומיים הבאים, יערכו ועדות הכנסת דיונים רשמיים בהיכל העצמאות בתל אביב. הציבור מוזמן לדון ולדרג הצעות לסדר

 רוצים להעלות נושאים לסדר היום של ועדות הכנסת - <a href="{% url committee-list %}">כאן</a>
 </p></div >
  
<div id="main-about" class="display_note_outer">
<h3>אודותינו</h3>
האתר מאפשר לכל אזרח להשתתף באורח פעיל יותר בפעילות הכנסת. 
אנו סורקים את אתר הכנסת ומקורות מידע רשמיים ובאמצעות אלגוריתמים חישוביים וצוות עורכים מסור, מסדרים ומארגנים את המידע לנוחות
המשתמש.
    האתר עדיין בפיתוח, ואנו מתנצלים מראש על באגים ושגיאות בנתונים.
</div>
<div id="main-media" class="display_note_outer">
<a href="https://flickr.com/photos/daonb/collections/72157627723450730/"><img src="https://static.flickr.com/6175/cols/72157627723450730_38e4d27b0c_l.jpg"/></a>
</div>
<div id="main-help" class="display_note_outer">
    <p>
    רוצים לדעת איך זה עובד או להצטרף ולעזור?</p>
    <a href="{% url about %}">קראו עוד אודות הפרויקט</a>
</div>

<div class="display_note_outer" style="clear:both; margin-top:2em;">
    <div class="display_note alt" style="width:50%; height: 100%;">
        <h3>הצעות אחרונות לסדר</h3>
        {% include "committees/_topics_summary.html" %}
    </div>
    <div class="display_note " style="width:50%; height: 100%;">
        <h3>{% trans "Latest Annotations and comments" %}</h3>
    <div class="annotations item-list">
        {% for a in annotations %}
            <div class="item {% cycle "alt" "normal" %}">
                <div class="item-header">
                    <div class="avatar-item">
                        <a href="{% url public-profile a.user.username %}">{% avatar a.user 48 %}</a>
                    </div>
                </div>
                <a style="float:left;href="{{a.get_absolute_url }}" style="float:right;">
                    <div class="date-item">
                        {{ a.submit_date|date:"d/m" }}<span>{{a.submit_date|date:"Y"}}</span>{{a.submit_date|date:"H:i"}}
                    </div>
                </a>
                <div class="item-credit">
                    <a href="{% url public-profile a.user.username %}">{{a.user}}</a>&nbsp; &nbsp;{{a.user.get_full_name}}
                </div>
                <p>{{a.comment|linebreaksbr}}</p>
                {% if a.timestamp %}
                    <p class="triangle-border top" style="clear:both;">
                        "{{a.selection}}" - <strong>{{a.content_object.header}}</strong>,
                        <a href="{% url committee-meeting a.content_object.meeting.id %}">{{ a.content_object.meeting|linebreaksbr }}</a></h4>
                        </a>
                    </p>
                {% else %}{% if a.content_type.model == "bill" %}
                    <p class="triangle-border top" style="clear:both;text-align:center; ">
                    {% with bill=a.content_object %}
                        <a href="{{ bill.get_absolute_url }}">{{bill}}</a>
                    {% endwith %}
                    </p>
                {% else %}{% if a.content_type.model == "vote" %}
                    <p class="triangle-border top" style="clear:both;text-align:center; ">
                    {% with vote=a.content_object %}
                        <a href="{{ vote.get_absolute_url }}">{{vote}}</a>
                    {% endwith %}
                    </p>
                {% else %}{% if a.content_type.model == "topic" %}
                    <div class="triangle-border top" style="clear:both;">
                        <div class="item-credit">
                            {% if a.content_object.creator %}
                            <a href="{% url public-profile a.content_object.creator.username %}">{{a.content_object.creator}}</a>
                            {% endif %}&nbsp; &nbsp;{{a.content_object.creator.get_full_name}}
                        </div>
                        <a href="{{a.content_object.get_absolute_url}}"><strong>{{a.content_object.title}}</strong>
                        <p>{{ a.content_object.description|linebreaksbr }}</p>
                        </a>
                    </div>
                {% else %} {{a.content_type.name}}{% endif %}{% endif %}{% endif %}{% endif %}
            </div>
        {% empty %}
            <li>{% trans "No annotations yet..." %}
        {% endfor %}
    </div>
    </div>
    </div>
        
{% endblock %}

