{% extends "site_base.html" %}
{% load i18n i18ninclude mks bills_extra search hlp %}
{% load avatar_tags %}
{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}. {% trans 'Non partisan, non commercial site that brings you relevant, detailed and accurate information about the knesset' %}{% endblock %}
{% block extratitle %}{% trans 'Home' %}{% endblock %}
{% block nav-main-page %} class="selected" {% endblock %}
{% block subnav %}
<div style="text-align:center;">
<p><a href="{% url help %}" style="float:left;">מה אפשר לעשות באתר? </a></p>
       <div id="main-search">{% search_form "search_page" %}</div>
</div>
{% endblock %}
{% block divcontent %}
<div>
    <div id="main-news"  class="display_note_outer" >
        <h3>הצעות חוק חמות באתר - הכנסו כדי להביע את דעתכם</h3>
        {% if bill %}{% bill_inabox bill %}{% endif %}
    </div>
    <div id="main-about" class="display_note_outer">
        <h3><a href="/about/">אודותינו</a></h3>
        האתר מאפשר לכל אזרח להשתתף באורח פעיל יותר בפעילות הכנסת. 
        אנו סורקים את אתר הכנסת ומקורות מידע רשמיים ובאמצעות אלגוריתמים חישוביים וצוות עורכים מסור, מסדרים ומארגנים את המידע לנוחות
        המשתמש.
            האתר עדיין בפיתוח, ואנו מתנצלים מראש על באגים ושגיאות בנתונים.
    </div>
    <div id="main-hasadna" class="display_note_outer" style="background-color:#069dae;">
        <a href="http://www.hasadna.org.il/%D7%90%D7%99%D7%A8%D7%95%D7%A2%D7%99%D7%9D/%D7%94%D7%90%D7%A7%D7%AA%D7%95%D7%9F-%D7%90%D7%95%D7%A7%D7%98%D7%95%D7%91%D7%A8-%D7%99%D7%95%D7%A6%D7%90-%D7%9C%D7%93%D7%A8%D7%9A-%D7%95%D7%90%D7%A0%D7%97%D7%A0%D7%95-%D7%9E%D7%96%D7%9E%D7%99%D7%A0/" target="_blank"><img src="/static/img/hackathon-october-2012.jpg"></a>
    </div>
<!--    <div id="main-hasadna" class="display_note_outer">
        <a href="http://www.hasadna.org.il/"><img src="/static/img/hasadna-logo.png" style="width:50px; float:left"></a>
        <p>פרויקטים נוספים של <a href="http://www.hasadna.org.il/">הסדנא</a>{% ht 'hasadna' %}</p>
            <h3><a href="http://budget.msh.gov.il/">פותחים את תקציב המדינה</a></h3>
    </div>
    <div id="main-help" class="display_note_outer">
        <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
            <input type="hidden" value="_s-xclick" name="cmd">
            <input type="hidden" value="K7X4FWYPBR7H4" name="hosted_button_id">
            <input type="image" border="0" alt="PayPal - הדרך הקלה והבטוחה לשלם באופן מקוון!" name="submit" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/he_IL/IL/i/btn/btn_donateCC_LG.gif">
            <img width="1" height="1" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/he_IL/i/scr/pixel.gif" alt="">
        </form>
    </div>-->
</div>
<div class="clear"></div>

<div class="display_note_outer" style="clear:both; margin:2em auto; width: 90%;">
    <div class="display_note alt" style="width:50%; height: 100%;">
        <h3>הצעות אחרונות לסדר</h3>
        {% include "committees/_topics_summary.html" %}
    </div>
    <div class="display_note " style="width:50%; height: 100%;">
        <h3>{% trans "Latest Annotations and comments" %}</h3>
    <div class="annotations item-list">
        {% for a in annotations %}
            <div class="item {% cycle "alt" "normal" %}">
                {% if a.timestamp %}
                    <p style="clear:both;">
                        <strong>{{a.content_object.header}}</strong>: "{{a.selection|truncatewords:30}}",
                        <a href="{{a.get_absolute_url}}">{{ a.content_object.meeting|linebreaksbr }}</a></h4>
                        </a>
                    </p>
                {% else %}{% if a.content_type.model == "bill" %}
                    <p style="clear:both;text-align:center; ">
                    {% with bill=a.content_object %}
                        <a href="{{ bill.get_absolute_url }}">{{bill}}</a>
                    {% endwith %}
                    </p>
                {% else %}{% if a.content_type.model == "vote" %}
                    <p style="clear:both;text-align:center; ">
                    {% with vote=a.content_object %}
                        <a href="{{ vote.get_absolute_url }}">{{vote}}</a>
                    {% endwith %}
                    </p>
                {% else %}{% if a.content_type.model == "topic" %}
                    <div style="clear:both;">
                        <div class="item-credit">
                            {% if a.content_object.creator %}
                                {% with a.content_object.creator as u %}
                                    <a href="{% url public-profile u.username %}">{% firstof u.get_full_name u.user %}</a>
                                {% endwith %}
                            {% endif %}
                        </div>
                        <a href="{{a.content_object.get_absolute_url}}"><strong>{{a.content_object.title}}</strong>
                        <p>{{ a.content_object.description|truncatewords:30|linebreaksbr }}</p>
                        </a>
                    </div>
                {% else %} {{a.content_type.name}}{% endif %}{% endif %}{% endif %}{% endif %}
                <div class="item-comments">
                {% for c in a.previous_comments %}
                    <div class="item-header">
                        <div class="avatar-item">
                            <a href="{% url public-profile c.user.username %}">
                                {% avatar c.user 48 %}
                            </a>
                        </div>
                        <p class="username">
                            <a href="{% url public-profile c.user.username %}">
                                {% firstof c.user.get_full_name c.user %}
                            </a>
                        </p>
                    </div>
                    <p class="triangle-border right">
                    {{c.comment|urlizetrunc:20|linebreaksbr}}
                    </p>
                {% endfor %}
                <div class="item-header">
                    <div class="avatar-item">
                        <a href="{% url public-profile a.user.username %}">
                            {% avatar a.user 48 %}
                        </a>
                    </div>
                    <p class="username">
                        <a href="{% url public-profile a.user.username %}">
                            {% firstof a.user.get_full_name a.user %}
                        </a>
                    </p>
                </div>
                <p class="triangle-border right">
                {{a.comment|urlizetrunc:20|linebreaksbr}}
                </p>
            </div>
            <div class="clear"></div>
            </div>
        {% empty %}
            <li>{% trans "No annotations yet..." %}
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
