{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div id="messages" style="display:none;">
        <span id="message_unknown">{% trans "Sorry, a strange error occured. Please try reloading the page." %}</span>
        {% block message %} {% endblock %}
    </div>
    <div class="subnav">{% block subnav %} {% endblock %}</div>
	<h1>
		{% block h1content %} {% endblock %}
	</h1>
	<div>
		{% block divcontent %} ahm.. my child should replace this block{% endblock %}
	</div>
{% endblock %}


