{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<h1>
		{% block h1content %} {% endblock %}
	</h1>
	<div>
		{% block divcontent %} ahm.. my child should replace this block{% endblock %}
	</div>
    <script>
        $(document).ready(function() {
            {% block extra-ready %} {% endblock %}
            $.history.init(go); // go is from pageobjects.js
            //$('ul#nav-global li a').click(hashclick);
            // $('ul#item-list li a').live('click', hashclick);
            hashHrefs("a.hashnav");
        });
    </script>
{% endblock %}


