{% load i18n %}
{% load tagging_tags %}
{% load laws_extra %}
{% load links_extra %}
{% load comments %}

<h2><a href=".">{{ object.title }}</a></h2>
<div id="vote-info">
    <div>
        <label for="time">{% trans "Time" %}</label>
        {{ object.time_string }} 
        {% if object.get_next_by_time %}
        &nbsp; <a class="bold-link" href="{% url vote-detail object_id=object.get_next_by_time.id %}">{% trans 'Go to next vote by time' %}</a>
        {% endif %}
        {% if object.get_previous_by_time %}
        &nbsp; <a class="bold-link" href="{% url vote-detail object_id=object.get_previous_by_time.id %}">{% trans 'Go to previous vote by time' %}</a>
        {% endif %}
    </div>    
    <div>
        <label for="for-votes">{% trans "For" %}</label>        
        {% if object.for_votes_count %}        
            {% blocktrans count object.for_votes|length as counter %}
            {{ counter }} MK
            {% plural %}
            {{ counter }} MKs
            {% endblocktrans %}
            <div class="list-wrap indented">
            {% for m in object.for_votes %}
            <a class="hashnav item dontwrap" id="detail-{{ m.member.id }}" href="{% url member-detail m.member.id %}" title="{{ m.member.Party.name }}" />{{ m.member.name }}</a>
                {% if m.against_party %}<img src="/static/img/Warning.png" title="{% trans 'Voted differently than majority of own party' %}" />{% endif %}
                {% if m.against_coalition %}<img src="/static/img/Error.png" title="{% trans 'Voted differently than majority of the coalition' %}" />{% endif %}
                {% if m.against_opposition %}<img src="/static/img/Error.png" title="{% trans 'Voted differently than majority of the opposition' %}" />{% endif %}
            &nbsp;
            {% endfor %}
            </div>
        {% else %}
            {% trans 'none' %}
        {% endif %}
    </div>
    <div>
        <label for="against-votes">{% trans "Against" %}</label>
        {% if object.against_votes_count %}        
            {% blocktrans count object.against_votes|length as counter %}
            {{ counter }} MK
            {% plural %}
            {{ counter }} MKs
            {% endblocktrans %}
            <div class="list-wrap indented">
            {% for m in object.against_votes %}
            <a class="hashnav item dontwrap" id="detail-{{ m.member.id }}" href="{% url member-detail m.member.id %}" title="{{ m.member.Party.name }}">{{ m.member.name }}</a>
                {% if m.against_party %}<img src="/static/img/Warning.png"/ title="{% trans 'Voted differently than majority of own party' %}">{% endif %}
                {% if m.against_coalition %}<img src="/static/img/Error.png"/ title="{% trans 'Voted differently than majority of the coalition' %}">{% endif %}
                {% if m.against_opposition %}<img src="/static/img/Error.png"/ title="{% trans 'Voted differently than majority of the opposition' %}">{% endif %}
            &nbsp;
            {% endfor %}
            </div>
        {% else %}
            {% trans 'none' %}
        {% endif %}
    </div>
    <div id="tagging-container">
    {% if user.is_authenticated %}
        <form action="/vote/{{ object.id }}/submit-tags/" method="POST">
            <label for="tags">{% trans "Tags" %}</label>
            {{ object.tag_form.tags }}
            <input type="submit" value="Submit" />
        </form>
        <label for="tags">{% trans "Tags" %}</label>
        {% if object.tags %}
            <div id="vote-tags">
            {% for t in object.tags %}
                {% user_votes user object t %} <br />        
            {% endfor %}
            </div>
        {% else %}
            {% trans "No tags yet" %}<br />        
        {% endif %}
    {% else %}
        <label for="tags">{% trans "Tags" %}</label>
        {% if object.tags %}
            <div id="tags">
            {% for t in object.tags %}
               <a href="{% url tagged-votes tag=t %}" class="tag">{{ t }} ({{ t.score }})</a>
            {% endfor %}
            </div>
        {% else %}
            {% trans "No tags yet" %}<br />
        {% endif %}

        ({% trans 'Login to edit tags' %})
    {% endif %}
    </div>

    {% object_links_as_div object %} 


{% if object.summary %}
    <h3>{% trans 'summary' %}</h3>
    {{ object.summary|safe }}
{% else %}
    {% trans 'No summary for this vote' %}
{% endif %}
<br />

{% if object.full_text %}
    <h3>{% trans 'Bill Text' %}</h3>
    {{ object.full_text|safe }}
{% endif %}

{% get_comment_list for object as comment_list %}
{% if comment_list %}
    <h3>{% trans 'User comments' %}</h3>
    {% for comment in comment_list %}
        <a name="c{{ comment.id }}"></a>
        {{ comment.user.username|escape }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}} {{ comment.submit_date|timesince }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}}: 
        <div class="comment">{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</div>
    {% endfor %}
{% else %}
    <h3>{% trans 'No comments yet' %}</h3>
{% endif %}

{% if user.is_authenticated %}
    {% if perms.comments.add_comment %}
        {% render_comment_form for object %}
    {% else %}
        {% trans 'Please' %} <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a>{% trans ' to comment' %}
    {% endif %}
{% else %}
    {% trans 'Please login to comment' %}
{% endif %}

