{% load i18n %}
{% load laws_extra %}
{% for o in object_list %}


<div class="item">
    <a class="hashnav" id="detail-{{ o.id }}" href="{{ o.get_absolute_url }}">
    {{ o.title }}<br/>
    <div class="info">

        <p class="for-count">{% trans 'For' %}: {{ o.for_votes_count }}</p>{% bar o.for_votes_count 1 %}
        <p class="against-count">{% trans 'Against' %}: {{ o.against_votes_count }}</p>{% bar o.against_votes_count 0 %}
        <p class="date">{{ o.time_string }}</p> &nbsp; 
            {% if o.full_text %}<p><img src="/static/img/Text.png" title="{% trans 'Full text is available' %}"/></p>{% endif %}
            {% if o.summary %}<p><img src="/static/img/List.png" title="{% trans 'Summary is available' %}"/></p>{% endif %}
            {% if o.against_party_votes_count %}<p><img src="/static/img/Warning.png" /> 
                {% blocktrans count o.against_party_votes_count as counter %}
                {{ counter }} MK voted differently than the majority of his party
                {% plural %}
                {{ counter }} MKs voted differently than the majority of their party
                {% endblocktrans %}</p> &nbsp; 
            {% endif %}
            {% if o.against_coalition_votes_count %}<p><img src="/static/img/Error.png" /> 
                {% blocktrans count o.against_coalition_votes_count as counter %}
                {{ counter }} member of the coalition voted differently than the majority of the coalition
                {% plural %}
                {{ counter }} member of the coalition voted differently than the majority of the coalition
                {% endblocktrans %}</p> &nbsp; 
            {% endif %}
            {% if o.against_opposition_votes_count %}<p><img src="/static/img/Error.png" /> 
                {% blocktrans count o.against_opposition_votes_count as counter %}
                {{ counter }} member of the opposition voted differently than the majority of the opposition
                {% plural %}
                {{ counter }} member of the opposition voted differently than the majority of the opposition
                {% endblocktrans %}</p> &nbsp; 
            {% endif %}
    </div>
    </a>
    <div>
        {% if o.tags %}    
            <!--{% trans 'Tags' %}:-->
            {% for t in o.tags %}
                {% if t.score_positive %}
                    <a href="{% url tagged-votes tag=t %}" class="tag">{{ t }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <!--{% trans 'No tags' %}-->
        {% endif %}
    </div>
    {% for s in show_stands %}{% member_stand o.id s %}{% endfor %}

</div>
{% empty %}
    {% trans "No results found" %}
{% endfor %}
