{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-laws %}class="selected"{% endblock %}
{% block divcontent %}
<h1>{{ object.law.title }} {{ object.title }}</h1>
    {% trans 'stage' %}: {% trans object.get_stage_display %}<br>
    {% trans 'stage date' %}: {{ object.stage_date }}<br>
    {% trans 'Proposed by' %}:
    {% for proposer in object.proposers.all %}
        <a class="item dontwrap" id="detail-{{ proposer.id }}" href="{% url member-detail proposer.id %}">{{ proposer.name }}</a> 
    {% endfor %}<br>
    <div id="bill-canvas">
    </div>
        
    <div id="bill-initiation" class="bill-stage">
    <h2>{% trans 'Bill initiation' %}</h2>
    {% for pp in object.proposals.all %}
        p/{{pp.knesset_id}}/{{pp.proposal_id}} {{ pp.title }} ({{ pp.date }}) <a href="{{ pp.source_url }}">{% trans 'Bill on knesset website' %}</a> 
        {% trans 'Proposed by' %}:
        {% for proposer in pp.proposers.all %}
            <a class="item dontwrap" id="detail-{{ proposer.id }}" href="{% url member-detail proposer.id %}">{{ proposer.name }}</a> 
        {% endfor %}
        <br>
    {% empty %}
        {% trans 'No Info' %}
    {% endfor %}
    </div>

    <div id="bill-pre-vote" class="bill-stage">
    <h2>{% trans 'Pre Vote' %}</h2>
    {% for v in object.pre_votes.all %}
        <a class="item" href="{% url vote-detail v.id %}">{{ v.title }} {{ v.time }}</a>({% trans 'For' %}: {{ v.for_votes_count }}  {% trans 'Against' %}: {{ v.against_votes_count }})<br>
    {% empty %}
        {% trans 'No Info' %}
    {% endfor %}     
    </div>
    
    <div id="bill-first-committee-meetings" class="bill-stage">
    <h2>{% trans 'Committee Meetings' %}</h2>
    {% for cm in object.first_committee_meetings.all %}
        <a class="item" href="{% url committee-meeting cm.id %}">{{ cm.committee.name }} {{ cm.date }}</a><br>
    {% empty %}
        {% trans 'No Info' %}
    {% endfor %}     
	</div>

    <div id="bill-after-committee" class="bill-stage">
    <h2>{% trans 'Bill formulated by the committee' %}</h2> 
    {% if object.knesset_proposal %}
        {{ object.knesset_proposal.title }} <a href="{{ object.knesset_proposal.source_url }}">{% trans 'Bill on knesset website' %}</a> 
    {% else %}
        {% trans 'No Info' %}
    {% endif %}  
	</div>  

	<div id="bill-first-vote" class="bill-stage">
    <h2>{% trans 'First Vote' %}</h2>
    {% if object.first_vote %}
        <a class="item" href="{% url vote-detail object.first_vote.id %}">{{ object.first_vote.title }} {{ object.first_vote.time }}</a>({% trans 'For' %}: {{ object.first_vote.for_votes_count }}  {% trans 'Against' %}: {{ object.first_vote.against_votes_count }})<br>
    {% else %}
        {% trans 'No Info' %}
    {% endif %}
    </div>     

    <div id="bill-second-committee-meetings" class="bill-stage">
    <h2>{% trans 'Committee Meetings' %}</h2>
    {% for cm in object.second_committee_meetings.all %}
        <a class="item" href="{% url committee-meeting cm.id %}">{{ cm.committee.name }} {{ cm.date }}</a><br>
    {% empty %}
        {% trans 'No Info' %}
    {% endfor %}
    </div>     
        
    <div id="bill-approval" class="bill-stage">
    <h2>{% trans 'Bill Approval' %}</h2>
    {% if object.approval_vote %}
        <a class="item" href="{% url vote-detail object.approval_vote.id %}">{{ object.approval_vote.title }} {{ object.approval_vote.time }}</a>({% trans 'For' %}: {{ object.approval_vote.for_votes_count }}  {% trans 'Against' %}: {{ object.approval_vote.against_votes_count }})<br>
    {% else %}
        {% trans 'No Info' %}
    {% endif %}
    </div>     
    
    <script type="text/javascript">
		function connect_el_to_div( el, div ) {
			$(el.node).click( 
					function () {
						$(".bill-stage").css("visibility","hidden");
						$("#"+div+".bill-stage").css("visibility","visible");
					}
			);
		}

    	Raphael.fn.my_arrow = function ( x,y,text, div ) {
			var paper = this;
			var splits = text.split(" ",10),
			    realtext = "";
			var c = this.set(),
			    realx = 750 - x,
			    path_params = {"stroke":"#777", "fill":"90-#ccf-#aaf"},
			    text_params = {fill: "black", opacity: 1.0, "font-family": 'Fontin-Sans, Arial', "font-size": "14px"},
			    l = paper.path(["M",realx,y,"h",-90,"l",-15,30,"l",15,30,"h",90,"l",-15,-30,"Z"]).attr(path_params);
		    
			function add_animation(el,l) {
	            el.mouseover(function () {
	                l.animate({"stroke-width": "2px"}, 50, ">");
	                l.animate({"stroke":"black"}, 500, ">");
	                l.animate({"scale": [1.15,1.05]}, 500,"bounce");
	            }).mouseout(function () {
	                l.animate({"stroke-width": "1px"}, 50, ">");
	                l.animate({"stroke":"#777"}, 200, ">");
	                l.animate({"scale":[1,1]}, 200,">");
	            });
			}
			add_animation(l,l);
            connect_el_to_div(l,div);

            var starty = 40 - ((splits.length+(splits.length % 2))/2)*10; 
            for ( var i = 0 ; i < splits.length ; i+=2 ) {
                if ( (i % 2) == 0 ) {
                	var split = splits[i];
                    if ( splits.length > i+1  ) {
						split = split+" "+splits[i+1];
                    }
			    	var t = paper.text(realx-55,y+starty+20*(i/2),split).attr(text_params);
	            	connect_el_to_div(t,div);
	            	add_animation(t,l);
			    	c.push(t)
                }
			}
			
		    c.push(l);
		    return l;
		};
		
		var paper = Raphael("bill-canvas", 750, 400);
		var rect1 = paper.my_arrow(10,10,"{% trans 'Bill initiation' %}","bill-initiation");
		var rect2 = paper.my_arrow(110,10,"{% trans 'Pre Vote' %}", "bill-pre-vote" );
		var rect3 = paper.my_arrow(210,10,"{% trans 'Committee Meetings' %}", "bill-first-committee-meetings");
		var rect4 = paper.my_arrow(310,10,"{% trans 'Bill formulated by the committee' %}", "bill-after-committee");
		var rect5 = paper.my_arrow(410,10,"{% trans 'First Vote' %}", "bill-first-vote");
		var rect6 = paper.my_arrow(510,10,"{% trans 'Committee Meetings' %}", "bill-second-committee-meetings");
		var rect7 = paper.my_arrow(610,10,"{% trans 'Bill Approval' %}", "bill-approval");

		var pos = $("#bill-canvas").position();
		$(".bill-stage").css("position","absolute");
		$(".bill-stage").css("top",pos.top + 100);
		$(".bill-stage").css("height","100%");
		$(".bill-stage").css("visibility","hidden");
		$("#bill-initiation.bill-stage").css("visibility","visible");
	</script>
    
{% endblock %}
