{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-laws %}class="selected"{% endblock %}
{% block subnav %}        
        {% trans 'stage' %}: {% for link in friend_pages %}<a href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull; {% endfor %}<br/>
        <a href="{% url bill-tags-cloud %}">{% trans 'Choose by tag' %}</a>
{% endblock %}
{% block divcontent %}
    {% if member and not stage %}
        <h1>{% blocktrans %}Bills by <a href="{{ member_url }}">{{ member }}</a>{% endblocktrans %}</h1>
	{% endif %}
	{% if member and stage %}
		<h1>{% blocktrans %}Bills {{ stage }} by <a href="{{ member_url }}">{{ member }}</a>{% endblocktrans %}</h1>
	{% endif %}
    {% if stage and not member %}
		<h1>{{ title }}</h1>
	{% endif %}    
	<div class="item-list">
        {% for o in object_list %}
            <div class="item">
                <a id="detail-{{ o.id }}" href="{% url bill-detail o.id %}">{{ o.law.title }} {{ o.title }}</a> {% trans o.get_stage_display %} ({{ o.stage_date }})<br/>
            </div>
        {% empty %}
            {% trans "No results found" %}
        {% endfor %}
	</div>
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}
{% endblock %}
