<div class="billbox">
	<div class="header header-small">
		<div class="billbox-details">
			<div class="title">
			  <a href="/bill/3260/" target="_blank">
				<span class="label">שם ההצעה:</span>
                <h1>{{bill.law.title}}: {{bill.title}}</h1>
			  </a>
			</div>
			<div class="excerpt">
				<span class="label">תקציר:</span>
				<div class="explanation"></div>
			</div>
			<div class="external-links">
				<span class="label">קישורים נוספים:</span>
                <a href="{{ bill.get_absolute_url }}" class="oknesset-resource" target='_blank'>החוק באתר כנסת פתוחה</a>
			</div>
			<div>
				<span class="status"></span>
			</div>
		</div>
		<div class="pms">
			<div class="label">יזמו:</div>
			<ul>

                {% for proposer in proposers_first3 %}
                <li><a href="{% url member-detail proposer.id %}"><img src="{{proposer.img_url}}" alt="{{proposer.name}}" title="{{proposer.name}}"/></a></li>
                {% endfor %}

			</ul>
			{% if proposers_count_minus3 > 0 %}
			<a href="#" class="more">+{{proposers_count_minus3}} </a>
			{% endif %}
		</div>
		<div class="pull"><div class="arrow down"></div></div>
	</div>
	<div class="graph drilling-">
		<div class="thedrill passed">
			<ul class="pill-nav">
				<li class="details-btn active"><a href="#">פרטי ההצבעה</a></li>
				<li class="meaning-btn"><a href="#">מה זה אומר?</a></li>
				<li class="action-btn"><a href="#">מעורבות אזרחית</a></li>
			</ul>
			<div class="thedrill-details">
				<div class="for">בעד: 6</div>
				<div class="against">נגד: 2</div>
				<div class="pms supporting" style="width:66%">
					<ul name="קדימה">
						<li><a href="/member/784/"><img src="http://www.knesset.gov.il/mk/images/members/michaeli_avraham-s.jpg" alt="אברהם מיכאלי" title="אברהם מיכאלי"/></a><span class="tooltip"><span>אברהם מיכאלי</span></span></li>
						<li><a href="/member/805/"><img src="http://www.knesset.gov.il/mk/images/members/David_Rotem-s.jpg" alt="דוד רותם" title="דוד רותם"/></a><span class="tooltip"><span>דוד רותם</span></span></li>
						<li><a href="/member/768/"><img src="http://www.knesset.gov.il/mk/images/members/elkin_zeev-s.jpg" alt="זאב אלקין" title="זאב אלקין"/></a><span class="tooltip"><span>זאב אלקין</span></span></li>
						<li><a href="/member/776/"><img src="http://www.knesset.gov.il/mk/images/members/schneller_otniel-s.jpg" alt="עתניאל שנלר" title="עתניאל שנלר"/></a><span class="tooltip"><span>עתניאל שנלר</span></span></li>
					</ul>
					<ul name="האיחוד הלאומי">
						<li><a href="/member/768/"><img src="http://www.knesset.gov.il/mk/images/members/elkin_zeev-s.jpg" alt="זאב אלקין" title="זאב אלקין"/></a><span class="tooltip"><span>זאב אלקין</span></span></li>
						<li><a href="/member/776/"><img src="http://www.knesset.gov.il/mk/images/members/schneller_otniel-s.jpg" alt="עתניאל שנלר" title="עתניאל שנלר"/></a><span class="tooltip"><span>עתניאל שנלר</span></span></li>
					</ul>
				</div>
				<div class="pms opposing" style="width:34%">
					<ul name="מרצ">
						<li><a href="/member/768/"><img src="http://www.knesset.gov.il/mk/images/members/elkin_zeev-s.jpg" alt="זאב אלקין" title="זאב אלקין"/></a><span class="tooltip"><span>זאב אלקין</span></span></li>
						<li><a href="/member/776/"><img src="http://www.knesset.gov.il/mk/images/members/schneller_otniel-s.jpg" alt="עתניאל שנלר" title="עתניאל שנלר"/></a><span class="tooltip"><span>עתניאל שנלר</span></span></li>
					</ul>
				</div>
			</div>
			<div class="thedrill-meaning">
				<p>קריאה טרומית ("דיון מוקדם") היא ההצבעה הראשונה על הצעת חוק פרטית. הצעות חוק ממשלתיות פטורות מהצבעה בקריאה טרומית ועולות ישירות לקריאה ראשונה. תוצאות הקריאה הטרומית מוכתבות כמעט תמיד על ידי עמדת הממשלה (קרי, עמדת הקואליציה). הצעה שלא היה לה רוב בקריאה טרומית מבוטלת, ואסור ליוזם ההצעה להעלותה שוב במשך חצי שנה.</p>
				<p>הצעה שכן היה לה רוב, מועברת לדיון בועדה שעליה ממליץ היוזם, להכנה לקריאה ראשונה. אם מוצעת יותר מועדה אחת בה אמורה הצעת החוק להיות נידונה, תקבע ועדת הכנסת היכן תידון ההצעה. לקביעת הועדה המטפלת יש משמעות רבה לגבי המשך סיכויי קידום הצעת החוק ולגבי האופן שבו תעוצב לבסוף. זהות יו"ר הועדה שמטפלת בהצעת החוק עשויה להיות מכרעת לעצם הבאתה לדיון והצבעה נוספים, שכן באפשרותו לעכב את המשך החקיקה על ידי אי-העלאתה ("לקבור את ההצעה"), או לקדם בועדה הצעה לבטל את החקיקה. מנגד, ועדה 'תומכת' תזרז את הטיפול בחוק ותאפשר לסיים את הליכי החקיקה שלו במהירות.</p>
				<p>ההצבעות על חוקים בקריאה טרומית מתקיימות תמיד בימי רביעי, ועל מנת להעלות הצעה להצבעה יש להשתמש במכסה שמוקנית על בסיס סיעתי, דבר המגביל מאוד את מספר ההצעות שח"כ יכול להעלות בזמן נתון. הצעה שזכתה לתמיכת ממשלה מקבלת פטור ממכסה.</p>
				<p>בשלב זה אין צורך ברוב מיוחס בהצבעה על הצעת החוק, גם אם מדובר בהצעה בעלת עלות תקציבית (ראו בהמשך).</p>
			</div>
			<div class="thedrill-action">

			</div>
		</div>
		<span class="status"></span>
		<div class="gov-position">
			<div class="step">
				<span class="date">
					(טרם פורסמה)
				</span>
			</div>
		</div>
        {% with billurl=bill.get_absolute_url %}
		<ul class="steps">

			<li class="initiated passed odd first">
				<div class="step">
                    {% if bill.proposals.count > 0 %}
                        <a href="{{ billurl }}#bill-initiation" class="link" target="_blank">קישור</a>
                    {% endif %}
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>יזום ההצעה</span></div>
					<span class="date">?</span>
				</div>
			</li>

			<li class="pre-vote drilled
				 {% if pre_vote_passed %}passed{% endif %}
				 {% if was_pre_voted %}voted{% endif %}">

				<div class="step">
                    {% if bill.pre_votes.count > 0 %}
                        <a href="{{ billurl }}#bill-pre-vote" class="link" target="_blank">קישור</a>
                    {% endif %}
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					{% if bill.pre_votes.count > 0 %}
					<div class="tooltip-score">
						<span class="balance">{{bill.pre_votes.all.0.for_votes_count}}/{{bill.pre_votes.all.0.against_votes_count}}</span>
						<div class="scale" style="width:120px">
							{# the background-position attribute value 'bottom' might not work on Firefox, or IE #}
							<span class="against" style="width:{{pre_vote_against_width}}px; background-position:{{pre_vote_backgroundPosition}}px bottom"></span>
							<span class="for"></span>
						</div>
					</div>
                    {% endif %}
					<div class="tooltip"><span>קריאה טרומית</span></div>
					<span class="date">{{pre_vote_date|safe}}</span>
				</div>
			</li>

			<li class="committee-1 passed odd">
				<div class="step">
                    {% if bill.first_committee.meetings.count > 0 %}
                        <a href="{{ billurl }}#bill-first-committee-meetings" class="link" target="_blank">קישור</a>
                    {% endif %}

					<span class="icon">icon</span>
					<div class="tooltip"><span>ישיבות ועדה</span></div>
					<span class="date">?</span>
				</div>
			</li>

			<li class="vote-1 passed">
				<div class="step">
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip-score">
						<span class="balance"></span>
						<div class="scale" style="width:120px">
							<span class="against"></span>
							<span class="for"></span>
						</div>
					</div>
					<div class="tooltip"><span>קריאה ראשונה</span></div>
					<span class="date">?</span>
				</div>
			</li>

			<li class="committee-2 passed odd">
				<div class="step">
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>ישיבות ועדה</span></div>
					<span class="date">?</span>
				</div>
			</li>

			<li class="vote-2 passed">
				<div class="step">
  				<a href="/bill/3260/#bill-approval" class="link" target="_blank">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>קריאה שניה</span></div>
					<span class="date">?</span>
				</div>
			</li>

			<li class="vote-3 passed odd">
				<div class="step">
          <a href="/bill/3260/#bill-approval" class="link" target="_blank">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>קריאה שלישית</span></div>
					<span class="date">?</span>
				</div>
			</li>

			<li class="accepted passed last">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>ההצעה הופכת לחוק</span></div>
					<span class="date">?</span>
				</div>
			</li>

		</ul>
        {% endwith %}
	</div>

	<div class="footer">
		<div class="credit">עובד והונגש ע"י <a href="http://oknesset.org">כנסת פתוחה</a> ו<a href="http://yeda.us">הסדנא לידע ציבורי</a></div>
		<div class="share">
			<a href="#" class="embed">הטמעה</a>
			<a href="#" class="link">קישור</a>
		</div>
	</div>
</div>

