{% extends "help_base.html" %}
{% block help-content %}
דף "הצעות חוק" מציג רשימה של כל הצעות החוק ומאפשר סינון עפ"י השלב שבו נמצאת ההצעה בתהליך החקיקה וכן עפ"י התגיות המקושרות להצעת החוק.
<br/>
על מנת לסנן את כל התוכן באתר עפ"י נושא מסוים, מומלץ לעבור ללשונית "תגיות".
{% endblock %}
{% block help-content-more%}
מטרת ניתוח החוקים או הצעות החוק הינה לחזק את המידע הזמין ולתקף אותו בעזרת מחקרים, דעות, בלוגים וכתבות. הרחבת יכולות האזרח את הבנת החוק. לשם כך מומלץ להוסיף לחוק קישור לכתבה, מחקר, בלוג עם פוסט רלוונטי וכדומה. ניתוח מסוג זה מאפשר חיבור הקשרים והבנה מעמיקה יותר של הקוראים בנוגע לחוק.
<br/>
<b>איך עושים את זה?</b>
<ol>
	<li>בחרו את הצעת חוק הרלוונטית. ניתן לבחור הצעות חוק בהתאם לשלב בו נמצאת ההצעה, בהתאם לתגית משוייכת (או ללא תגית)  או לשלב את שתי אפשרויות החיפוש להצגת תוצאות ממוקדות (שלב+תגית)
	</li>
	<li>לחצו על הצעות החוק לכניסה לדף ההצעה.
	</li>
	<li>בשלב זה ניתן לצרף להצעה תוכן:
		<ul>
		<li>הצבעה</li>
		<li>תגיות</li>
		<li>קישור למאמר/בלוג וכדומה , את הקישור יש להוסיף בתוך רשימת התגובות</li>
		</ul>
	</li>
</ol>
אנא הקפידו לקשר לתוכן הרלוונטי ולהסביר מדוע הנ"ל רלוונטי לחוק/הצעת החוק
<br/><br/>
<b>ניתוח חוקים, קישור חוקים לאג'נדות ושליחת הצעה לאג'נדה</b>
<ul>
	<li>ניתן לקשר חוק /הצעת חוק לאג'נדה קיימת
		<ul>
			<li>תהליך קישור חוק לאג'נדה מתבצע על ידי שליחת הצעה לקישור החוק לעורך האג'נדה המתאים</li>
		</ul>
	</li>
	<li>לצפיה ברשימת האג'נדות לחצו על הלשונית 'אג'נדות' באתר</li>
	<li>בחרו אג'נדה מהרשימה המופיעה
		<ul>
			<li>לחציה על תיבת הטקסט תציג את רשימת האג'נדות</li>
		</ul>
	</li>
</ul>
{% endblock %}