<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" >
	<meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}">
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.4.custom.min.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/embed_bill.css" type="text/css"/>
	
	<script type="text/javascript">
/*
states:
	1. initiated ("was-proposed")
	2. pre-vote ("pre-voted")
	3. summoned-1 
	4. commity-1
	5. vote-1 ("first-voted")
	6. summoned-2
	7. commity-2
	8. vote-2 ("second-voted")
	9. vote-3 ("approval-voted")
	10. passed ("approval-voted" == true)
	
stream example:
  { "note": "True/False/..." 
	"verb": "was-proposed/pre-voted/first-voted/approval-voted/was-discussed/was-voted-on-gov",
	"target": "/vote/xxxx/",
	"time": 1279717260 }
		
*/

/*
 * TODO (summary):
 *   1. bill abstract
 * √ 2. links
 * √ 3. bill title - bill.law.title VS. bill.title
 * √ 4. status
 *   6. dates - done for votes. what about future estimations?
 *   7. phase backgrounds
 *   8. active phase
 *   9. link "?" - try to do the expand if possible
 *  10. scale for votes - where to get the data? 
 *  11. what about DUPLICATIONS?
 */ 
			 
		$(function() {
			var stream = {{stream|safe}};
			//alert(JSON.stringify(stream));
			var status;
			for (var a in stream) {
				// determin date
				var d = new Date(stream[a]['time']*1000), day = d.getDate(), month = d.getMonth(), year = d.getFullYear(),
				    dateHtml = day+'/'+month+'<br>'+year;
				var verb = stream[a]['verb'];
				
				switch (verb) {
					case 'approval-voted':
						if (stream[a]['note'] == 'True') {
							status = true;
							$('#passed .date').html(dateHtml);
						}
						$('#vote-2 .date, #vote-3 .date').html(dateHtml);
						break;
					case 'first-voted':
						$('#vote-1 .date').html(dateHtml);
						break;
					case 'pre-voted':
						$('#pre-vote .date').html(dateHtml);
						break;
					case 'was-proposed':
						$('#initiated .date').html(dateHtml);
					default:
						break;
				}
				
				
			}
			
			if (status) $('.status').addClass('passed').text('אושרה');
			else $('.status').addClass('failed').text('נדחתה');
			
			var pCount = {{bill.proposers.count}};
			if (pCount > 3) $('.more').text((pCount-3) + '+');
		});
	</script>
</head>

<body>
	<div id="header">
		<div id="details">
			<div id="title">
				<span class="label">שם ההצעה:</span>
				<h1>{{bill.law.title}}: {{bill.title}}</h1>
			</div>
			<div id="excerpt">
				<span class="label">תקציר:</span>
				<p>יש את המידע הזה בכלל?</p>
			</div>
			<div id="external-links">
				<span class="label">קישורים נוספים:</span>
				<a href="{% url bill-detail bill.id %}" class="oknesset-resource">החוק באתר כנסת פתוחה</a>
				<!--<a href="#" class="knesset-resource">החוק באתר הכנסת (pdf)</a>-->
			</div>
			<div>
				<span class="status"></span>
			</div>
		</div>
		<div id="pms">
			<div class="label">יזמו:</div>
			<ul>
				{% for proposer in bill.proposers.all %}
				<li><a href="{% url member-detail proposer.id %}"><img src="{{proposer.img_url}}" alt="{{proposer.name}}" title="{{proposer.name}}"/></a></li>
				{% endfor %}
			</ul>
			<a href="#" class="more"></a>
		</div>
		<a class="pull" href="#">pull</a>
	</div>
	<div id="graph">
		<span class="status"></span>
		<div id="gov-position">
			<div class="step">
				<span class="date">
					(טרם פורסמה)
				</span>
			</div>
		</div>
		<ul id="steps">
			<li id="initiated" class="odd passed first">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>יזום ההצעה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="pre-vote" class="passed voted">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip score">
						<span class="balance">32/28</span>
						<div class="scale" style="width:60px">
							<span class="against" style="width:28px; background-position: -62px bottom;">28 against</span>
							<span class="for">32 for</span>
						</div>
					</div>
					<div class="tooltip"><span>קריאה טרומית</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="summoned-1" class="odd passed">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>זימון ישיבה בועדה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="committee-1" class="passed">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>ישיבות ועדה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="vote-1" class="odd voted failed current">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip score">
						<span class="balance">28/53</span>
						<div class="scale" style="width:80px">
							<span class="against" style="background-position: -47px bottom; width:53px">40 against</span>
							<span class="for">28 for</span>
						</div>
					</div>
					<div class="tooltip"><span>קריאה ראשונה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="summoned-2" class="failed">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>זימון ישיבה בועדה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="committee-2" class="odd failed">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>ישיבות ועדה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="vote-2" class="pending voted current">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>קריאה שניה</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="vote-3" class="odd voted pending">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>קריאה שלישית</span></div>
					<span class="date">?</span>
				</div>
			</li>
			<li id="passed" class="pending last">
				<div class="step">
					<a href="#" class="link">קישור</a>
					<a href="#" class="info">מידע</a>
					<span class="icon">icon</span>
					<div class="tooltip"><span>ההצעה הופכת לחוק</span></div>
					<span class="date">?</span>
				</div>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div id="credit">עובד והונגש ע"י <a href="http://oknesset.org">כנסת פתוחה</a> ו<a href="http://yeda.us">הסדנא לידע ציבורי</a></div>
		<div id="share">
			<a href="#" class="embed">הטמעה</a>
			<a href="#" class="link">קישור</a>
		</div>
	</div>
</body>
</html>


