
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style>
		body { padding-left: 300px; position:relative; }
		.demo-1 { width: 500px; }
		iframe#embed-widget { width: 505px; height: 375px;}
	</style>
</head>

<body>
	<img width="147" height="88" border="0" hm="1" title="חדשות תוכן ועדכונים 24 שעות - Ynet" alt="חדשות תוכן ועדכונים 24 שעות - Ynet" src="http://www.ynet.co.il/PicServer2/17112009/2344713/147-88_ynet_kariera.jpg">
	<p class="demo-1">
הכנסת קיבלה אמש (ב') חוק חדש שנועד לצמצם את חופש הפעולה של העובדים הזרים בתחום הסיעוד לנטוש את המטופלים שהזמינו אותם, במהלך תקופת שהותם החוקית בארץ, כדי למצוא מעסיקים אחרים. החוק התקבל בקריאה שניה ושלישית ביוזמת הממשלה, כתיקון לחוק הכניסה לישראל, לאחר תיקונים שהכניסה בו ועדת הפנים.
	</p>
<iframe frameborder="0" id="embed-widget" src="http://localhost:8000/bill/4129/embed/"></iframe>
<p class="demo-1">
יו"ר ועדת הפנים ח"כ דוד אזולאי (ש"ס) טען לעומתם כי התיקונים שהוועדה הכניסה לחוק "מבטיחים איזון ראוי בין האינטרסים החשובים של פיקוח על עובדי הסיעוד לטובת הנזקקים לשירותיהם תוך שמירה על זכויותיהם הבסיסיות של העובדים". הוא ציין את חובת אישור הוועדה של התקנות שנכנסה לחוק במטרה לשמור על האיזון הזה.

 
לדבריו הוועדה התנגדה להצעת הממשלה ששר הפנים יגביל את מספר המעסיקים שעובד הסיעוד יוכל לעבור ביניהם, והגבילה את סמכותו לקבוע רק "אמצעי בקרה" על מספרם. עוד ציין כי הוועדה עמדה על כך שהתקנות ייקבעו בין היתר "בשים לב לחירות העובד כך שלא ייכפה עליו לעבוד אצל מעסיק אחד", ויאפשרו לשר לאשר חריגה מההוראות שבתקנות, כמו בעניין שלילת הרשיון, "אם מצא שהדבר מוצדק בנסיבות העניין".

 
הוועדה החליטה כי גם קביעת האזורים הגיאוגרפיים, שבהם יוגבלו עובדי הסיעוד לעבוד, תעוגן בתקנות שיחייבו את אישורה, וכי ההגבלה הגיאוגרפית תחול רק על עובדי הסיעוד. "גם קביעת הסדר זה תיעשה בשים לב לחירותו של העובד", אמר אזולאי. הוא סבור כי בחוק המשופץ "יש הרבה תועלת וצדק לנכים הסיעודיים, בעיקר אלה הגרים בפריפריה, שכן העובדים הזרים יעדיפו תמיד ללכת למרכז הארץ ולנצל את הויזה לטובת אחרים". 
	</p>
</body>
</html>
