{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-laws %}class="selected"{% endblock %}
{% block divcontent %}
	<div class="item-list">
        {% for o in object_list %}
            <div class="item">
                <a id="detail-{{ o.id }}" href="{% url knesset-proposal-detail o.id %}">{{ o.law }}: {{ o.title }}</a><br/>
                <div class="info">
                    {% if o.originals.all %}
                        {% trans 'Based on' %}:
                        {% for orig in o.originals.all %}
                            {{ orig.title }} {% trans 'by' %} 
                            {% for proposer in orig.proposers.all %}
                                <a class="item dontwrap" id="detail-{{ proposer.id }}" href="{% url member-detail proposer.id %}">{{ proposer.name }}</a> 
                            {% endfor %}<br>
                        {% endfor %}
                    {% endif %}
                </div>              
            </div>
        {% empty %}
            {% trans "No results found" %}
        {% endfor %}
	</div>
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}
{% endblock %}
