{% extends "help_base.html" %}
{% block help-content %}
<ul>
	<li>דף ההצבעה על חוק מציג שני אספקטים לגבי החוק.</li>
</ul>
{% endblock %}
{% block help-content-more%}
<ul>
	<li>ראשית, האם החוק מקדם או מעכב אג'נדות מסוימות (מופיע מצד שמאל תחת "אג'נדות משויכות")
		<ul>
			<li>באמצעות המידע הזה תוכלו לדעת האם החוק מקדם / מנוגד לאג'נדות שאתם תומכים בהן ולאור כך להצביע בעד / נגד החוק. בכדי להצביע, לחצו על הלינק של הצעת החוק למטה.</li>			
		</ul>
	</li>
	<li>בנוסף, הדף מציג כיצד הצביעו חברי כנסת על החוק, בעד או נגד.
		<ul>
			<li>תוכלו להוסיף תגובה על הצבעות חברי-הכנסת ולשתף את דעתכם עם כל מבקרי האתר, וגם עם חברי-הכנסת.</li>
			<li>תוכלו לשלוח אי-מייל לחבר הכנסת ולחוות את דעתכם לגבי אופן ההצבעה שלו/שלה על החוק.</li>
		</ul>
	</li>
</ul>
{% endblock %}