{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{{ title }}{% endblock %}
{% block nav-law-approve %}{% if law_approve %}class="selected"{% endif %}{% endblock %}
{% block nav-votes %}{% if votes %}class="selected"{% endif %}{% endblock %}
{% block h1content %}{{ title }}{% endblock %}
{% block submenu %} {% endblock %}
{% block divcontent %}
	<div id="item-list">
		{% include "laws/_vote_list.html" %}
	</div>
    {% if has_previous %}
        <a id="prev" href="?page={{ previous }}">{% trans 'next votes' %}</a>    
    {% endif %}
    &nbsp;
    {% if has_next %}
        <a id="more" href="?page={{ next }}">{% trans 'previous votes' %}</a>
    {% endif %}

{% endblock %}
