{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-votes %}class="selected"{% endblock %}
{% block divcontent %}
    {% with object_list|length as count %}
        {% if member %}
            <h1>{% blocktrans %}{{ count }} Votes tagged <a href="{{ tag_url }}">{{ tag }}</a> by <a href="{{ member_url }}">{{ member }}</a>{% endblocktrans %}</h1>
        {% else %}
            <h1>{% blocktrans %}{{ count }} Votes tagged <a href="{{ tag_url }}">{{ tag }}</a>{% endblocktrans %}</h1>
        {% endif %}
    {% endwith %}
    <a href="{% url vote-tags-cloud %}{% if member %}?member={{member.id}}{% endif %}">{% trans 'Choose another tag' %}</a><br>
	<div class="item-list">
        {% for o in object_list %}
        <div class="item {% cycle "alt" "normal" %}">
            {% vote_list_item o watched_members %}
        </div>		
        {% empty %}
            {% trans "No results found" %}
        {% endfor %}
	</div>
    {% if members %}
    	<div><h2>{% blocktrans %}MKs attendance in votes related to {{ tag }}{% endblocktrans %}</h2>
        	<div class="tags cloud">
        	   {% for mk in members %}
        	       <a href="{% url vote-tag tag=tag %}?member={{mk.id}}" class="level{{ mk.font_size }}">{{ mk }}</a>
               {% endfor %}
            </div>
    	</div>
    {% endif %}
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}
{% endblock %}
