{% extends "site_base.html" %}
{% load i18n %}
{% load tagging_tags %}
{% load laws_extra %}
{% load links %}
{% load comments %}
{% block extratitle %}{{ object.title }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block description %}{{ object.title }} - {% endblock %}
{% block nav-law-approve %}{% if law_approve %}class="selected"{% endif %}{% endblock %}
{% block nav-votes %}{% if votes %}class="selected"{% endif %}{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/tagging.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/agendas.js"></script>
    <link href="{{MEDIA_URL}}css/jquery-ui-1.8.4.custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{MEDIA_URL}}css/agendas.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block divcontent %}
    <h2><a href=".">{{ object.title }}</a></h2>
    <div id="vote-info">
        <div>
            <h3>{% trans "Time" %}</h3>
            {{ object.time_string }} 
            {% if object.get_next_by_time %}
            &nbsp; <a class="bold-link" href="{% url vote-detail object_id=object.get_next_by_time.id %}">{% trans 'Go to next vote by time' %}</a>
            {% endif %}
            {% if object.get_previous_by_time %}
            &nbsp; <a class="bold-link" href="{% url vote-detail object_id=object.get_previous_by_time.id %}">{% trans 'Go to previous vote by time' %}</a>
            {% endif %}
        </div>
        <div>
            <h3>{% trans "For" %}</h3>
            {% if object.for_votes_count %}
                {% blocktrans count object.for_votes|length as counter %}
                {{ counter }} MK
                {% plural %}
                {{ counter }} MKs
                {% endblocktrans %}
                <div class="list-wrap indented">
                {% for m in object.for_votes %}
                <a class="hashnav item dontwrap" id="detail-{{ m.member.id }}" href="{% url member-detail m.member.id %}" title="{{ m.member.current_party.name }}" />{{ m.member.name }}</a>
                    {% if m.against_party %}<img src="/static/img/Warning.png" title="{% trans 'Voted differently than majority of own party' %}" />{% endif %}
                    {% if m.against_coalition %}<img src="/static/img/Error.png" title="{% trans 'Voted differently than majority of the coalition' %}" />{% endif %}
                    {% if m.against_opposition %}<img src="/static/img/Error.png" title="{% trans 'Voted differently than majority of the opposition' %}" />{% endif %}
                &nbsp;
                {% endfor %}
                </div>
            {% else %}
                {% trans 'none' %}
            {% endif %}
        </div>
        <div>
            <h3>{% trans "Against" %}</h3>
            {% if object.against_votes_count %}        
                {% blocktrans count object.against_votes|length as counter %}
                {{ counter }} MK
                {% plural %}
                {{ counter }} MKs
                {% endblocktrans %}
                <div class="list-wrap indented">
                {% for m in object.against_votes %}
                <a class="hashnav item dontwrap" id="detail-{{ m.member.id }}" href="{% url member-detail m.member.id %}" title="{{ m.member.current_party.name }}">{{ m.member.name }}</a>
                    {% if m.against_party %}<img src="/static/img/Warning.png"/ title="{% trans 'Voted differently than majority of own party' %}">{% endif %}
                    {% if m.against_coalition %}<img src="/static/img/Error.png"/ title="{% trans 'Voted differently than majority of the coalition' %}">{% endif %}
                    {% if m.against_opposition %}<img src="/static/img/Error.png"/ title="{% trans 'Voted differently than majority of the opposition' %}">{% endif %}
                &nbsp;
                {% endfor %}
                </div>
            {% else %}
                {% trans 'none' %}
            {% endif %}
        </div>

        <br>    
        <h3>{% trans 'Bill' %}</h3>
        {% for bill in bills %}
            <a href={% url bill-detail bill.id %}>{{ bill }}</a><br>
        {% empty %}    
            {% trans 'No bill is associated with this vote' %}
        {% endfor %}<br>    
        
        <div id="tagging-container">
        {% if user.is_authenticated %}
            <h3>{% trans "Tags" %}</h3>
            {% if object.tags %}
                <div id="vote-tags">
                {% for t in object.tags %}
                    {% user_votes user object t %} <br />        
                {% endfor %}
                </div>
            {% else %}
                {% trans "No tags yet" %}<br />        
            {% endif %}
            <div id="add_tags">
                <span>{% trans "Suggest Tags" %}</span> 
                <span id="possible_tags"><a href="javascript:get_tags_list();">{% trans "Click here" %}</a>
                </span>
            </div>

        {% else %}
            <h3>{% trans "Tags" %}</h3>
            {% if object.tags %}
                <div id="tags">
                {% for t in object.tags %}
                   <a href="{% url tagged-votes tag=t %}" class="tag">{{ t }} ({{ t.score }})</a>
                {% endfor %}
                </div>
            {% else %}
                {% trans "No tags yet" %}<br />
            {% endif %}

            (<a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Login to edit tags' %}</a>)
        {% endif %}
        </div>

        {% if object.committee_meetings.count %}
            <div><span>{% trans 'This vote is mentioned in the following committe meetings' %}:</span>  {% for cm in object.committee_meetings.all %}<a class="hashnav item dontwrap" href="{% url committee-meeting cm.id %}">{{ cm }}</a>{% if not forloop.last %} &bull; {% endif %}{% endfor %}</div>                
        {% endif %}

        <h3>{% trans "Links" %}</h3>
        {% object_links object %} 
        <br><br>
            


		<div id="agendas">

			 List of ascribed agendas 
			{% if object.agendavote_set.all %}
		        <h3>{% trans "Ascribed agendas" %}</h3>
                <div id="ascribed-agendas" class="list-wrap indented">
		        {% for agenda in object.agenda_set.all %}
	                <a class="hashnav item dontwrap" id="ascribed-agenda-{{ agenda.id }}" href="{% url agenda-detail agenda.id %}"/>{{ agenda }}</a>
		        {% endfor %}
		        </div>
			{% endif %}
			<br>    

			{% if user.agenda_set.all %}
		        <h3>{% trans "Ascribe your agendas" %}</h3>
                <div id="ascribe-your-agendas" class="list-wrap indented" id="agendas-choose">
		        {% for agenda in user.agenda_set.all %}
	                <a class="hashnav item dontwrap agendavote {% if agenda in object.agenda_set.all %}selected{% endif %}" id="your-agenda-{{ agenda.id }}" agenda_name="{{ agenda.name }}" agenda_id="{{ agenda.id }}" vote_id="{{ object.id }}" href="#">{{ agenda }}</a>
		        {% endfor %}
		        </div>
			{% endif %}
			
			<div class="popup">
				<div id="popupContact">
					<a id="popupContactClose">x</a>
					<h1></h1>
					<p id="contactArea">
 						<form style="margin-top: 1em;"> 
							<div id="radioset"> 
								<input type="radio" id="radio1" name="radio" /><label for="radio1">{% trans "Ascribe" %}</label> 
								<input type="radio" id="radio2" name="radio" checked="checked" /><label for="radio2">{% trans "Remove" %}</label> 
							</div> 
						</form> 
					</p>
				</div>
				<div id="backgroundPopup"></div>
		    </div> 
		    
		</div> 
        <br>


                    
        {% if object.summary %}        
            --><h3>{% trans 'summary' %}</h3>
            {{ object.summary|safe }}
            <br><br>
        {% endif %}

        {% if object.full_text %}
            <h3>{% trans 'Bill Text' %}</h3>
            {{ object.full_text|safe }}
            <br><br>
        {% endif %}

    {% get_comment_list for object as comment_list %}
    {% if comment_list %}
        <h3>{% trans 'User comments' %}</h3>
        {% for comment in comment_list %}
            <a name="c{{ comment.id }}"></a>
            {{ comment.user.username|escape }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}} {{ comment.submit_date|timesince }}{{ LANGUAGE_BIDI|yesno:"&rlm;,&lrm;"|safe}}: 
            <div class="comment">{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</div>
        {% endfor %}
    {% else %}
        <h3>{% trans 'No comments yet' %}</h3>
    {% endif %}

    {% if user.is_authenticated %}
        {% if perms.comments.add_comment %}
            {% render_comment_form for object %}
        {% else %}
            {% trans 'Please' %} <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a>{% trans ' to comment' %}
        {% endif %}
    {% else %}
        <a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Please login to comment' %}</a>
    {% endif %}

{% endblock %}


