{% extends "help_base.html" %}
{% block help-content %}
דף "הצבעות" מאפשר סינון ובחינה של של הצעות חוק בהתאם להצבעות שבוצעו על החוק.
<br/>
דף זה מאפשר סינון לשם בחירה ומעקב אחר הצבעות של חברי כנסת על הצעות חוקים.
<br/>
בדף זה ניתן לסנן ולהציג רק את ההצבעות המעניינות אתכם
{% endblock %}
{% block help-content-more%}
<b>איך עושים את זה?</b>
<br/>
להצגת הצבעות בהתאם לנושא וענין, ניתן לבצע סינון בעזרת הכלים באתר. לסינון הרשימה, ניתן לבחור אפשרויות מהרשימות המוצגות (ניתן לצמצם את התוצאות על ידי שילוב פרמרטרים):
<ul>
	<li>בחירת סוג ההצבעה המבוקש מהרשימה</li>
	<li>בחירת תגיות(אם יש)</li>
	<li>בחירת את סוג המיון המבוקש</li>
	<li>הזנת תאריכי הצבעות (במידה וידוע התאריך)</li>
	<li>לחיצה על 'סינון' תציג את רשימת התוצאות
		<ul>
			<li>לחיצה על ההצעה תציג את דף ההצבעה והפרטים הנלווים</li>
		</ul>
	</li>
</ul>
{% endblock %}