{% extends "help_base.html" %}
{% block help-content %}
<ul>
	<li>דף "הצעת חוק ספציפית" מציג מידע כללי על מהות החוק והשלב בו הוא נמצא בתהליך החקיקה. </li>
	<li>ניתן להבין האם החוק מקדם אג'נדות מסוימות, ע"י עיון בפרטי ההצבעה על החוק. תוכלו לראות את ההצבעה על החוק בלחיצה על "קריאה טרומית" או על "קריאה ראשונה" ולחיצה על הקישור להצבעה (במידה וקיימת).</li>
</ul>
{% endblock %}
{% block help-content-more%}
<ul>
	<li>לאחר שהבנתם את מהות החוק, תוכלו:
		<ul>
			<li>להצביע בעד או נגד החוק. ההצבעה על החוק משקפת לחברי הכנסת את דעת הציבור בנוגע לחוק וחשוב מכך - את דעתם של מתפקדי המפלגה שאליה משתייך חבר הכנסת (למה זה חשוב?)</li>
			<li>להוסיף תגובה לחוק ולשתף את דעתך עם כל מבקרי האתר</li>
		</ul>
	</li>
</ul>
{% endblock %}