{% load tryinclude i18n %}{% load static from staticfiles %}

  <div class="row">
    <div class="cards span6">
      <section class="card card-list card-list-latest compact">
        <header>
          <div class="btn-group" style="float:left; margin:5px 8px;">
            <a href="https://www.facebook.com/open.knesset" target="_blank" class="btn">
              <img src="{% static "img/facebook.png" %}" alt="Open Knesset on Facebook">
            </a>
            <a href="https://twitter.com/OKnesset" target="_blank" class="btn">
              <img src="{% static "img/twitter.png" %}" alt="Open Knesset on Twitter">
            </a>
            <a href="mailto:mail@oknesset.org" class="btn">
              <img src="{% static "img/mail.png" %}" alt="Open Knesset email">
            </a>
          </div>
          <h1>{% trans 'About' %}</h1>
        </header>

        <ul>
          <li> כנסת פתוחה הוא פרויקט שמטרתו לחשוף את פעילות הכנסת לציבור.</li>
          <li>באתר תוכלו לראות נתונים אמיתיים: מי הצביע בעד מה, מי יזם, כמה חברי הכנסת נמצאים בדיונים ובוועדות וכו'. המידע מגיע ברובו מאתר הכנסת.</li>
          <li>כנסת פתוחה הוא פרויקט של <a href="http://hasadna.org.il/" target="_blank">הסדנא לידע ציבורי</a> - עמותה הפועלת להגברת מעורבות הציבור בחברה ובמדינה על ידי איסוף, פתיחה והנגשה של מידע ציבורי וידע אזרחי. </li>
          <li>הפרויקט מבוסס כולו על מתנדבים, ולא נתמך ע"י אף גוף מפלגתי. יש מעט תמיכה מגופים מסחריים (ראו למטה).</li>
        </ul>

      </section>
      <section class="card card-list card-list-latest compact"><a name="terms"></a>
        <header><h2 >תנאי שימוש</h2></header>
        <ul>
          <li>השימוש באתר על אחריות המשתמש בלבד. </li>
          <li>אנו משתדלים שהמידע שאנחנו מציגים לכם יהיה אמין ומדויק, אולם אין ביכולתנו להבטיח זאת. </li>
          <li>באופן כללי, אל תעשו דברים לא חוקיים או לא נחמדים. </li>
          <li>על כל פרסום (מקוון או לא מקוון. לרבות עיתונים, בלוגים, אתרים) המשתמש בנתונים מהאתר, לציין זאת. אם מדובר בפרסום מקוון - עליכם לקשר לאתר כנסת פתוחה. בשום אופן אין ליצור מצג כאילו "כנסת פתוחה" או מי מטעמה מקבל את המסקנות העולות מהניתוח שלכם, או תומך באופן כלשהו בפרשנות שלכם לנתונים. אם לא תעבדו לפי הכללים - נצטרך להקים אתר כזה שיעקב גם אחריכם :)</li>
        </ul>

      </section>
      <section class="card card-list card-list-latest compact">
        <header><h2 >זכויות יוצרים</h2></header>
        <ul>
          <li>פרויקט "כנסת פתוחה" הוא פרויקט <a href="http://he.wikipedia.org/wiki/%D7%AA%D7%95%D7%9B%D7%A0%D7%94_%D7%97%D7%95%D7%A4%D7%A9%D7%99%D7%AA" target="_blank">תוכנה חופשית</a>. תוכלו למצוא את קוד המקור <a href="http://github.com/ofri/Open-Knesset/" target="_blank">כאן</a> .</li>
          <li>התוכן המוצג באתר - מידע גולמי על חוקים ופעילות פרלמנטרית - אינו מוגן בזכויות יוצרים. </li>
          <li>תמונות הח"כים המוצגות באתר לקוחות מאתר הכנסת, והזכויות עליהן שמורות לבעליהן.</li>
          <li>תגובות והארות גולשים מפורסמות ברישיון <a href="http://creativecommons.org/licenses/by-sa/2.5" target="_blank">CC-BY-SA 2.5</a></li>
        </ul>

      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2 >מקורות הנתונים, אמינותם ועדכניותם</h2></header>
        <ul>
          <li>הכנסת לא מפרסמת את המידע באופן שקל לבצע בו חיתוכים שונים. לדוגמה, אין קישור בין הצבעה במליאה להצעת החוק הספציפית עליה מצביעים. בשל כך, אנו נאלצים לנסות לבצע קישורים אלו כמיטב יכולתנו בעזרת אלגוריתמים אוטומטיים. כמו בכל אלגוריתם, הביצועים המתקבלים אינם מושלמים - הצבעה או דיון בוועדה עשויים להיות משויכים לחוקים הלא נכון, וכך להביא לטעות בסטטוס החוק. אנו משתדלים לשפר כל הזמן את האלגוריתמים שלנו כדי לצמצם את הטעויות, אולם פתרון מלא יתאפשר רק כאשר הכנסת תפרסם את המידע בצורה אמינה ונוחה לעיבוד.</li>
          <li> הצבעות נאספות מהדף הזה באתר הכנסת: <a href="http://knesset.gov.il/vote/heb/vote_search.asp" target="_blank">http://knesset.gov.il/vote/heb/vote_search.asp</a>. לרוב <b>לוקח כשבוע מרגע ההצבעה עד שהיא מתפרסמת באתר הכנסת הרשמי</b>. אם זה מפריע לכם כמו שזה מפריע לנו שלא ניתן למצוא הצבעות מיד לאחר התרחשותן, אתם מוזמנים להתלונן על כך למערכת אתר הכנסת הרשמי בכתובת המייל feedback@knesset.gov.il. אנחנו מתעדכנים מאתר הכנסת כל לילה.</li>
          <li>הצעות חוק נאספות ממספר רשימות שונות באתר הכנסת: <a href="http://knesset.gov.il/laws/heb/law_main.asp" target="_blank">http://knesset.gov.il/laws/heb/law_main.asp</a>, ועמדת הממשלה נאספת מאתר מזכירות הממשלה בכתובת <a href="http://www.pmo.gov.il/PMO/vadot/hakika" target="_blank">http://www.pmo.gov.il/PMO/vadot/hakika</a>.</li>
          <li>פרוטוקולי ועדות נאספים מהדף הזה באתר הכנסת: <a href="http://knesset.gov.il/protocols/heb/protocol_search.aspx" target="_blank">http://knesset.gov.il/protocols/heb/protocol_search.aspx</a>. כאן <b>יש עיכוב משתנה בפרסום המידע בין מספר ימים למספר שבועות</b>. חשוב לציין כי <b>לא כל הפרוטוקולים מפורסמים</b> (למשל, של ועדת חוץ ובטחון). לכן <b>גם נתוני נוכחות חברי הכנסת בוועדות, שאנו מסיקים מתוך הפרוטוקולים אינם כוללים ישיבות אלו</b>.</li>
          <li>נוכחות חברי הכנסת במשכן נאספת מדף זה באתר הכנסת: <a href="http://knesset.gov.il/presence/heb/PresentList.aspx" target="_blank">http://knesset.gov.il/presence/heb/PresentList.aspx</a> כל מספר דקות.</li>
          <li>תגיות, תגובות והארות נוספות על ידי משתמשים רשומים שלנו.</li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2 >כנסת פתוחה בתקשורת</h2></header>
        <ul>
        <li>10.7.2013 <a href=“http://www.blacklabor.org/?p=52589” target=_blank”>עבודה שחורה - מה עשו בשבילנו חברי הכנסת - עדכונים מכנסת פתוחה</a>.</li>
          <li> 9.3.2013: <a href=“http://www.nrg.co.il/online/1/ART2/504/607.html” target=“_blank”>מעריב - המהפכות החברתיות של תשע”ג - כנסת פתוחה כמחוללת שינוי</a>.</li>
          <li>6.1.2013: <a href="http://www.haaretz.co.il/magazine/the-edge/1.18%2098043" target="_blank”>הארץ - כנסת פתוחה רוצה להתעדכן</a>.</li>
          <li>20.10.2012: <a href="http://www.haaretz.co.il/captain/net/1.1847811" target="_blank”>’הארץ - קפטן אינטרנט על אתרים שיעזרו לכם לדעת למי להצביע</a>.</li>
          <li>15.10.2012: <a href="http://www.kikarhashabat.co.il/חכי-יהדות-התורה-מהמצטיינים.html" target="_blank">כנסת פתוחה באתר 'כיכר השבת'</a>.</li>
          <li>7.3.2011: <a href="http://www.103.fm/programs/Media.aspx?ZrqvnVq=FFEIIG&c41t4nzVQ=EE" target="_blank">103FM רדיו</a>.</li>
          <li>7.3.2011: <a href="http://digital-edition.israelhayom.co.il/Olive/ODE/Israel/Default.aspx?href=ITD/2011/03/07&pageno=29&view=document" target="_blank">כתבה של גדעון אלון בישראל היום</a>.</li>
          <li>22.2.2011: <a href="http://news.israelinfo.ru/technology/36229" target="_blank">כתבה באתר החדשות israelinfo.ru (ברוסית)</a>.</li>
          <li>11.08.2010: <a href="http://23tv.co.il/241-he/Tachi.aspx" target="_blank">השתתפנו בתכנית 'עושים סדר' עם גל גבאי</a>.</li>
          <li> 10.08.2010: <a href="http://tech.walla.co.il/?w=/4007/1720157" target="_blank">וואלה כתבה של גיא גרימלנד שהתפרסמה ב </a>.</li>
        <li><a href="http://www.haaretz.com/print-edition/business/here-s-what-happens-when-computer-geeks-meet-mks-who-barely-come-to-work-1.307255" target="_blank">במהדורה האנגלית של עיתון הארץ</a>.</li>
          <li> 06.08.2010: כנסת פתוחה הוצג
            ב<a href="http://wiki.hamakor.org.il/index.php/%D7%90%D7%95%D7%92%D7%95%D7%A1%D7%98_%D7%A4%D7%99%D7%A0%D7%92%D7%95%D7%95%D7%99%D7%9F" target="_blank">אוגוסט פינגווין - הכנס השנתי של עמותת הקוד הפתוח 'המקור'</a>.</li>
          <li>27.04.2010: <a href="http://www.ynet.co.il/articles/0,7340,L-3880950,00.html" target="_blank">כתבה של אהוד קינן ב- ynet.</a>.</li>
          <li>12.04.2010 <a href="http://www.talyaron.com/2010/04/12/democracy/" target="_blank">כתבה של טל ירון בבלוג שלו</a>.</li>
          <li>
          <p class="alert alert-info">אם יש לכם בלוג או אתר, ואתם כותבים עלינו, <a href="mailto:mail@oknesset.org">תודיעו לנו בבקשה</a>, שנשים גם לכם לינק בחזרה...</p>
          </li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2 >אתרים דומים בעולם</h2></header>
        <ul>
          <li><a href="http://www.opencongress.org" target="_blank">Open Congress</a> בארצות הברית</li>
          <li><a href="http://www.publicwhip.org.uk" target="_blank">The Public Whip</a> בבריטניה</li>
          <li><a href="http://openparliament.ca" target="_blank">Open Parliament</a> בקנדה</li>
        </ul>
      </section>
    </div>

    <div class="cards span6">
      <section class="card card-list card-list-latest compact">
        <header><h2>אני רוצה לעזור בתוכן ופעילות האתר!</h2></header>
        <ul>
          <li>ראשית יש <a href="/users/create/?next=/" >להרשם לאתר</a> כדי לבצעת את הפעולות הבאות:</li>
          <li>
            <h3>תיוג הצעות חוק והצבעות</h3>
            <ul>
              <li>להכנס <a href="/bill/" >הצעות חוק</a> או <a href="/vote/" >הצבעות</a>.</li>
              <li>לבחור הצעת חוק או הצבעה מהרשימה.</li>
              <li>ללחוץ על הקישור "עריכת תגיות".</li>
              <li>לבחור את התגיות המתאימות לנושא ההצעה או ההצבעה.</li>
            </ul>
          </li>
          <li>
            <h3 >ניהול אג'נדות</h3>
            <ul>
              <li>מידע נוסף בעמוד <a href="http://oknesset.org/agenda">אג'נדות</a>.</li>
            </ul>
          </li>
          <li>
            <h3>דיונים</h3>
            <ul>
              <li>
                  דיונים סביב פעילות כנסת פתוחה מתבצעים בקבוצת הגוגל
                  <a href="https://groups.google.com/forum/#!forum/open-knesset" target="_blank">open-knesset</a>.
              </li>
              <li>בקבוצה ניתן לשאול, להעלות רעיונות ולהתדיין בנושאים הקשורים לאתר.</li>
              <li>זה המקום המרכזי להתעדכן בהודעות על גרסאות חדשות של האתר, מפגשי פיתוח ועדכונים שוטפים.</li>
              <li>
                ניתן להשתמש
                ב<a href="https://groups.google.com/forum/#!forum/open-knesset" target="_blank">ממשק מבוסס הדפדפן</a>
                ו/או <a href="https://groups.google.com/group/open-knesset/subscribe" target="_blank">להירשם לקבלת עדכונים בדוא&quot;ל</a>.
              </li>
            </ul>
          </li>
          <li>
            <h3 >מדיה חברתית</h3>
            <ul>
                <li>ניתן להצטרף לקבוצה של כנסת פתוחה ב<a href="http://www.facebook.com/open.knesset" target="_blank">פייסבוק</a> ולהזמין חברים.</li>
                <li>לעקוב אחרינו ב<a href="http://twitter.com/oknesset" target="_blank">טוויטר</a>.</li>
                <li>לכתוב על הפרויקט בבלוג שלכם, או בתגובות לכתבות רלוונטיות בעיתונים השונים.</li>
            </ul>
          </li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2>אני רוצה לעזור בפיתוח האתר!</h2></header>
        <ul>
            <li>הפיתוח מתבצע ב־<a href="https://github.com/hasadna/Open-Knesset" target="_blank">Github</a>.</li>
            <li>
              עקבו אחר <a href="http://oknesset-devel.readthedocs.org" target="_blank">המדריך המיועד למפתחים</a>
              אשר ילווה אתכם בתהליך יצירת עותק משלכם בגיטהאב, התקנת סביבת הפיתוח
              במחשב שלכם ונהלי עבודה.
            </li>
            <li>
                קבותת הגוגל <a href="https://groups.google.com/forum/#!forum/oknesset-dev" target="_blank">oknesset-dev</a>
                מיועדת למפתחים. ניתן לשאול שאלות, להעלות רעיונות ולהתדיין
                בנושאים הקשורים לפיתוח ועיצוב האתר ופרוייקטים נוספים הבנויים סביבו.
                ניתן להשתמש ב<a href="https://groups.google.com/forum/#!forum/oknesset-dev" target="_blank">ממשק מבוסס דפדפן</a>
                ו/או <a href="https://groups.google.com/group/oknesset-dev/subscribe" target="_blank">להירשם לקבלת עדכונים בדוא&quot;ל</a>.
            </li>
            <li>
                ב־Github תמצאו <a href="https://github.com/hasadna/Open-Knesset/issues?state=open" target="_blank">באגים, מטלות ובקשת תכונות</a>.
                תוכלו לבחור אחד מהם ולהתחיל לעבוד עליו. נא לציין בתגובות לנושא
                הנבחר כי אתם עובדים על זה. אם אתם מתחילים חפשו כאלה המתוייגים
                כ<a href="https://github.com/hasadna/Open-Knesset/issues?labels=Suiteable+as+first+task&amp;page=1&amp;state=open" target="_blank">מתאימים בתור משימה ראשונה</a>.
            </li>
            <li>
                <h3>ממשק למשיכת מידע מהאתר (API)</h3>
                <p>מתועד ב־<a href=""http://oknesset-api.readthedocs.org/ target="_blank">Open Knesset API and embedding</a>.</p>
            </li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2>מידע טכני</h2></header>
        <ul>
            <li>{% try_to_include "last_build.txt" %}</li>
        </ul>
      </section>


      <section class="card card-list card-list-latest compact">
        <header><h2>תודות</h2></header>
        <ul>
            <li><h3>גופים מסחריים שתומכים בנו:</h3></li>
            <li><a href="http://tuzig.com" target="_blank">טוזיג</a> - מימון של שרתי האתר.</li>
            <li><a href="http://nsa.co.il" target="_blank">NSA</a> - עזרה ותמיכה</li>
            <li><a href="http://shop.empeeric.com" target="_blank">אמפיריק</a> - אירוח מפגשי המפתחים.</li>
        </ul>
      </section>
    </div>
  </div>
