{% load i18n %}
{% trans "Open Knesset a project aimed at exposing the knesset's work to the public." %} <br />
{% trans "After all, they work for us, don't they?" %} <br /><br/>
{% trans "All the work is done by volunteers, with no support from any political or commercial entity." %} <br />
{% trans "Most of the data is taken from the Knesset website." %} <br />
{% trans "All the source code is available" %} <a href="http://github.com/ofri/open-knesset/">{% trans "here" %}</a><br />
{% trans "The project's mailing list is" %} <a href="http://groups.google.com/group/open-knesset/">{% trans "here" %}</a><br />

