<!DOCTYPE html>{% load i18n search %}{% load static from staticfiles %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}">
<head>
    <meta charset="utf-8" >
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}">
    <title>{% block extratitle %}{% endblock %} | {% trans 'Open Knesset' %}</title>
    <meta NAME="ROBOTS" content="{% if debug %}NOINDEX, NOFOLLOW{% else %}ALL{% endif %}">
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="MSSmartTagsPreventParsing" content="true" >
    <meta name="Authors" content="OpenKnesset">
    <meta name="License" content="CC-by-sa-3.0 Attribution-NonCommercial-ShareAlike 3.0">
    <meta name="keywords" content="{% trans 'Open Knesset' %} {% block keywords %}{% endblock %}" >
    <meta name="description" content="{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}">
    <meta name="google-site-verification" content="TAmHbnTgm9dvrNMB41Ke-lZesXPgTd5xSW5lBTzq020" />
    <meta property="og:image" content="/static/img/oknesset-logo-small.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}?v=1" />
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>

<!--    
    <link href="{% static "css/common.css" %}?v=21" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/jquery.jgrowl.css" %}" rel="stylesheet" type="text/css" media="screen" />
-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extracss %} {% endblock %}
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" />
    {% block extrajs %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <header id="app-header" class="container">
{% if debug %}
    <div class="row"><div class="span12"><div class="alert alert-error">{% trans 'This is a development server, all data in it should be considered fictional.  users are kindly requested to go to '%}<a href="http://oknesset.org/">http://oknesset.org/</a></div></div></div>
{% endif %}
      <div class="row">
        <div id="logo" class="span4">
          <a href="/">
            <img src="{% static "img/oknesset-logo.png" %}" alt="oknesset-logo" />
            <span>כנסת פתוחה</span>
          </a>
        </div>
        <div id="search" class="span5">
            {% search_form "search_page" %}
        </div>

        <div id="login" class="span3 dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <b class="caret"></b>
            <img src="../img/user-pic.png" alt="user-pic" width="36" height="36" />
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">הגדרות</a></li>
            <li><a href="#">יציאה</a></li>
          </ul>
        </div>
      </div>

      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">חכים וסיעות</a>
        </li>
        <li><a href="#">חקיקה</a></li>
        <li><a href="#">ועדות</a></li>
        <li><a href="#">מליאה</a></li>
        <li><a href="#">אג'נדות</a></li>
      </ul>
    </header>
    <div id="helptextcontainer"></div>
    <div id="container">
        <div id="accounts">
            {% if user.is_authenticated %}
                <a href="{{user.get_profile.get_absolute_url}}">{% trans 'Logged in as ' %} {{ user }}</a> |
                <a href="{% url edit-profile %}">{% trans 'Edit Profile' %}</a> |
                <a href="{% url logout %}?next={{request.get_full_path}}">{% trans 'Logout' %}</a>
            {% else %}
                <a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'login' %}</a>
            {% endif %}
        </div>
        <div id="header">
            <ul id="nav-global">
                <li id="laws" {% block nav-laws %} {% endblock %} > <a href="{% url bill-list %}">{% trans 'Bills' %}</a> </li>
                <li id="nav-past-votes" {% block nav-votes %} {% endblock %} > <a href="{% url vote-list %}">{% trans 'Past Votes' %}</a> </li>
                <li id="nav-members" {% block nav-members %} {% endblock %} > <a href="{% url member-list %}">{% trans 'Members' %}</a> </li>
                <li id="nav-parties" {% block nav-parties %} {% endblock %} > <a href="{% url party-list %}">{% trans 'Parties' %}</a> </li>
                <li id="nav-committees" {% block nav-committees %} {% endblock %} > <a href="{% url committee-list %}">{% trans 'Committees' %}</a> </li>
                <li id="nav-agendas" {% block nav-agendas %} {% endblock %} > <a href="{% url agenda-list %}">{% trans 'Agendas' %}</a> </li>
                <li id="nav-tags" {% block nav-tags %} {% endblock %} > <a href="{% url tags-list %}">{% trans 'Tags' %}</a> </li>
                <li id="nav-planet" {% block nav-planet %} {% endblock %} > <a href="{% url planet_index %}">{% trans 'Posts' %}</a> </li>
                <li id="nav-about" {% block nav-about %} {% endblock %} > <a href="{% url about %}">{% trans 'About' %}</a> </li>
            </ul>

        </div>
        <!-- END Header -->
        <div id="columnwrap">
            {% block columnwrap %}
                <div id="cse" class="main" style="display:none;"></div>
                <div id="content-main" class="main">
                    {% block content-main %}{% endblock %}
                    <div class="clear"></div>
                    {% block social %}
                    <div class="content-footer">
                        {% if not debug %}
                        <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
                             | <input type="hidden" value="_s-xclick" name="cmd">
                            <input type="hidden" value="K7X4FWYPBR7H4" name="hosted_button_id">
                            <input type="submit" name="submit" value="תרמו לנו!">
                            <img width="1" height="1" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/he_IL/i/scr/pixel.gif" alt="">
                        </form> 
                            <!-- AddToAny BEGIN -->
                            <div class="a2a_kit a2a_default_style">
                            <a class="a2a_dd" href="http://www.addtoany.com/share_save">שיתוף</a>
                            <span class="a2a_divider"></span>
                            <a class="a2a_button_email"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_google_plus"></a>
                            <a class="a2a_button_delicious"></a>
                            <a class="a2a_button_digg"></a>
                            </div>
                            <script type="text/javascript">
                            var a2a_config = a2a_config || {};
                            a2a_config.locale = "he";
                            </script>
                            <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
                        {% endif %}
                    </div>
                    {% endblock %}
                </div>
                <!-- END #content-main -->
            {% endblock %}
        </div>
        <!-- END #content -->
        <footer id="app-footer" class="container">
            <div class="row">
                <div class="span3">
                    <ul id="nav-global">
                        <li id="laws"> <a href="{% url bill-list %}">{% trans 'Bills' %}</a> </li>
                        <li id="nav-tags"><a href="{% url tags-list %}">{% trans 'Tags' %}</a> </li>
                        <li id="nav-planet"><a href="{% url planet_index %}">{% trans 'Posts' %}</a> </li>
                        <li id="nav-about"><a href="{% url about %}">{% trans 'About' %}</a> </li>
                    </ul>
                </div>
                <div class="span7"><a href="{% url about %}">{% trans 'Some rights reserved.' %}</a></div>
                <div class="span2">
                    <a target="_blank" href="https://market.android.com/details?id=org.oknesset"><img src="/static/img/android_app.png" alt="אייפון" height="51" width="41px"></a>
                    <a target="_blank" href="http://itunes.apple.com/us/app/id475096101"><img src="/static/img/iphone_app.png" alt="אייפון" height="51" width="34px"></a>
                </div>
            </div>
        </footer>
        <!-- END #footer -->
    </div>
<!-- JS Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}"></script>
    <script src="{% static "js/bootstrap-modal.js" %}"></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>

    <script src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script src="{% static "js/jquery.jgrowl.js" %}"></script>
    <script src="{% static "js/raphael-min.js" %}"></script>
    <script src="{% static "js/okhelptexts.js" %}"></script>
    <script src="{% static "js/togglehelpextended.js" %}"></script>
<!-- end JS -->
    <script>
        $(function() { 
            // send csrf with AJAX
            $('html').ajaxSend(function(event, xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            });

            // set jGrowl position
            $.jGrowl.defaults.position="top-left";
        });
    {% if not debug %}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15521464-1']);
        _gaq.push(['_setDomainName','.oknesset.org']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    {% endif %}
    </script>
    {% block footer %}
    {% endblock %}
    </body>
</html>

