<!DOCTYPE html>{% load i18n search avatar_tags feedback %}{% load static from staticfiles %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}">
<head>
        <meta charset="utf-8" >
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}">
        <meta NAME="ROBOTS" content="{% if debug %}NOINDEX, NOFOLLOW{% else %}ALL{% endif %}">
        <meta name="Authors" content="OpenKnesset">
        <meta name="License" content="CC-by-sa-3.0 Attribution-NonCommercial-ShareAlike 3.0">
        <meta name="google-site-verification" content="TAmHbnTgm9dvrNMB41Ke-lZesXPgTd5xSW5lBTzq020" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}?v=26" />
        <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>

        <!--
            <link href="{% static "css/common.css" %}?v=22" rel="stylesheet" type="text/css" media="screen" />
        -->
        <link href="{% static "css/jquery.jgrowl.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block extracss %} {% endblock %}
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}" />
        {% block extrahead %}{% endblock %}
    </head>
    <body style="background-color:transparent;">
        {% block content %}ahm.. my child should replace this block{% endblock %}
    </body>
</html>

