{% extends "site_base.html" %}
{% block extrahead %} <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url main-actions-feed %}" /> {% endblock %}
{% load i18n i18ninclude search %}{% load static from staticfiles %}
{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}. {% trans 'Non partisan, non commercial site that brings you relevant, detailed and accurate information about the knesset' %}{% endblock %}
{% block extratitle %}{% trans 'Home' %}{% endblock %}
{% block nav-main-page %} class="selected" {% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function() {
        var btn = $("#events-more");
        if (btn) {
            btn.attr("data-initial", $("#upcoming-events li").length)
        }   
{% if tidbits %}
        $('#tidbitCarousel').carousel({interval: 7000})
{% endif %}
    });
</script>

{% endblock %}

{% block divcontent %}

<div id="tidbitCarousel" class="carousel slide card card-main" style="margin-top:20px">
    {% include "auxiliary/_suggestion_button.html" with suggest_for="tidbit" %}
    <!--ol class="carousel-indicators">
    {% for tidbit in tidbits  %}
        <li {% if forloop.first %} class="active"{% endif %} data-slide-to="{{forloop.counter0}}" data-target="#tidbitCarousel"> </li>
    {% endfor %}
    </ol-->
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for tidbit in tidbits  %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <img class="tidbit-pic"
                src="{% if tidbit.photo %}{{tidbit.photo}}{% else %}{{STATIC_URL}}img/tidbits/{{tidbit.icon}}.png{% endif %}"
                alt="Tidbit photo">
            <strong class="tidbit-icon-{{tidbit.icon}}">{{tidbit.title}}</strong>
            <div>{{tidbit.content|safe}}</div>
            <a class="btn btn-more" href="{{tidbit.button_link}}">{{tidbit.button_text}}</a>
        </div>
        {% empty %}
        <div class="item active">
            <h1>No Tidbits</h1>
            <div>Seems like the db is clean of tidbits.</div>
            <a class="btn" href="admin/auxiliary/tidbit/add/">Add a tidbit</a>
        </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#tidbitCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#tidbitCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row">
    <div class="span8">
      <div class="card card-list card-list-latest">
        <header>
            <h2>{% trans "Upcoming Events" %}</h2>
        </header>
        <ul id="upcoming-events">
        {% if events %}
          {% for o in events %}
              {% include "events/_event_li.html" %}
          {% endfor %}
        {% else %}
            <li>לא נמצאו אירועים</li>
        {% endif %}
        </ul>
        {% if events_more %}
        <footer>
        <button id="events-more" class="btn btn-mini btn-expand" data-provide="okmore"
            data-loading-text="{% trans "Loading" %} ..."
            autocomplete="off" data-target="#upcoming-events" 
            data-url="{% url more-upcoming-events %}"
            >{% trans "More" %} +</button>
        </footer>
        {% endif %}
      </div>
    </div>
    <div class="span4">
        <div class="alert alert-block">
          <a href="{% url help %}">מה אפשר לעשות באתר?</a>
        </div>
        <aside class="sidebar">
          <h2>אודותינו</h2>
          <ul>
              <li class="agenda-mini clearfix"> 
                  <p>
                      האתר מאפשר לכל אזרח להשתתף באורח פעיל יותר בפעילות הכנסת.  אנו
                      סורקים את אתר הכנסת ומקורות מידע רשמיים ובאמצעות אלגוריתמים
                      חישוביים וצוות עורכים מסור, מסדרים ומארגנים את המידע לנוחות המשתמש.
                      האתר עדיין בפיתוח, ואנו מתנצלים מראש על באגים ושגיאות בנתונים.
                  </p>
                  <a class="btn btn-more" href="/about/">קראו עוד אודות כנסת פתוחה</a>
              </li>
              <li>
                  <p>
                      <a href="http://www.hasadna.org.il/"><img src="/static/img/hasadna-logo.png" style="width:50px; float:left"></a>
                      כנסת פתוחה מפותח על ידי עמותת
                      <a href="http://www.hasadna.org.il/">הסדנא לידע ציבורי</a>.
                      אנחנו זקוקים לעזרתכם להפיץ את האתר:
                  </p>
                  <!-- AddToAny BEGIN -->
                  <p class="a2a_kit a2a_default_style" style="width:200px; margin:0 auto;">
                      <a class="a2a_dd" href="http://www.addtoany.com/share_save">שיתוף</a>
                      <span class="a2a_divider"></span>
                      <a class="a2a_button_email"></a>
                      <a class="a2a_button_facebook"></a>
                      <a class="a2a_button_twitter"></a>
                      <a class="a2a_button_google_plus"></a>
                      <a class="a2a_button_delicious"></a>
                      <a class="a2a_button_digg"></a>
                      <script type="text/javascript">
                      var a2a_config = a2a_config || {};
                      a2a_config.locale = "he";
                      </script>
                      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
                  </p>
                  <!-- AddToAny END -->
              </li>
          </ul>
        </aside>
    </div>
</div>
{% if FUTURE %}
<div class="row">
    <div class="span6">
      <div class="card card-list">
        <header>
          <h2>{% trans "comments" %}</h2>
        </header>
      </div>
    </div>
    <div class="span6">
      <div class="card card-list">
        <header>
          <h2>{% trans "Annotations" %}</h2>
        </header>
      </div>
    </div>
</div>
{% endif %}

{% endblock %}
