{% extends "site_base.html" %}
{% block extrahead %} <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url main-actions-feed %}" /> {% endblock %}
{% load i18n i18ninclude search %}{% load static from staticfiles %}
{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}. {% trans 'Non partisan, non commercial site that brings you relevant, detailed and accurate information about the knesset' %}{% endblock %}
{% block extratitle %}{% trans 'Home' %}{% endblock %}
{% block nav-main-page %} class="selected" {% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function() {
        var btn = $("#events-more");
        if (btn) {
            btn.attr("data-initial", $("#upcoming-events li").length)
        }   
{% if tidbits %}
        $('#tidbitCarousel').carousel({interval: 8000})
{% endif %}
{% if user.is_authenticated %}
        $('#suggest-tidbit-modal form').submit(function() {
            var $this = $(this),
                $btn = $('input[type=submit]', $this);

            if ($btn.attr('disabled') === 'disabled') {
                return false;
            }

            $btn.button('loading');
            $.post($this.attr('action'), $this.serialize())
                .done(function(data){
                    if (data.success) {
                        var container = $('<div class="alert"><a href="#" class="close" data-dismiss="alert">&times;</a></div>'),
                        msg = $('<span/>').text('{% trans "Your suggestion is submitted. Thank you" %}');

                        msg.appendTo(container);

                        $($('.container').get(1)).prepend(container);
                        container.alert();
                        $('#suggest-tidbit-modal').modal('hide');
                    }
                    else {

                    }
                })
                .always(function() {
                    $btn.button('reset');
                })
            return false;
        })
{% endif %}
    });
</script>

{% endblock %}

{% block divcontent %}
<div id="suggest-tidbit-modal" class="modal hide fade"
    tabindex="-1" role="dialog" aria-labelledby="suggestTidbitModalLabel" aria-hidden="true">
    {% if user.is_authenticated %}<form method="post" action="." class="modal-form" autocomplete="off">{% csrf_token %}{% endif %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="suggestTidbitModalLabel">{% trans "Suggest Tidbit" %}</h3>
        </div>
        <div class="modal-body">
            {% if user.is_authenticated %}
            {{ suggest_tidbit.as_p }}
            {% else %}
            {% include "auxiliary/_login_to_suggest.html" %}
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if user.is_authenticated %}<input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" data-loading-text="{% trans "Sending" %} ..."/>{% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
    {% if user.is_authenticated %}</form>{% endif %}
</div>

<div class="row" style="margin-top:20px;">
    <div class="cards span12">
      <div class="card card-list">
        <div id="tidbitCarousel" class="carousel slide">
            <a href="#suggest-tidbit-modal" class="btn btn-mini btn-suggest" data-role="button" data-toggle="modal">{% trans "Suggest" %}</a>
            <ol class="carousel-indicators">
            {% for tidbit in tidbits  %}
                <li {% if forloop.first %} class="active"{% endif %} data-slide-to="{{forloop.counter0}}" data-target="#tidbitCarousel"> </li>
            {% endfor %}
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for tidbit in tidbits  %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <h1 class="tidbit-icon-{{tidbit.icon}}">{{tidbit.title}}</h1>
                    <div>{{tidbit.content|safe}}</div>
                    <a class="btn" href="{{tidbit.button_link}}">{{tidbit.button_text}}</a>
                </div>
                {% empty %}
                <div class="item active">
                  <h1>No Tidbits</h1>
                    <div>Seems like the db is clean of tidbits.</div>
                    <a class="btn" href="admin/auxiliary/tidbit/add/">Add a tidbit</a>
                </div>
                {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#tidbitCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#tidbitCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="span8">
      <div class="card card-list card-list-latest">
        <header>
            <h2>{% trans "Upcoming Events" %}</h2>
        </header>
        <ul id="upcoming-events">
        {% if events %}
          {% for o in events %}
              {% include "events/_event_li.html" %}
          {% endfor %}
        {% else %}
            <li>לא נמצאו אירועים</li>
        {% endif %}
        </ul>
        {% if events_more %}
        <footer>
        <button id="events-more" class="btn btn-mini btn-expand" data-provide="okmore"
            data-loading-text="{% trans "Loading" %} ..."
            autocomplete="off" data-target="#upcoming-events" 
            data-url="{% url more-upcoming-events %}"
            >{% trans "More" %} +</button>
        </footer>
        {% endif %}
      </div>
    </div>
    <div class="span4">
        <div class="alert alert-block">
          <a href="{% url help %}">מה אפשר לעשות באתר?</a>
        </div>
        <aside class="sidebar">
          <h2>אודותינו</h2>
          <ul>
              <li class="agenda-mini clearfix"> 
                  <p>
                      האתר מאפשר לכל אזרח להשתתף באורח פעיל יותר בפעילות הכנסת.  אנו
                      סורקים את אתר הכנסת ומקורות מידע רשמיים ובאמצעות אלגוריתמים
                      חישוביים וצוות עורכים מסור, מסדרים ומארגנים את המידע לנוחות המשתמש.
                      האתר עדיין בפיתוח, ואנו מתנצלים מראש על באגים ושגיאות בנתונים.
                  </p>
                  <a class="btn btn-more" href="/about/">קראו עוד אודות כנסת פתוחה</a>
              </li>
              <li>
                  <p>
                      <a href="http://www.hasadna.org.il/"><img src="/static/img/hasadna-logo.png" style="width:50px; float:left"></a>
                      כנסת פתוחה מפותח על ידי עמותת
                      <a href="http://www.hasadna.org.il/">הסדנא לידע ציבורי</a>.
                      אנחנו זקוקים לעזרתכם להפיץ את האתר:
                  </p>
                  <!-- AddToAny BEGIN -->
                  <p class="a2a_kit a2a_default_style" style="width:200px; margin:0 auto;">
                      <a class="a2a_dd" href="http://www.addtoany.com/share_save">שיתוף</a>
                      <span class="a2a_divider"></span>
                      <a class="a2a_button_email"></a>
                      <a class="a2a_button_facebook"></a>
                      <a class="a2a_button_twitter"></a>
                      <a class="a2a_button_google_plus"></a>
                      <a class="a2a_button_delicious"></a>
                      <a class="a2a_button_digg"></a>
                      <script type="text/javascript">
                      var a2a_config = a2a_config || {};
                      a2a_config.locale = "he";
                      </script>
                      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
                  </p>
                  <!-- AddToAny END -->
              </li>
          </ul>
        </aside>
    </div>
</div>
{% if FUTURE %}
<div class="row">
    <div class="span6">
      <div class="card card-list">
        <header>
          <h2>{% trans "comments" %}</h2>
        </header>
      </div>
    </div>
    <div class="span6">
      <div class="card card-list">
        <header>
          <h2>{% trans "Annotations" %}</h2>
        </header>
      </div>
    </div>
</div>
{% endif %}

{% endblock %}
