{% extends "help_base.html" %}
{% block help-content %}
<p style="font-size:115%">ברוכים הבאים לאתר "כנסת פתוחה". ריכזנו כאן עבורכם מידע רב מהעשייה של הכנסת האחרונה, כדי לעזור לכם להצביע בבחירות 2013. קחו לכם כמה דקות לראות מה חברי הכנסת שלכם עשו עבורכם.</p>
<br/>
האתר מציג את המידע על מה שקורה בכנסת בצורה נוחה וברורה למשתמש ומאפשר דיון של גורמים מקצועיים ואזרחים מן השורה בנושאים של שולחן המחוקקים.
<br/>
{% endblock %}
{% block help-content-more%}
<br/>האתר מנגיש את המידע בכדי שכל אזרח ואזרחית יידעו על מה הם רוצים להשפיע ועוזר לאזרחים להשפיע על-ידי יצירת פלטפורמה לדיאלוג בין הציבור לנציגיו בכנסת
<br/><br/>
באתר ניתן לצפות בתהליך החקיקה, הצעות חוק, חוקים, מידע הנוגע לחברי הכנסת, מפלגות ועוד. 
<br/>
אחד מהכלים העוזר לאזרחים להשפיע הוא החיבור והמעקב אחר חוקים, הצעות חוק והצבעות לאג'נדות.
<br/><br/>
בכדי שתוכלו לתייג חוקים, לבנות אג'נדות ולנתח חוקים והצעות חוק, יש ראשית להירשם לאתר 'כנסת פתוחה'.
<br/><br/>
לצפייה, הצבעה והשארת תגובה, יש להיכנס ללשוניות המתאימות באתר.
{% endblock %}
