{% load i18n mks_tags %}
{% get_member_for post as member %}
<span class="thumb">
    {% if member %}
    <a href="{{ member.get_absolute_url }}">
        <img src="{{ member.img_url }}" alt="{{ member.name }}" title="{{member.name}}" eight="110" width="75">
    </a>
    {% endif %}
</span>
<span class="body">
    <h3>
        <a href="{{ post.url }}" title="{% trans 'read post' %} {{ post.title }}">
            {{ post.title|striptags|safe }}
        </a>
    {% if member %}
        <span class="source">({{ member.name|safe }}, {{ member.current_party }})</span>
    {% endif %}
    </h3>
    <p class="content">
        {{ post.content|safe|striptags|truncatewords:"100" }} 
    </p>
    <p class="tags list">
        {% for tag in post.tags.all %}
            {% if forloop.first %} {% trans "tags" %}: {% endif %}
            <a href="{% url tag_detail tag.name %}" title="Tag">{{ tag.name }}</a>
        {% endfor %}
    </p>
    <div class="date">{% trans "before:" %}&nbsp;{{ post.date_modified|timesince }}</div>
</span>
