{% extends "site_base.html" %}
{% load i18n laws_tags bills_tags committees_tags %}
{% block extratitle %}{{ tag }}{% endblock %}
{% block keywords %}{{ tag }}{% endblock %}
{% block description %}{{ tag }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-tags %}class="selected"{% endblock %}
{% block header %}
    <ul id="breadcrumbs"> 
        <li class="first"><a href="{% url tags-list %}">{% trans "Tags" %}</a></li>
        <li>{{tag}}</li>
    </ul>
{% endblock %}
{{% block divcontent %}
    <div class="item-list three-columns">
    {% with bills|length as count %}
        <h2>{% blocktrans %}{{ count }} Bills{% endblocktrans %}</h2>
    {% endwith %}
        {% for o in bills %}
            <div class="item {% cycle "normal" "alt" %}">
                {% bill_list_item o %}
            </div>
        {% empty %}
            {% trans "No results found" %}
        {% endfor %}
    </div>
    <div class="item-list three-columns">
    {% with votes|length as count %}
        <h2>{% blocktrans %}{{ count }} Votes{% endblocktrans %}</h2>
    {% endwith %}
        {% for o in votes %}
            <div class="item {% cycle "normal" "alt" %}">
                {% vote_list_item o %}
            </div>
        {% empty %}
            {% trans "no results found" %}
        {% endfor %}
    </div>
    <div class="item-list three-columns">
    {% with cms|length as count %}
        <h2>{% blocktrans %}{{ count }} Committee Meetings{% endblocktrans %}</h2>
    {% endwith %}
        {% for o in cms %}
            <div class="item {% cycle "normal" "alt" %}">
                {% committee_meeting_list_item o %}
            </div>
        {% empty %}
            {% trans "no results found" %}
        {% endfor %}
    </div>


{% endblock %}

