{% extends "site_base.html" %}
{% load i18n laws_tags bills_tags committees_tags %}
{% block extratitle %}{{ tag }}{% endblock %}
{% block keywords %}{{ tag }}{% endblock %}
{% block description %}{{ tag }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-tags %}class="selected"{% endblock %}
{% block breadcrumbs %}
        <li><a href="{% url 'tags-list' %}">{% trans "Tags" %}</a> <span class="divider">/</span></li>
        <li class="active">{{tag}}</li>
{% endblock %}
{% block divcontent %}
{% if members %}
    <div class="card card-main">
        <div class="row">
            <div class="span12">
                <div class="spacer">
                    <h1>{% blocktrans %}Active members for {{ tag }}{% endblocktrans %}</h1>
                    <div class="text-center">
                    {% for mk in members %}
                        <a href="{% url 'member-detail' pk=mk.pk %}" class="label level{{ mk.font_size }}">{{ mk }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    <div class="row">
        <div class="span4">
            <div class="cards">
                <div class="card card-list compact">
                {% with bills|length as count %}
                    <header><h2>{% blocktrans %}{{ count }} Bills{% endblocktrans %}</h2></header>
                {% endwith %}
                    <ul>
                    {% for o in bills %}
                        {% bill_list_item o %}
                    {% empty %}
                        <li>{% trans "No results found" %}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="cards">
                <div class="card card-list compact">
                {% with votes|length as count %}
                    <header><h2>{% blocktrans %}{{ count }} Votes{% endblocktrans %}</h2></header>
                {% endwith %}
                    <ul>
                    {% for o in votes %}
                        {% vote_list_item o %}
                    {% empty %}
                        <li>{% trans "no results found" %}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="cards">
                <div class="card card-list compact">
                    {% with cms|length as count %}
                    <header><h2>{% blocktrans %}{{ count }} Committee Meetings{% endblocktrans %}</h2></header>
                    {% endwith %}
                    <ul>
                    {% for o in cms %}
                        {% committee_meeting_list_item o %}
                    {% empty %}
                        <li>{% trans "no results found" %}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

