{% load i18n %}
{% load tags %}
<header><h2>{% trans "Tags" %}</h2></header>
<div id="tags">
{% if tags %}
    {% for t in tags %}
    <a id="tag_{{t.id}}" href="{% url 'tag-detail' slug=t %}" class="tag label">{{ t }}</a>
    {% endfor %}
{% else %}
    <span id="no-tags-yet">{% trans "No tags yet" %}</span>
{% endif %}
</div>
{% if user.is_authenticated %}
<div id='tags_addnew' style='display:none;'>
    <input autocomplete='off' style='border:1px solid black;'/>
    <div id='tags_notexist' class='alert' style='display:none;'>
        <div>{% trans "The tag does not exist" %}</div>
        <a href='javascript:tags.suggest();'>{% trans "Click here to suggest the tag" %}</a>
    </div>
    <div id='tag_suggestion_accepted' class='alert' style='display:none;'>
        <div>{% trans "Tag suggestion sent to editors" %}</div>
    </div>
    <div><a href='javascript:tags.add();'>{% trans "Add" %}</a></div>
</div>
<h3 id='tags_edit'><a href='javascript:tags.edit();'>{% trans "Edit Tags" %}</a></h3>
{% if tag_suggestions %}
	<span id="tag_suggestions" style='display:none;'><br>{% trans "Suggested Tags" %}<br>
		{% for tag, tag_count in tag_suggestions %}
			<a data-tag="{{tag}}" class="tag-suggested label">{{tag}}&nbsp;({{tag_count}})</a>
		{% endfor %}
	</span>
{% endif %}
<h3 id='tags_doneedit' style='display:none;'><a href='javascript:tags.doneEdit();'>{% trans "Done Edit Tags" %}</a></h3>
{% else %}
<div class="alert alert-block"><a href="{% url 'login' %}?next={{request.get_full_path}}">{% trans 'Login to edit tags' %}</a></div>
{% endif %}
{% add_tag_suggestion_form %}
