{% load comments %}
{% load i18n %}
{% load avatar_tags %}

{% get_comment_list for object as comment_list %}
<header><h2><i class="fa fa-comments"></i>{% trans 'User comments' %}</h2></header>
<ul>
{% if comment_list %}
    {% for comment in comment_list %}
        <li class="agenda-mini">
          <a name="c{{ comment.id }}"></a>
          <header>
              <a href="{% url 'public-profile' comment.user.username %}" alt="{{comment.user}}">{% avatar comment.user 48 %}</a>
              <h3>
                  <a href="{% url 'public-profile' comment.user.username %}">{{comment.user}}</a>&nbsp; &nbsp;{{comment.user.get_full_name}}&nbsp; &nbsp;{{comment.submit_date}}
              </h3>
          </header>
          <div>
              <div class="item-credit">
              </div>
              <p>{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</p>
               {% if user == comment.user or user.is_staff%}
               <footer style="center-text"><a href="{% url 'comments-delete-comment' comment.id %}">{% trans 'delete comment' %}</a></footer>
               {% endif %}
            </div>
          </li>
    {% endfor %}
{% else %}
    <li>{% trans 'No comments yet' %}</li>
{% endif %}

{% if user.is_authenticated %}
    {% if perms.comments.add_comment %}
    <li>{% render_comment_form for object %}</li>
    {% else %}
    <li><div class="alert alert-block">{% trans "Please" %} <a href="{% url 'edit-profile' %}">{% trans "validate your email" %}</a>{% trans " to comment" %}</div></li>
    {% endif %}
{% else %}
  <li><div class="alert alert-block"><a href='{% url 'login' %}?next={{request.get_full_path}}'>{% trans 'Please login to comment' %}</a><div></li>
{% endif %}
</ul>
