{% extends "site_base.html" %}
{% load i18n %}
{% block divcontent %}
	<h1>Recent comments</h1>

	<p>
		{% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a> | 
		{% endif %}
        {% trans "Page" %} {{ page_obj.number }} of {{ paginator.num_pages }} 
		{% if page_obj.has_next %}
            | <a href="?page={{ page_obj.next_page_number }}"> {% trans "Next" %}</a>
		{% endif %}
    </p>

	{% for comment in object_list %}
	<div class="comment" id="c{{ comment.id }}">
	    <h3>
			<a href="{{ comment.get_absolute_url }}">
				{{ comment.user.username|escape }} on {{ comment.content_object.title }}
				<span class="small quiet">
					{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}
				</span>
			</a>
		</h3>
	    {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
	</div>
	{% endfor %}

	<p>
		{% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a> | 
		{% endif %}
        {% trans "Page" %} {{ page_obj.number }} of {{ paginator.num_pages }} 
		{% if page_obj.has_next %}
            | <a href="?page={{ page_obj.next_page_number }}"> {% trans "Next" %}</a>
		{% endif %}
    </p>
{% endblock %}

