{% load comments %}
{% load i18n %}
{% load avatar_tags %}

{% get_comment_list for object as comment_list %}
{% if comment_list %}
    <h3>{% trans 'User comments' %}</h3>
    <div class="item-list">
    {% for comment in comment_list %}
        <a name="c{{ comment.id }}"></a>
        <div class="item {% cycle "normal" "alt" %}">
            <div class="item-header">
                <div class="avatar-item">
                    <a href="{% url public-profile comment.user.username %}" alt="{{comment.user}}">{% avatar comment.user 48 %}</a>
                </div>
            </div>
            <div class="item-credit">
                <a href="{% url public-profile comment.user.username %}">{{comment.user}}</a>&nbsp; &nbsp;{{comment.user.get_full_name}}
            </div>
            <p>{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}</p>
            <div class="item-footer">
                {% if user == comment.user or user.is_staff%}
                    <div style="float:left;"><a href="{% url comments-delete-comment comment.id %}">{% trans 'delete comment' %}</a> </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <h3>{% trans 'No comments yet' %}</h3>
{% endif %}

{% if user.is_authenticated %}
    {% if perms.comments.add_comment %}
        {% render_comment_form for object %}
    {% else %}
        {% trans 'Please' %} <a class="bold-link" href="{% url edit-profile %}">{% trans 'validate your email' %}</a>{% trans ' to comment' %}
    {% endif %}
{% else %}
    <span class="please-register"><a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Please login to comment' %}</a><span>
{% endif %}
