{% extends "site_base.html" %}
{% load i18n laws_tags bills_tags mks_tags links_tags voting_tags agendas_tags i18ninclude %}
{% load static from staticfiles %}
{% block extracss %}
    <link href="{% static "css/jquery.autocomplete.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static "js/tagging.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ok-watch.js" %}?v=1"></script>
    <script type="text/javascript" src="{% static "js/raphael-min.js" %}"></script>
    <script type="text/javascript">
        function show_only_vote_stage_div( div ) {
                $("#visible-bill-stage").html($("#"+div).html());


                return true;
         }

        function connect_el_to_div( el, div ) {
            el.click( function () {
                $("#" + div).get(0).scrollIntoView();
            } );
        }

        Raphael.fn.my_arrow = function ( x,y,div,active ) {
            var paper = this;
            var realx = 850 - x;
            var path_params;
            if ( active ) {
                path_params = {"stroke":"#777", "fill":"90-#ccf-#aaf"};
            } else {
                path_params = {"stroke":"#999", "fill":"#ccc", "fill-opacity":0.5};
            }
            var l = paper.path(["M",realx,y,"h",-90,"l",-15,30,"l",15,30,"h",90,"l",-15,-30,"Z"]).attr(path_params);


            function add_animation(el,l) {
                el.hover(function () {
                    l.attr({"stroke-width": "2px",
                            "stroke":"#224",
                            "scale": [1.1,1.1]});
                    return true;
                },
                function () {
                    l.attr({"stroke-width": "1px",
                            "stroke":"#777",
                            "scale": [1,1]});
                    return true;
                });
            }
            l.toBack();
            $(l.node).css("cursor","pointer");
            add_animation(l,l);
            connect_el_to_div(l,div);
            return l;
        };

        Raphael.fn.my_box = function ( x,y,div,active ) {
            var paper = this;
            var realx = 850 - x;
            var path_params;
            if ( active ) {
                 path_params = {"stroke":"#777", "fill":"90-#ccf-#aaf"};
            } else {
                 path_params = {"stroke":"#999", "fill":"#ccc", "fill-opacity":0.5};
            }
            var l = paper.path(["M",realx,y,"h",-500,"l",-7,15,"l",7,15,"h",500,"l",7,-15,"Z"]).attr(path_params);


            function add_animation(el,l) {
                el.hover(function () {
                    l.attr({"stroke-width": "2px",
                            "stroke":"#224",
                            "scale": [1.01,1.1]});
                    return true;
                },
                function () {
                    l.attr({"stroke-width": "1px",
                            "stroke":"#777",
                            "scale": [1,1]});
                    return true;
                });
            }
            l.toBack();
            $(l.node).css("cursor","pointer");
            add_animation(l,l);
            connect_el_to_div(l,div);
            return l;
        };

        Raphael.fn.approved = function ( _x,y,approved ) {
            var paper = this;
            var s=paper.set(),
                im,
                x = 850-_x,
                circle_radius = 15,
                circle_x = x + circle_radius,
                circle_y = y + circle_radius,
                c = paper.circle(circle_x,circle_y,circle_radius);
            if ( approved == null ) {
                im = paper.image("{% static "img/unknown.png" %}",x,y,30,30);
            } else if ( approved ) {
                c.attr({"fill":"fff","fill-opacity":0.8, "stroke-width":"2px","stroke":"#4c4"});
                im = paper.image("{% static "img/ok.png" %}",x,y,30,30);
            } else {
                c.attr({"fill":"fff","fill-opacity":0.8, "stroke-width":"2px","stroke":"#c44"});
                im = paper.image("{% static "img/stop.png" %}",x,y,30,30);
            }
            s.push(c,im);
            return s;
        }
        $(document).ready(function() {
                $("[rel=tooltip]").tooltip({placement:'bottom'});
                var paper = Raphael("bill-canvas", 850, 150);
                var titles = paper.image("{% static "img/bill-view-stage-labels.png" %}",137,10,699,130);
                var rect1 = paper.my_box(105,80,"gov-decision",{% if object.gov_decisions.all %}true{% else %}false{% endif %});
                var rect1 = paper.my_arrow(10,10,"bill-initiation", {% if object.proposals.all or object.gov_proposal %} true {% else %} false {% endif %});
                var rect2 = paper.my_arrow(110,10,"bill-pre-vote", {% if object.pre_votes.all %} true {% else %} false {% endif %});
                var rect3 = paper.my_arrow(210,10,"bill-first-committee-meetings", {% if object.first_committee_meetings.all %} true {% else %} false {% endif %});
                {% for v in object.pre_votes.all %}
                    var im2 = paper.approved(235,25,{{ v.for_votes_count }}  > {{ v.against_votes_count }});
                {% endfor %}
                var rect4 = paper.my_arrow(310,10,"bill-after-committee", {% if object.knesset_proposal %} true {% else %} false {% endif %});
                var rect5 = paper.my_arrow(410,10,"bill-first-vote", {% if object.first_vote %} true {% else %} false {% endif %});
                var rect6 = paper.my_arrow(510,10,"bill-second-committee-meetings", {% if object.second_committee_meetings.all %} true {% else %} false {% endif %});
                {% if object.first_vote %}
                    var im5 = paper.approved(535,25,{{ object.first_vote.for_votes_count }}  > {{ object.first_vote.against_votes_count }});
                {% endif %}
                var rect7 = paper.my_arrow(610,10,"bill-approval", {% if object.approval_vote %} true {% else %} false {% endif %});
                {% if object.approval_vote %}
                    var im7 = paper.approved(735,25,{{ object.approval_vote.for_votes_count }}  > {{ object.approval_vote.against_votes_count }});
                    var bg = paper.circle(70,40,38).attr({"fill":"#fff","stroke-width":"3px","stroke":"#ff8"}),
                    law = paper.image("{% static "img/law.png" %}",40,8,60,66);
                {% endif %}
                $(titles.node).attr("pointer-events","none");

                var options = {
                     serviceUrl:'/vote/auto_complete/',
                     minChars:2,
                     maxHeight:400,
                     width:600,
                     deferRequestBy: 100, //miliseconds
                     onSelect: function(value, data, me){
                        me.siblings("input[name$='vote_id']").val(data);
                        me.siblings("input[type$='submit']").removeAttr('disabled');
                     }
                 };
                $('.vote_input').each(function(item) {
                     $(this).keydown(function() {
                        $(this).siblings("input[name$='vote_id']").val('');
                        $(this).siblings("input[type$='submit']").attr('disabled', 'disabled');
                     });
                     $(this).autocomplete(options);

                });
                if (location.hash) {
                  // Can be '#' + one of the "bill-stage" class divs.
                    $(location.hash).get(0).scrollIntoView();
                }
            });
    </script>
{% endblock %}
{% block extratitle %}{% bill_full_name object %}{% endblock %}
{% block keywords %}{% bill_full_name object %},{{ keywords }}{% endblock %}
{% block description %}{% bill_full_name object %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-laws %}class="active"{% endblock %}
{% block breadcrumbs %}
            <li><a href="{% url 'bill-list' %}">{% trans "Legislation" %}</a> <span class="divider">/</span></li>
            <li class="active">{% bill_full_name object %}</li>
{% endblock %}

{% block divcontent %}
    <div id="legislation-information-modal" class="modal hide fade"
        tabindex="-1" role="dialog" aria-labelledby="LegislationModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="legislationModalLabel">{% trans "Legislation" %}</h3>
        </div>
        <div class="modal-body">
            <p><a target="_blank" href="http://hamishmar.org.il/?page_id=431">{% trans 'Explanation about the legislation process' %}</a></p>
	        {% i18ninclude "laws/bill_detail_help.html" LANGUAGE_CODE %}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
    </div>

    <div id="embed-information-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="embedModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="embedModalLabel">קחו את החוק לידיים!</h3>
        </div>
        <div class="modal-body">
            בדיוק כמו שסרטוני יוטוב יכולים להיות מוטמעים באתרים אחרים, גם תהליך החקיקה הזה יכול להופיע בבלוגים, כתבות, פייסבוק וכן הלאה...<br>
            <b>העתיקו את קוד ההטמעה (html):</b><br>
            <input type="text" readonly="readonly" value='<iframe frameborder="0" id="embed-widget" src="http://oknesset.org/bill/{{object.id}}/embed/" style="width: 505px; height: 375px;"></iframe>'></br>
            <b>העתיקו את הלינק (להטמעה בפייסבוק):</b><br>
            <input type="text" readonly="readonly" value='http://oknesset.org/bill/{{object.id}}'/>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
    </div>
    {% if perms.laws.change_bill %}
    <div id="edit-bill-modal" class="modal hide fade"
        tabindex="-1" role="dialog" aria-labelledby="editBillModalLabel" aria-hidden="true">
        <form method="post" action="." class="modal-form">{% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="editBillModalLabel">{% trans "Edit Bill" %}</h3>
            </div>
            <div class="modal-body">
                    <input type="hidden" name="user_input_type" value="change_bill_name"></input>
                    <label for="bill_name">{% trans 'name' %}:</label>
                    <input type="text" class="input-block-level" name="bill_name" id="bill_name" value="{{ object.full_title }}" /><br/>
                    <label for="bill_name">{% trans 'popular name' %}:</label>
                    <input type="text" class="input-block-level" name="popular_name" id="popular_name" value="{{ object.popular_name }}" />
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
            </div>
        </form>       
    </div>
    {% endif %}
    <section class="card card-main-party">
        <div class="row">
            <div class="span9 card-details">
                <div class="spacer">
                    <header>
                        <a class="btn btn-mini btn-question" href="#legislation-information-modal" data-toggle="modal">?</a>
                        <h1>{% bill_full_name object %}</h1>
                    </header>
                    <p>
                        {% trans 'stage' %}:<strong{% if object.frozen %} class="text-error"{% endif %}>{% trans object.get_stage_display %}</strong>
                        {% trans 'stage date' %}: <strong>{{ object.stage_date }}</strong>
                    </p>
                    <div id="bill-canvas"> </div>
                </div>
            </div>
            <div class="span3 social-details">
              <div class="spacer actions-panel">
                {% include "auxiliary/_watch.html" with watched_id=object.id watched_type="bill"%}
                <a href="#embed-information-modal" class="btn btn-big" role="button" data-toggle="modal">{% trans "embed" %}</a>
                {% if perms.laws.change_bill %}
                <a href="#edit-bill-modal" class="btn btn-big" role="button" data-toggle="modal">{% trans "Edit Bill" %}</a>
                {% endif %}
            </div>
    </section>
    {% if proposers %}
    <div class="card card-party-members">
        <div>
            {% include "mks/member_photos.html" with members=proposers %}
        </div>
    </div>
    {%endif%}

    <div class="row">
        <div class="cards span8">
    {% comment %} Note that the stage names must remain in sync with embed_bill_detail.html {% endcomment %}
            <section class="card card-list" id="bill-initiation">
                <header><h2>{% trans 'Bill initiation' %}</h2></header>
                <ul>
                {% if object.gov_proposal %}
                    <li>
                        <p class="item-action">{% trans 'Government Proposal' %}</p>
                        <p class="item-title">
                            <a rel="tooltip" title="{% trans 'Bill on knesset website' %}" href="{{ object.gov_proposal.source_url }}">{{ object.gov_proposal.title }} {% trans 'booklet' %} {{ object.gov_proposal.booklet_number }} </a>
                        </p>
                        <p class="item-context">{{ object.gov_proposal.date }}</p>
                    </li>
                {% else %}
                    {% for pp in object.proposals.all %}
                    <li>
                        <p class="item-action">פ/&rlm;{{pp.knesset_id}}/&rlm;{{pp.proposal_id}}</p>
                        <p class="item-title">
                            <a href="#pp{{ pp.pk }}" data-toggle="modal">{{ pp.title }}</a>
                        </p>
                        <p class="item-context">{{ pp.date }}</p>
                        <div id="pp{{ pp.pk }}" class="modal hide fade"
                            tabindex="-1" role="dialog" aria-labelledby="pp{{pp.pk}}ModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h3 id="pp{{pp.pk}}ModalLabel">{{pp.title}}</h3>
                                <div class="modal-body">
                                    <a href="{{ pp.source_url }}">{% trans 'Bill on knesset website' %}</a>
                                    <p>
                            {% if pp.content_html %}
                                {{ pp.content_html|safe }}
                            {% else %}
                                {% trans 'Sorry, Proposal text not available' %}
                            {% endif %}
                                    </p>
                                </div>
                                <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button></div>
                            </div>
                        </div>
                        
                        <div class="proposal_content">
                        </div>
                        </li>
                    {% empty %}
                        <li>{% trans 'No Info' %}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </section>

            <section class="card card-list" id="bill-pre-vote">
                <header><h2>{% trans 'Pre Vote' %}</h2></header>
                <ul>
                {% for v in object.pre_votes.all %}
                    <li>
                        <p class="item-action">
                            {% trans 'For' %} <span class="badge badge-success">{{ v.for_votes_count }}</span>
                            {% trans 'Against' %} <span class="badge badge-important">{{ v.against_votes_count }}</span>
                        </p>
                        <p class="item-title">
                        {% if user.is_authenticated %}
                            <a href="{% url 'bill-unbind-vote' object.id v.id %}"><img src="{% static "img/X.png" %}"></a>
                        {% endif %}
                            <a class="item" href="{% url 'vote-detail' v.id %}">{{ v.title }}</a>
                        </p>
                        <p class="item-context">{{ v.time }}</p>
                    </li>
                {% empty %}
                    <li>
                        {% trans 'No Info' %}<br>
                        {% if user.is_authenticated %}
                        {% trans 'Suggest a matching vote' %}
                        <form method="post" action=".">{% csrf_token %}
                            <input type="hidden" name="user_input_type" value="pre vote"></input>
                            <input type="text" class="vote_input" name="vote_string"></input>
                            <input type="hidden" name="vote_id"></input>
                            <input type="submit" disabled value="{% trans 'Submit' %}"></input>
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </section>

            <section class="card card-list" id="bill-first-committee-meetings">
                <header><h2>{% trans 'Committee Meetings' %}</h2></header>
                <ul>
                {% for cm in object.first_committee_meetings.all %}
                    <li>
                        <p class="item-title"><a class="item" href="{% url 'committee-meeting' cm.id %}">{{ cm.committee.name }}</a></p>
                        <p class="item-context">{{ cm.date }}</p>
                    </li>
                {% empty %}
                <li>{% trans 'No Info' %}</li>
                {% endfor %}

                </ul>
            </section>

            <section class="card card-list" id="bill-after-committee">
                <header><h2>{% trans 'Bill formulated by the committee' %}</h2></header>
                <ul>
                    <li> 
                    {% if object.knesset_proposal %}
                        <p class="item-title"><a href="{{ object.knesset_proposal.source_url }}">{% trans 'Bill on knesset website' %}</a></p>
                    {% else %}
                        {% trans 'No Info' %}
                    {% endif %}
                    </li>
                </ul>
            </section>

            <section class="card card-list" id="bill-first-vote">
                <header><h2>{% trans 'First Vote' %}</h2></header>
                <ul>
                    <li>
                    {% if object.first_vote %}
                        <p class="item-action">{% trans 'For' %}: {{ object.first_vote.for_votes_count }}  {% trans 'Against' %}: {{ object.first_vote.against_votes_count }}</p>
                        <p class="item-title">
                        {% if user.is_authenticated %}
                            <a href="{% url 'bill-unbind-vote' object.id object.first_vote.id %}"><img src="{% static "img/X.png" %}"></a>
                        {% endif %}
                            <a href="{% url 'vote-detail' object.first_vote.id %}">{{ object.first_vote.title }}</a>
                        </p>
                        <p class="item-context">{{ object.first_vote.time }}</p>
                    {% else %}
                        {% trans 'No Info' %}<br>
                        {% if user.is_authenticated %}
                        {% trans 'Suggest a matching vote' %}
                        <form method="post" action=".">
                            {% csrf_token %}
                            <input type="hidden" name="user_input_type" value="first vote"></input>
                            <input type="text" class="vote_input" name="vote_string"></input>
                            <input type="hidden" name="vote_id"></input>
                            <input type="submit" disabled value="{% trans 'Submit' %}"></input>
                        </form>
                        {% endif %}
                    {% endif %}
                    </li>
                </ul>
            </section>

            <section class="card card-list" id="bill-second-committee-meetings">
                <header><h2>{% trans 'Committee Meetings' %}</h2></header>
                <ul>
                {% for cm in object.second_committee_meetings.all|slice:":4" %}
                    <li>
                        <p class="item-title"><a href="{% url 'committee-meeting' cm.id %}">{{ cm.committee }}</a></p>
                        <p class="item-context">{{ cm.date }}</p>
                    </li>
                {% empty %}
                    <li>{% trans 'No Info' %}</li>
                {% endfor %}
                </ul>
                {% if object.second_committee_meetings.count > 4 %}
                <ul id="more-meetings" style="display:none">
                {% for cm in object.second_committee_meetings.all|slice:"4:" %}
                    <li>
                        <p class="item-title"><a href="{% url 'committee-meeting' cm.id %}">{{ cm.committee.name }}</a></p>
                        <p class="item-context">{{ cm.date }}</p>
                    </li>
                {% endfor %}
                </ul>
                <footer>
                  <a href="#" class="btn btn-mini btn-expand" data-target="#more-meetings"
                      data-toggle="oktoggle" data-text="{% trans "More" %} +|{% trans "Collapse" %} -">{% trans "More" %} +</a>
                </footer>
                {% endif %}
            </section>

            <section class="card card-list" id="bill-approval">
                <header><h2>{% trans 'Bill Approval' %}</h2></header>
                <ul>
                    <li>
                {% if object.approval_vote %}
                    <p class="item-action">{% trans 'For' %}: {{ object.approval_vote.for_votes_count }}  {% trans 'Against' %}: {{ object.approval_vote.against_votes_count }}</p>
                    <p class="item-title">
                        {% if user.is_authenticated %}
                            <a href="{% url 'bill-unbind-vote' object.id object.approval_vote.id %}"><img src="{% static "img/X.png" %}"></a>
                        {% endif %}
                        <a href="{% url 'vote-detail' object.approval_vote.id %}">{{ object.approval_vote.title }}</a>
                    </p>
                    <p class="item-context">{{ object.approval_vote.time }}</p>
                    </li>
                {% else %}
                    <li>
                        {% trans 'No Info' %}<br>
                        {% if user.is_authenticated %}
                        {% trans 'Suggest a matching vote' %}
                        <form method="post" action=".">{% csrf_token %}
                            <input type="hidden" name="user_input_type" value="approval vote"></input>
                            <input type="text" class="vote_input" name="vote_string"></input>
                            <input type="hidden" name="vote_id"></input>
                            <input type="submit" disabled value="{% trans 'Submit' %}"></input>
                        </form>
                        {% endif %}
                    </li>
                {% endif %}
                </ul>
            </section>

            <section class="card card-list" id="gov-decision">
                <header><h2>{% trans 'Government Stand' %}</h2></header>
                <ul>
                {% for d in object.gov_decisions.all %}
                    <li>
                        <p class="item-action">
                        {% if d.stand == 1 %}
                            {% trans 'For' %},
                        {% else %}
                            {% if d.stand == -1 %}
                                {% trans 'Against' %},
                            {% endif %}
                        {% endif %}
                            {{ d.date }}
                        </p>
                        <p class="item-title">{{ d.title }}</p>
                        <p class="item-context">
                            <h4>{{ d.subtitle }}</h4>
                            {{ d.text|safe }}
                        </p>
                        <p class="item-context">
                            <a href="{{ d.source_url }}">{% trans 'Decision on government website' %}</a>
                        </p>
                    </li>
                {% empty %}
                    {% trans 'No Info' %}
                {% endfor %}
                </ul>
            </section>

        </div> <!-- span8 -->

        <div class="span4">
            <aside class="sidebar">
                {% agendas_for user object 'bill' %}
            </aside>
            <aside class="sidebar">
                <header><h2>{% trans "Public Opinion" %}</h2></header>
                <div id="public-opinion">
                    <div class="progress">
                        <div class="bar bar-success" style="width:{{voting_score.for_percent}}%">{{ voting_score.for }}</div>
                        <div class="bar bar-danger" style="width:{{voting_score.against_percent}}%">{{ voting_score.against }}</div>
                    </div>
                    {% if party_voting_score %}
                    <h4>{% trans 'Public Opinion - party members' %}</h4>
                    <div class="progress">
                        <div class="bar bar-success" style="width:{{party_voting_score.for_percent}}%">{{ party_voting_score.for }}</div>
                        <div class="bar bar-danger" style="width:{{party_voting_score.against_percent}}%">{{ party_voting_score.against }}</div>
                    </div>
                    {% endif %}
                    {% if user_party_voting_score %}
                    <h4>{% trans 'Public Opinion - your party members' %}</h4>
                    <div class="progress">
                        <div class="bar bar-success" style="width:{{user_party_voting_score.for_percent}}%">{{ user_party_voting_score.for }}</div>
                        <div class="bar bar-danger" style="width:{{user_party_voting_score.against_percent}}%">{{ user_party_voting_score.against }}</div>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% vote_by_user user on object as vote_dict %}
                        {% if vote_dict and vote_dict.direction %}
                        {% trans 'You voted '%} <b>{{ vote_dict.get_direction_display }}</b>
                        <form action="{% url 'vote-on-bill' bill.id 0 %}" method="post">{% csrf_token %}
                            <input type="submit" name="submit" value="{% trans "Delete" %}" class="btn"/>
                        </form>
                        {% else %}
                        <div class="row">
                            <form class="span1" action="{% url 'vote-on-bill' bill.id 1 %}" method="post">{% csrf_token %}
                                <input type="submit" name="submit" value="{% trans "I'm for" %}"/>
                            </form>
                            <form class="span1" action="{% url 'vote-on-bill' bill.id -1 %}" method="post">{% csrf_token %}
                                <input type="submit" name="submit" value="{% trans "I'm against" %}" />
                            </form>
                        </div>
                        {% endif %}
                    {% else %}
                        <a href='{% url 'login' %}?next={{request.get_full_path}}'>{% trans 'Please login to vote' %}</a>
                    {% endif %}
                </div>
            </aside>
	 		<aside class="sidebar" id="tagging-container">
                <header><h2>{% trans "Tags" %}</h2></header>
                <p id="tags">
                    {% if tags %}
                        {% for t in tags %}
                            <a class="label" id="tag_{{t.id}}" href="{% url 'bill-tag' tag=t %}" class="tag">{{ t }}</a>
                        {% endfor %}
                    {% else %}
                        <span id="no-tags-yet">{% trans "No tags yet" %}</span>
                    {% endif %}
                </p>
                {% if user.is_authenticated %}
                <div id="add_tags" data-app-label="laws" data-object-type="bill" data-id="{{object.id}}">
                    <h3>{% trans "Edit Tags" %}</h3>
                    <span id="possible_tags"><a href="javascript:get_tags_list();">{% trans "Click here" %}</a>
                    </span>
                </div>
                {% endif %}
            </aside> <!-- tags -->
            <aside class="sidebar">
                <header><h2>{% trans "Links" %}</h2></header>
                {% object_links object %}
            </aside>

            <aside class="sidebar">
                <header><h2>{% trans "Budget Estimations" %}</h2></header>
                <div id="budget_ests">
                    {% if budget_ests %}
                        {% for b in budget_ests %}
                            {{ b.as_p }}
                        {% endfor %}
                    {% else %}
                        <span id="no-budgets-yet">{% trans "No budget estimations yet" %}</span>
                    {% endif %}
                </div>
            {% if user.is_authenticated %}
                <div id="add_budget_ests">
                    {% if user_has_be %}
                    <span>{% trans "Update Budget Estimations (all in thousands of NIS)" %}</span>
                    {% else %}
                    <span>{% trans "Add Budget Estimations (all in thousands of NIS)" %}</span>
                    {% endif %}
                    <!--<div id="create_budget_est" style='display:none'>-->
                        <!--{% if perms.tagging.add_tag %}-->
                            <form action="." method="post" id="create_budget_est_form">{% csrf_token %}
                            <input type="hidden" name="user_input_type" value="budget_est"></input>
                            {{ budget_ests_form.as_p }}
                            <input type="submit" value="{% trans "Send" %}" id="be_submit" class="btn">
                            </form>
                        <!--{% else %}-->
                            <!--{% trans 'Please' %} <a class="bold-link" href="{% url 'edit-profile' %}">{% trans 'validate your email' %}</a>{% trans ' to create new tags' %}-->
                        <!--{% endif %}-->
                    <!--</div>-->
                </div>
                {% else %}
                    <a href='{% url 'login' %}?next={{request.get_full_path}}'>{% trans 'Please login to edit budget estimates' %}</a>
                {% endif %}
            </aside> <!-- budgets -->

            <aside class="sidebar sidebar-agendas">
            {% include 'comments/object_comment_list.html' %}
            </aside>
        </div> <!-- span4 -->
    </div> <!-- row -->
{% endblock %}
