<p>בדף זה ניתן לסנן ולהציג רק את ההצבעות המעניינות אתכם.</p>
<div id="more-votes-help" style="display:none">
<h3>איך עושים את זה?</h3>
    <p>לסינון הרשימה, ניתן לבחור אפשרויות מהרשימות המוצגות (ניתן לצמצם את התוצאות על ידי שילוב פרמרטרים): </p>
    <p>בחירת סוג ההצבעה המבוקש מהרשימה</p>
    <p>בחירת תגיות (אם יש)</p>
    <p>בחירת סוג המיון המבוקש</p>
    <p>הזנת תאריכי הצבעות (במידה וידוע התאריך)</p>
    <p>לחיצה על 'סינון' תציג את רשימת התוצאות</p>
    <p>לחיצה על הצבעה תציג את דף ההצבעה והפרטים הנלווים</p>
</div>
