{% extends "site_base.html" %}
{% load i18n i18ninclude laws_tags common_visual_elements %}
{% block extratitle %}{{ title }}{% endblock %}
{% block extrahead %} <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'feeds-votes' %}"/> {% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-votes %}class="active"{% endblock %}

 {% block breadcrumbs %}
        <li class="active">{{title}}</a>
 {% endblock %}

{% block divcontent %}
    <section class="card card-main">
        <div class="row">
            <div class="span9">
                <div class="spacer fill">
                    <header><h1>{{ title  }}</h1></header>
                    <div class="alert alert-info">
	                    {% i18ninclude "laws/vote_list_help.html" LANGUAGE_CODE %}
                    </div>
                </div>
            </div>
            <div class="span3 social-details">
                <div class="spacer actions-panel">
                    <a class="btn btn-big" href="{% if query_string or not csv_file %}./csv/?{{ query_string }}{% else %}{{MEDIA_URL}}{{csv_file}}{% endif %}">{% trans 'Export data to Excel' %}</a>
                </div>
            </div>
        </div>
        <footer>
            <a href="#" class="btn btn-mini btn-expand" data-target="#more-votes-help"
                data-toggle="oktoggle" data-text="{% trans "More" %} +|{% trans "Collapse" %} -">{% trans "More" %} +</a>
        </footer>
    </section>

    <div class="row">
        <div class="cards span9">
            <div class="card card-list">
                <ul>
                {% for o in object_list %}
                    {% vote_list_item o watched_members %}
                {% empty %}
                    <li>{% trans "No results found" %}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span3">
            <aside class="sidebar">
                <header><h2>{% trans "Filter" %}</h2></header>
                <form action="." method="get">
                {{ form.as_p }}
                <input type="submit" value="{% trans "Filter" %}" class="submit awesome-button">
                </form>
            </aside>
        </div>
    </div>
    {% if paginator %}
        {% pagination page_obj paginator request %}
    {% endif %}
{% endblock %}
