{% extends "site_base.html" %}
{% load i18n pagination_tags  %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-laws %}class="active"{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="tags cloud">
    {% autopaginate tags_cloud 200 %}
    {% for tag in tags_cloud %}
        <a href="{% url 'votes-tag' tag=tag %}{% if member %}?member={{member.id}}{% endif %}" class="level{{ tag.font_size }}">{{ tag }}</a>
    {% endfor %}
    {% paginate %}
</div>
{% endblock %}

{% block right_column %}
{% endblock %}

