<p>דף "הצבעות" מאפשר סינון ובחינה של של הצעות חוק בהתאם להצבעות שבוצעו על החוק.</p>
<p>דף זה מאפשר סינון לשם בחירה ומעקב אחר הצבעות של חברי כנסת על הצעות חוקים.</p>
<p>בדף זה ניתן לסנן ולהציג רק את ההצבעות המעניינות אתכם</p>
<h3>איך עושים את זה?</h3>
<div id="more-votes-help" style="display:none">
  <p>
  להצגת הצבעות בהתאם לנושא וענין, ניתן לבצע סינון בעזרת הכלים באתר. לסינון הרשימה, ניתן לבחור אפשרויות מהרשימות המוצגות (ניתן לצמצם את התוצאות על ידי שילוב פרמרטרים):
  </p>
  <ul>
    <li>בחירת סוג ההצבעה המבוקש מהרשימה</li>
    <li>בחירת תגיות(אם יש)</li>
    <li>בחירת את סוג המיון המבוקש</li>
    <li>הזנת תאריכי הצבעות (במידה וידוע התאריך)</li>
    <li>לחיצה על 'סינון' תציג את רשימת התוצאות
      <ul>
        <li>לחיצה על ההצעה תציג את דף ההצבעה והפרטים הנלווים</li>
      </ul>
    </li>
  </ul>
</div>
