{% extends "site_base.html" %}
{% load i18n laws_tags %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-votes %}class="active"{% endblock %}

{% block breadcrumbs %}
        <li><a href="{% url 'vote-list' %}">{% trans "Votes" %}</a> <span class="divider">/</span></li>
        <li><a href="{% url 'vote-tags-cloud' %}">{% trans "Tags" %}</a> <span class="divider">/</span></li>
        <li class="active">{{title}}</a>
{% endblock %}

{% block divcontent %}
    <div class="card card-main-party">
        <div class="row">
            <div class="span12">
                <div class="spacer">
                {% with object_list|length as count %}
                    {% if member %}
                        <h1>{% blocktrans %}{{ count }} Votes tagged <a href="{{ tag_url }}">{{ tag }}</a> by <a href="{{ member_url }}">{{ member }}</a>{% endblocktrans %}</h1>
                    {% else %}
                        <h1>{% blocktrans %}{{ count }} Votes tagged <a href="{{ tag_url }}">{{ tag }}</a>{% endblocktrans %}</h1>
                    {% endif %}
                {% endwith %}
                    <a href="{% url 'vote-tags-cloud' %}{% if member %}?member={{member.id}}{% endif %}">{% trans 'Choose another tag' %}</a><br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span{{members|yesno:"8,12"}} cards">
            <section class="card card-list">
                <ul>
                {% for o in object_list %}
                    {% vote_list_item o watched_members %}
                {% empty %}
                    <li>{% trans "No results found" %}</li>
                {% endfor %}
                </ul>
            </section>
        </div>
    {% if members %}
        <div class="span4">
            <aside class="sidebar">
                <header><h2>{% blocktrans %}MKs attendance in votes related to {{ tag }}{% endblocktrans %}</h2></header>
                <div class="text-center">
                {% for mk in members %}
                    <a href="{% url 'vote-tag' tag=tag %}?member={{mk.id}}" class="label level{{ mk.font_size }}">{{ mk }}</a>
                {% endfor %}
            </div>
           </aside>
    	</div>
    {% endif %}
    </div>

    {% if paginator %}
        <div class="text-center">{% pagination page_obj paginator request %}</div>
    {% endif %}
{% endblock %}
