{% load i18n %}
{% for agenda in object_list %}
<li class="agenda-mini">
    <header>
        {% if agenda.image %}<img src="{{agenda.image.url}}" alt="{{agenda.name}}" width="30" height="30">{% endif %}
        <h3>
          <span class="item-title"><a href="{{agenda.get_absolute_url}}">{{agenda.name}}</a></span>
          {% trans "edited by" %} {{agenda.public_owner_name}}</h3>
    </header>
    <div class="agenda-pie"{% for stat in agenda.totals %} data-{{stat.type}}="{{stat.total}}"{% endfor %}>
      <span class="agenda-percent"><span class="agenda-percent-num">{{agenda.score|floatformat:0}}<span>%</span></span>{% trans "Match" %}</span>
    </div>
</li>
{% endfor %}

