{% extends "site_base.html" %}
{% load i18n mks_tags %}
{% block extratitle %}{% trans 'Members' %}{% endblock %}
{% block keywords %}{% trans 'Members' %}{% endblock %}
{% block description %}{% trans 'Members' %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-parties %}class="active"{% endblock %}
{% block subnav %}
    {% for link in friend_pages %}
        <a style="white-space:nowrap;" href="{{ link.0 }}" {% if link.2 %}class="current"{% endif %}>{{ link.1 }}</a> &bull;
    {% endfor %}
{% endblock %}
{% block divcontent %}
    {% include "mks/export_csv_link.html" %}
    <div class="list-wrap">
    <h1>{% trans 'Current MKs' %}</h1>
    {% for o in object_list %}
        {% if o.is_current %}
            {% mk o %}
        {% endif %}
    {% empty %}
        {% trans "Data base empty, no objects" %}
    {% endfor %}
    <h1>{% trans 'Past MKs' %}</h1>
    {% for o in past_mks %}
        {% mk o %}
    {% endfor %}
    </div>
{% endblock %}
