{% extends "site_base.html" %}
{% load i18n links_tags laws_tags common_visual_elements activity_tags pagination_tags pingback_tags trackback_tags backlinks_tags absurl cache video hlp %}
{% load static from staticfiles %}
{% block extratitle %}{{ object.name }}{% endblock %}
{% block keywords %}{{ object.name }}{% endblock %}
{% block extrajs %}
    <script src="{% static "js/ok-watch.js" %}?v=1"></script>
    <script src="{% static "js/d3.js" %}"></script>
    <script src="{% static "js/mk-pie.js" %}?v=2"></script>
    <script type="text/javascript">
        $(function() {
            var MKPieChart= window.MKPieChart;

            // init agenda-pie charts
            $('.agenda-pie').each(function () {
                var data = $(this).data(),
                    pie_order = ['for', 'noVote', 'abstain', 'against'],
                    pie_data = [], k;

                for ( k in data ) {
                    pie_data.push({type : k, votes : data[k]});
                }
                pie_data.sort(function (a, b) {
                    return pie_order.indexOf(a.type) - pie_order.indexOf(b.type);
                });
                new MKPieChart(this, {
                    width       : 90,
                    height      : 89,
                    padding     : 0,
                    line_width  : 6
                }).render(pie_data);
            });

            $('a[rel="tooltip"]').tooltip();
        });
    </script>
    {% video_init %}
{% endblock %}
{% block extrahead %}
    <meta property="og:image" content="{{ object.img_url }}"/>
    <meta name="thumbnail" content="{{ object.img_url }}" />
{% if object.backlinks_enabled %}{% url 'pingback-server' as pingback_url %}{% pingback_link pingback_url %}{% endif %}
{% if object.backlinks_enabled %}
    {% url 'member-trackback' object_id=object.id as trackback_url %}
    {% trackback_rdf object.get_absolute_url object.title trackback_url True %}
{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'member-activity-feed' object.id %}">
{% endblock %}
{% block description %} {% with object.name as name %} {% blocktrans %} Up to date information about {{ name }} in the knesset: votes, bills, committees, attendance and more.   Information about {{ name }} for journalists, researchers, students and citizens by Open Knesset - Opening the Knesset to the public. {% endblocktrans %} {% endwith %} {% endblock %}
{% block nav-parties %}class="active"{% endblock %}

 {% block breadcrumbs %}
    {% with object.current_party as party %}
<li><a href="{{party.knesset.get_absolute_url}}">{{party.knesset}}</a> <span class="divider">/</span></li>
            <li><a href="{% url 'party-detail' object.current_party.id %}">{{ object.current_party }}</a> <span class="divider">/</span></li>
            <li class="active">{{ object.name }}</li>
    {% endwith %}
 {% endblock %}


{% block divcontent %}
{% cache 14400 mks_detail object.id request.page request.get_full_path %}
    <section class="card card-main">
      <div class="row">
        <div class="span2"><div class="spacer"><img src="{{ object.highres_img_url }}" alt="{{object.name}}"/></div>
        </div>

        <div class="span7 card-details">
          <div class="spacer fill">
            <header>
            <h1>{{object}}</h1>
            </header>
            <p>
                <a href="{% url 'party-detail' object.current_party.id %}">{{ object.current_party }}</a>
                <strong>({{object.coalition_status|yesno:_("IN_COALITION,IN_OPPOSITION,PAST_MEMBER")}})</strong>
                {% if previous_parties %}
                <span id="member-previous-parties" style="display:none">
                    {% for p in previous_parties  %}
                      | <a href="{% url 'party-detail' p.id %}">{{ p }}</a>
                        ({{p.coalition_status|yesno:_("IN_COALITION,IN_OPPOSITION,PAST_MEMBER")}})
                    {% endfor %}
                </span>
                | <a href="#" data-target="#member-previous-parties" data-toggle="oktoggle" data-text="{% trans "Previous Parties" %} +|{% trans "Less" %} -">{% trans "Previous Parties" %} +</a>
                {% endif %}
            </p>
            <p>
                {% for role in object.roles|slice:":2" %}
                {% if not forloop.first %} | {% endif %} {{ role }}
                {% endfor %}
                {% if object.roles|length > 2 %}
                <span id="member-extra-roles" style="display:none">
                    {% for role in object.roles|slice:"2:" %} | {{ role }} {% endfor %}
                </span>
                | <a href="#" data-target="#member-extra-roles" data-toggle="oktoggle" data-text="{% trans "More" %} +|{% trans "Less" %} -">{% trans "More" %} +</a>
                {% endif %}
            </p>
			<p>
				{% if object.committees.all|length > 0 %}
				<strong>{% trans "Committees" %}:</strong>
				{% for committee in object.committees.all|slice:":2" %}
				{% if not forloop.first %} | {% endif %} 
                <a href="{{ committee.get_absolute_url }}">{{committee}}</a>
                {% endfor %}
				{% if object.committees.all|length > 2 %}
				<span id="member-extra-committees" style="display:none">
                    {% for committee in object.committees.all|slice:"2:" %}
					| <a href="{{ committee.get_absolute_url }}">{{committee}}</a>
					{% endfor %}
                </span>
                | <a href="#" data-target="#member-extra-committees" data-toggle="oktoggle" data-text="{% trans "More" %} +|{% trans "Less" %} -">{% trans "More" %} +</a>
                {% endif %} {% endif %}
			</p>
            <div id="member-details" style="display:none">
                {% if object.date_of_death %}
                <div>{% trans "date of death" %} - {{ object.date_of_death }}</div>
                {% else %}
                <div>{% trans "age" %} - {{ object.age.years }}</div>
                {% endif %}
                <div>{% trans "place of birth" %} - {{ object.place_of_birth }}</div>
                {% if object.year_of_aliyah %}
                <div>{% trans "year of aliyah" %} - {{ object.year_of_aliyah }}</div>
                {% endif %}
                {% if not object.date_of_death %}
                <div>{% trans "family status" %} - {{ object.family_status }}</div>
                <div>{% trans "place of residence" %} - {{ object.place_of_residence}}</div>
                {% endif %}
                {% if about_video_embed_link != '' and about_video_image_link != '' %}
                <div>
                    <h3>{% trans "MK video (knesset channel)" %}</h3>
                    {% video_player 400 300 about_video_embed_link about_video_image_link %}
                </div>
                {% endif %}
            </div>
            <div class="social-links">
              <h5>{% blocktrans with name=member.firstname %}{{name}} around the net{% endblocktrans %}:</h5>
              <ul class="text-center">
                {% object_icon_links member %}
              </ul>
            </div>
          </div>
        </div>

        <div class="span3 social-details">
          <div class="spacer actions-panel">
            {% include "auxiliary/_watch.html" with watched_id=object.id watched_type="member"%}
            {% if object.is_current %}
            <a href="#contact-information-modal" class="btn btn-big btn-contact" role="button" data-toggle="modal">{% trans "Contact Information" %}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-mini btn-expand" data-target="#member-details"
          data-toggle="oktoggle" data-text="{% trans "Personal Information" %} +|{% trans "Collapse" %} -">{% trans "Personal Information" %} +</a>
    </section>

    {% if object.is_current %}
    <!-- Contact information modal -->
    <div id="contact-information-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="contactModalLabel">{% trans "Contact Information" %}</h3>
        </div>
        <div class="modal-body">
             <p>{% trans "phone" %} - {{ object.phone }}</p>
             {% if object.fax %}
             <p>{% trans "fax" %} - {{ object.fax }}</p>
             {% endif %}
             <p>{% trans "e-mail address" %} - {{object.email|urlize}}</p>
             <div class="alert alert-info">
                <p>טיפים ליצירת קשר
                    <ul>
                        <li>מי שמטפל בפניות הציבור הם העוזרים הפרלמנטריים של הח"כים, ולא הח"כים עצמם.</li>
                        <li>שיחות טלפון מומלץ לבצע בימים ב'-ד', בין השעות 8:00 בבוקר ועד 17:00. אלו השעות שבהן העוזרים נמצאים יותר בלשכה.</li>
                        <li>אימיילים עדיף לשלוח בימים א' ו-ה'.</li>
                        <li>הנחיות נוספות לכתיבת פנייה אפקטיבית לנבחרי ציבור ניתן למצוא ב<a href="http://www.shelly.org.il/node/1678" target="_blank">פוסט הזה של שלי יחימוביץ'</a>.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="cards span9">
            <section class="card card-list card-list-latest">
                <header>
                    <h2>{% trans "Recent actions" %}</h2>
                    <!--a class="btn btn-mini btn-question" href="#">?</a-->
                </header>
                <ul id="recent-actions">
                {% for action in actions %}{% display_action action %}{% endfor %}
                </ul>
                <footer>
                {% if actions_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-actions" 
                    data-url="{% url 'member-more-actions' object.pk %}"
                    data-initial="{{INITIAL_DATA}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
            </section>
{% if not object.is_minister %}
            <section class="card card-list card-list-latest">
                <header>
                    <h2>{% trans "Legislation" %}</h2>
                    <!--a class="btn btn-mini btn-question" href="#">?</a-->
                </header>
                <ul id="recent-legislation">
                {% for action in legislation_actions %}{% display_action action %}{% endfor %}
                </ul>
                <footer>
                {% if legislation_actions_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-legislation" 
                    data-url="{% url 'member-more-legislation' object.pk %}"
                    data-initial="{{INITIAL_DATA}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
            </section>
{% endif %}
            <section class="card card-list card-list-latest">
                <header>
                    <h2>{% trans "Committees" %}</h2>
                    <!--a class="btn btn-mini btn-question" href="#">?</a-->
                </header>
                <ul id="recent-committees">
                {% for action in committee_actions %}{% display_action action %}{% endfor %}
                </ul>
                <footer>
                {% if committee_actions_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-committees" 
                    data-url="{% url 'member-more-committees' object.pk %}"
                    data-initial="{{INITIAL_DATA}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
            </section>
            {% if mmm_documents %}
            <section class="card card-list card-list-latest">
                <header>
                <h2>{% trans "M.M.M Documents" %}</h2>
                    <!--a class="btn btn-mini btn-question" href="#">?</a-->
                </header>
                <ul id="recent-mmm">
                {% include "mks/mmm_partials.html" with object_list=mmm_documents %}
                </ul>
                <footer>
                {% if mmm_documents_more %}
                <button class="btn btn-mini btn-expand" data-provide="okmore"
                    data-loading-text="{% trans "Loading" %} ..."
                    autocomplete="off" data-target="#recent-mmm" 
                    data-url="{% url 'member-more-mmm' object.pk %}"
                    data-initial="{{INITIAL_DATA}}">{% trans "More" %} +</button>
                {% endif %}
                </footer>
                </footer>
            </section>

            {% endif %}
            
            {% if num_related_videos > 0 %}
            <section class="card card-list card-list-latest">
                <header>
                    <h2>{% trans "Video" %}</h2>
                </header>
                <ul id="related_videos">
                    {% video_playlist related_videos 'related_videos' %}
                </ul>
            </section>
            {% endif %}            
        </div> <!-- /span9 -->
        <div class="span3">
	 		<aside class="sidebar sidebar-stats">
                <h2>{% trans "Votes" %}</h2>
                <ul>
                    <li>
                        <label>{% trans "Number of votes" %}</label>
                        <span class="numeric">{{ object.voting_statistics.votes_count }}</span>
                    </li>
                    <li class="agenda-mini">
                        <label>{% trans "Last 30 days" %}</label>
                        <span class="numeric">{{object|recent_votes_count}}</span>
                    </li>
                    <li>
                        <label>
                            {% trans "Factional discipline" %}
                            {% if factional_discipline %}
                                <a class="btn btn-mini btn-question" href="#factdiscp-modal" role="button" data-toggle="modal">?</a>
                                <div id="factdiscp-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="factdiscpModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                        <h3 id="factdiscpModalLabel">{% trans "factional discipline explained" %}</h3>
                                    </div>
                                    <div class="modal-body">
                                    {% for voteaction in factional_discipline %}
                                        <p>
                                            {{ object.is_female|yesno:_("Voted (Female),Voted (Male)") }}
                                            <b>{{ voteaction.get_type_display }}</b>:
                                            <a href="{{ voteaction.vote.get_absolute_url }}">{{voteaction.vote.title}}</a>
                                        </p>
                                    {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            {% endif %}
                        </label>
                        <span class="numeric">
                            {% if object.voting_statistics.discipline %}
                                {{ object.voting_statistics.discipline }}%
                            {% else %}
                                {% trans 'Not enough data' %}
                            {% endif %}
                        </span>
                    </li>
                    <li class="agenda-mini">
                        <label>{% trans "Last 30 days" %}</label>
                        <span class="numeric">{{object|recent_discipline}}</span>
                    </li>
                    <li>
                        <label>
                            {% if object.current_party.is_coalition %}
                                {% trans "Coalition discipline" %}
                            {% else %}
                                {% trans 'Opposition discipline' %}
                            {% endif %}
                            {% if general_discipline %}
                                <a class="btn btn-mini btn-question" href="#generaldiscp-modal" role="button" data-toggle="modal">?</a>
                                <div id="generaldiscp-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="generaldiscpModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                        <h3 id="generaldiscpModalLabel">
                                        {% if object.current_party.is_coalition %}
                                            {% trans "general discipline explained coalition" %}
                                        {% else %}
                                            {% trans 'general discipline explained opposition' %}
                                        {% endif %}
                                        </h3>
                                    </div>
                                    <div class="modal-body">
                                    {% for voteaction in general_discipline %}
                                        <p>
                                            {{ object.is_female|yesno:_("Voted (Female),Voted (Male)") }}
                                            <b>{{ voteaction.get_type_display }}</b>:
                                            <a href="{{ voteaction.vote.get_absolute_url }}">{{voteaction.vote.title}}</a>
                                        </p>
                                    {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            {% endif %}
                        </label>
                        <span class="numeric">
                            {% if object.voting_statistics.coalition_discipline %}
                                {{ object.voting_statistics.coalition_discipline }}%
                            {% else %}
                                {% trans 'Not enough data' %}
                            {% endif %}
                        </span>
                    </li>
                    <li class="agenda-mini">
                        <label>{% trans "Last 30 days" %}</label>
                        <span class="numeric">{{object|recent_coalition_discipline}}</span>
                    </li>
                    <li>
                        <label>
                            {% trans "Votes against own bills" %}
                            {% if votes_against_own_bills %}
                                <a class="btn btn-mini btn-question" href="#votesagains-modal" role="button" data-toggle="modal">?</a>
                                <div id="votesagains-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="votesagainsModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                        <h3 id="votesagainsModalLabel">{% trans "Votes against own bills" %}</h3>
                                    </div>
                                    <div class="modal-body">
                                    {% for voteaction in votes_against_own_bills %}
                                        <p>
                                            {{ object.is_female|yesno:_("Voted (Female),Voted (Male)") }}
                                            <b>{{ voteaction.get_type_display }}</b>:
                                            <a href="{{ voteaction.vote.get_absolute_url }}">{{voteaction.vote.title}}</a>
                                        </p>
                                    {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            {% endif %}
                        </label>
                        <span class="numeric">
                        {% if votes_against_own_bills %}
                            {{ votes_against_own_bills|length }}
                        {% else %}
                            {% trans 'None' %}
                        {% endif %}
                        </span>
                    </li>
                </ul>
            </aside> <!-- votes stats -->

	 		<aside class="sidebar sidebar-stats">
                <h2>{% trans "Attendance" %}</h2>
                <ul>
                    <li class="agenda-mini">
                        <div>{% trans "Knesset presence" %}</div>
                        <span class="numeric">{{ presence.average_weekly_presence_hours }}</span>
                        {% trans 'Average weekly hours' %}
                        {% if presence.average_weekly_presence_hours %}
                        {% bar presence.average_weekly_presence_hours_percentile 0 100 %}
                        {% endif %}
                    </li>
                    <li>
                        <div>{% trans "Committee presence" %}</div>
                        <span class="numeric">{{ object.committee_meetings_per_month }}</span>
                        {% trans "Average number of committee meetings per month" %}
                        {% bar presence.average_monthly_committee_presence_percentile  0 100 %}
                    </li>
                </ul>
            </aside> <!-- Attendance -->

	 		<!--aside class="sidebar sidebar-stats">
                <h2>{% trans "Bills" %}</h2>
                <ul>
                    <li></li>
                </ul>
            </aside--> <!-- Bills -->

	 		<aside class="sidebar sidebar-agendas">
	 			<h2>{% trans "Notable agendas" %}</h2>
	 			<!--a class="btn btn-mini btn-question" href="#">?</a-->
                <ul>
                {% include "mks/agenda_partials.html" with object_list=agendas %}
                </ul>
                <a href="#" class="btn btn-more">{% trans "More" %}</a>
            </aside>
        </div>
    </div>
{% comment %}
    <ul class="actions">
        <li>
        <li><a href="{% url 'member-activity-feed' object.id %}"><img src="{% static "icons/rss.png" %}" style="height:2em;"></a></li>
    </ul>
    <div class="member-photo">
        <img src="{{ object.img_url }}"/>
    </div>
    <div class="member-header">
        <h1> {{ object.name }} - <a class="bold-link" id="detail-{{ object.current_party.id }}" href="{% url 'party-detail' object.current_party.id %}">{{ object.current_party.name }}</a></h1>
        <h2> {{ object.get_role }} </h2>
    </div>
    <div class="clear"></div>
    <div class="details">
        <table style="width:100%;border:none;">
            <tbody>
                <tr style="vertical-align:top;">
                    <td width="50%">
                        <div>
                            <table>
                                <tr>

                                    <td>
                                        <h3> {% trans "Personal Information" %}</h3>
                                        <table id="member-info">
                                            {% if object.date_of_death %}
                                                <tr>
                                                    <td style="width:200px;">{% trans "date of birth" %}</td>
                                                    <td>{{ object.date_of_birth }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans "date of death" %}</td>
                                                    <td>{{ object.date_of_death }}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td style="width:200px;">{% trans "age" %}</td>
                                                    <td>{{ object.date_of_birth|timesince }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.year_of_aliyah %}
                                                <tr>
                                                    <td>{% trans "year of aliyah" %}</td>
                                                    <td>{{ object.year_of_aliyah }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if not object.date_of_death %}
                                            <tr>
                                                <td>{% trans "family status" %}</td>
                                                <td>{{ object.family_status }}</td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td>{% trans "place of birth" %}</td>
                                                <td>{{ object.place_of_birth }}</td>
                                            </tr>
                                            {% if not object.date_of_death %}
                                            <tr>
                                                <td>{% trans "place of residence" %}</td>
                                                <td>{{ object.place_of_residence|default:_("No Info") }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans "residence centrality" %}</td>
                                                <td>{{ object.residence_centrality|default_if_none:_("No Info") }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans "residence economy" %}</td>
                                                <td>{{ object.residence_economy|default_if_none:_("No Info") }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if object.start_date != current_knesset_start_date %}
                                            <tr>
                                                <td>{% trans "entrance to knesset" %}</td>
                                                <td>{{ object.start_date }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if object.end_date != None %}
                                            <tr>
                                                <td>{% trans "retirement from knesset" %}</td>
                                                <td>{{ object.end_date }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if object.start_date != current_knesset_start_date or object.end_date != None %}
                                            <tr>
                                                <td>{% trans "time in knesset" %}</td>
                                                <td>{{ object.start_date|timesince:object.end_date }}</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                            <br/>
                            <h3>{% trans "Bills" %} {% ht 'mk-bills' %}</h3>
                            <table>
                                <tr>
                                    <td style="width:140px;">{% trans "Number of bills proposed" %}</td>
                                    <td style="width:200px;"><a href="{% url 'bill-list' %}?member={{object.id}}&stage=proposed">{{ bills_statistics.proposed }}</a></td>
                                    <td>
                                        <div id="proposed_percentile" class="percentile"></div>
                                        <script>set_percentile('proposed',{{ bills_statistics.proposed_percentile }});</script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans "Bills passed pre-vote" %}</td>
                                    <td><a href="{% url 'bill-list' %}?member={{object.id}}&stage=pre">{{ bills_statistics.pre }}</td>
                                    <td>
                                        <div id="pre_percentile" class="percentile"></div>
                                        <script>set_percentile('pre',{{ bills_statistics.pre_percentile }});</script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans "Bills passed first vote" %}</td>
                                    <td><a href="{% url 'bill-list' %}?member={{object.id}}&stage=first">{{ bills_statistics.first }}</a></td>
                                    <td>
                                        <div id="first_percentile" class="percentile"></div>
                                        <script>set_percentile('first',{{ bills_statistics.first_percentile }});</script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans "Bills approved" %}</td>
                                    <td><a href="{% url 'bill-list' %}?member={{object.id}}&stage=approved">{{ bills_statistics.approved }}</a></td>
                                    <td>
                                        <div id="approved_percentile" class="percentile"></div>
                                        <script>set_percentile('approved',{{ bills_statistics.approved_percentile }});</script>
                                    </td>
                                </tr>

                            </table>
                            <br />
                        </div>
                        <br/>


                    </td>

                    <td style="width:45%;vertical-align:top;">

                        {% if about_video_embed_link != '' and about_video_image_link != '' %}
                        <div>
                            <h3>{% trans "MK video (knesset channel)" %}</h3>
                            {% video_player 400 300 about_video_embed_link about_video_image_link %}
                        </div> <br/>
                        {% endif %}

                        {% if num_related_videos > 0 %}
                        <div>
                            <h3>{% trans "Latest videos" %}</h3>
                            {% video_playlist related_videos %}
                        </div> <br/>
                        {% endif %}


    
                        <div>
                            <h3>{% trans "Agendas" %}</h3>
                            <div class="list-wrap">
                                <table>
                                {% for agenda in agendas %}
                                    <tr style="height:4em;">
                                        <td>{% if agenda.image %}<img class="mk-agenda-image" src="{{agenda.image.url}}" />{% endif %}</td>
                                        <td>{% if agenda.watched %}<div class="watched"></div>{% endif %}</td>
                                        <td><a class="item dontwrap" id="detail-{{ agenda.id }}" href="{% url 'agenda-detail' agenda.id %}">{{ agenda.name }}</a><br><span class="edited-by">{% trans 'edited by' %} {{ agenda.public_owner_name }}</span></td>
                                        <td class="numeric">{{agenda.score|floatformat:"0"}}%</td>
                                        <td>
                                            <div id="agenda_{{ agenda.id }}_percentile" class="percentile {% if agenda.score < 0 %}percentile_against{% endif %}"></div>
                                            <script>set_percentile('agenda_{{ agenda.id }}',({{ agenda.score }}+100)/2);</script>

                                        </td>
                                        <td>
                                        <a href="{% url 'mk-agenda-detail' agenda.id object.id %}">#</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>

        <br/>

{% cache 14400 mks_detail_activities object.id request.page request.get_full_path %}
    {% if object.backlinks_enabled %}
        <div style="clear:both;">
        {% backlinks_for_model object as entry_pings %}
        {% with entry_pings.count as num_pings %}
            {% if num_pings %}
                <p>
                {% blocktrans count counter=num_pings %}
                    This entry has been pinged.
                    {% plural %}
                    This entry has been pinged {{ counter }} times.
                {% endblocktrans %}
                </p>
                <p>
                    <ul>
                        {% for ping in entry_pings %}
                            <li>
                            {% with url=ping.source_url title=ping.title received=ping.received excerpt=ping.excerpt %}
                            {% blocktrans %}
                                From <a href="http://{{ url }}">&ldquo;{{ title }}&ldquo;</a> on the {{ received }}: {{ excerpt }}
                            {% endblocktrans %}
                            {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% else %}
                <p>{% trans "This entry has not been pinged." %}</p>
            {% endif %}
        {% endwith %}
        <p>{% trans "TrackBack:" %} <span style="direction:ltr; unicode-bidi:embed;">{% absurl member-trackback object_id=object.id %}</span> </p>
        </div>
    {% endif %}
    <br />
    <div style="clear:both;"></div>
{% endcomment %}
{% endcache %}

{% endblock %}

