<div class="card-party-members">
    <div>
{% for member in members %}
        <div class="party-member-photo">
          <a href="{{member.get_absolute_url}}"><img src="{{member.img_url}}"></a>
          <div class="party-member-info">
            <div class="party-member-info-text">
              <h3><a href="{{member.get_absolute_url}}">{{member.name}}</a></h3>
                <p>{{member.get_role}}</p>
            </div>
            <div class="party-member-info-links"></div>
            <div class="party-member-info-photo">
              <img src="{{member.highres_img_url}}">
            </div>
          </div>
        </div>    
{% endfor %}
    </div>
</div>
