{% extends "site_base.html" %}
{% load i18n links_tags mks_tags common_visual_elements %}{% load static from staticfiles %}
{% block extrajs %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{maps_api_key}}" type="text/javascript"></script>
    <script src="{% static "js/watch.js" %}"></script>
    <script src="{% static "js/mk-pie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bars.js" %}"></script>
    <script type="text/javascript">

        $(function() {
            register_watch({{object.id}}, 'party', "{% trans 'Watch' %}", "{% trans 'Unwatch' %}", "{% url user-follow-unfollow %}", "{% url user-is-following %}");
            var MKPieChart= window.MKPieChart;

            // init agenda-pie charts
            $('.agenda-pie').each(function () {
                var data = $(this).data(),
                    pie_data = [], k;

                for ( k in data ) {
                    pie_data.push({type : k, votes : data[k]});
                }
                
                new MKPieChart(this, {
                    width       : 90,
                    height      : 89,
                    padding     : 0,
                    line_width  : 6
                }).render(pie_data);
            });
        });
    </script>
{% endblock %}
{% block extratitle %}{{ object.name }}{% endblock %}
{% block description %}{{ object.name }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block nav-parties %}class="active"{% endblock %}

 {% block breadcrumbs %}
            <li><a href="{% url parties-members  %}">{% trans "Members and Parties" %}</a> <span class="divider">/</span></li>
            <li class="active">{{ object.name }}</li>
 {% endblock %}

{% block divcontent %}

    <section class="card card-main-party">
        <div class="row">
            <div class="span8 card-details">
                <div class="spacer fill">
                    <header>
                        <h1>{{object.name}}</h1>
                        <p>({{object.is_coalition|yesno:_("IN_COALITION,IN_OPPOSITION")}})</p>
                    </header>
                    <div class="social-links">
                        <h5>{% blocktrans with name=object.name %}{{name}} around the net{% endblocktrans %}:</h5>
                        <ul class="text-center">
                            <li><a href="#" class="icon sprite-website" rel="tooltip" title="האתר של העבודה">אתר</a></li>
                            <li><a href="#" class="icon sprite-wiki" rel="tooltip" title="העבודה בויקיפדיה">ויקיפדיה</a></li>
                            <li><a href="#" class="icon sprite-facebook" rel="tooltip" title="העבודה בפייסבוק">פייסבוק</a></li>
                            <li><a href="#" class="icon sprite-twitter" rel="tooltip" title="העבודה בטוויטר">טוויטר</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="span4 social-details">
                <div class="spacer actions-panel">
                    <a id="watch" class="btn btn-big btn-primary"></a>
                    <p class="text-center">{{num_followers}} {% trans "Followers" %}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="card card-party-members">
        <div>
            {% include "mks/member_photos.html" with members=object.current_members %}
        </div>
    </div>

    <h2><a href=".">{{ object.name }}</a></h2>
    <div class="list-wrap">
        <h3>{% trans 'Statistics' %}</h3>
        <div id="residence_map"></div>
        <table id="party-info">
            <tr>
                <td>{% trans "Number of votes" %}</td>
                <td>{{ object.voting_statistics.votes_count }}</td>
            </tr>
            <tr>
                <td>{% trans "Average votes per MK" %}</td>
                <td>{{ object.voting_statistics.votes_per_seat }}</td>
            </tr>
            <tr>
                <td>{% trans "Factional discipline" %}</td>
                <td>{{ object.voting_statistics.discipline }}%</td>
            </tr>
            <tr>
                <td>{% if object.is_coalition %}{% trans "Coalition discipline" %}{% else %}{% trans 'Opposition discipline' %}{% endif %}</td>
                <td>{{ object.voting_statistics.coalition_discipline }}%</td>
            </tr>
        </table>

        <div>
            <h3>{% trans "Agendas" %}</h3>
            <div class="list-wrap">
                <table>
                    {% for agenda in agendas %}
                    <tr>
                        <td>{% if agenda.watched %}<div class="watched"></div>{% endif %}</td>
                        <td><a class="item dontwrap" id="detail-{{ agenda.id }}" href="{% url agenda-detail agenda.id %}">{{ agenda }}</a></td>
                        <td class="numeric">{{agenda.score|floatformat:"0"}}%</td>                      
                        <td>
                            <div id="agenda_{{ agenda.id }}_percentile" class="percentile {% if agenda.score < 0 %}percentile_against{% endif %}"></div>
                            <script>set_percentile('agenda_{{ agenda.id }}',({{ agenda.score }}+100)/2);</script>                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="details">
            <h3>{% trans "Links" %}</h3>
            {% object_links object %}
        </div> <br/>

    </div>
    <script>
    var g_member_residences = [];
    function add_addresses() {
        var address = null;
        {% for mk in object.current_members.all %}
            address = "{{mk.place_of_residence}}";
            if (address) {
                g_member_residences.push({address: address,
                                        {% if mk.place_of_residence_lat %}
                                         latlng: new GLatLng( {{ mk.place_of_residence_lat }}, {{ mk.place_of_residence_lon }} ),
                                        {% else %}
                                         latlng: null,
                                        {% endif %}
                                         name: "{{mk.name}}"});
            }
        {% endfor %}
    }
    function draw_mk_residence_map() {
            add_addresses();
            if (g_member_residences.length == 0) {
                $('#residence_map').hide();
                return;
            }
            var map_dom = $('#residence_map')[0];
            var copyOSM = new google.maps.CopyrightCollection("<a href=\"http://www.openstreetmap.org/\">OpenStreetMap</a>");
            copyOSM.addCopyright(new google.maps.Copyright(1, new google.maps.LatLngBounds(new google.maps.LatLng(-90,-180), new google.maps.LatLng(90,180)), 0, " "));
            var tilesMapnik     = new google.maps.TileLayer(copyOSM, 1, 17, {tileUrlTemplate: 'http://tile.openstreetmap.org/{Z}/{X}/{Y}.png'});
            var mapMapnik     = new google.maps.MapType([tilesMapnik],
                                                        G_NORMAL_MAP.getProjection(),
                                                        "מפת רחובות",
                                                        { maxResolution: 18 });
            var mapSatellite  = new google.maps.MapType(G_SATELLITE_MAP.getTileLayers(),
                                                        G_SATELLITE_MAP.getProjection(),
                                                        "תמונת לווין");
            var map           = new google.maps.Map2(map_dom, { mapTypes: [ mapMapnik,mapSatellite ] });
            map.addControl(new google.maps.SmallMapControl());
            map.addControl(new google.maps.MapTypeControl());

            var all_lat_lngs = [];

            //map.setUIToDefault();
            //set the center & zoom for israel
            map.setCenter(new GLatLng(32.0554, 34.7595), 7);
            setTimeout(function() {
                $('#residence_map > div').css({"white-space":"normal"});
            }, 1000);
            /*
            //this code centers the map around the center of gravity
            //for all members of the party, and sets the zoom level
            //to contain them all.
            var center_map = function() {
                if (all_lat_lngs.length == g_member_residences.length) {
                    var bounds = new GLatLngBounds();
                    for (var idx in all_lat_lngs) {
                        var lat_lng = all_lat_lngs[idx];
                        bounds.extend(lat_lng);
                    }
                    var zoom = map.getBoundsZoomLevel(bounds);
                    var center = bounds.getCenter();
                    map.setCenter(bounds.getCenter(), zoom-1);
                }
            };*/

            for (var idx in g_member_residences) {
                var tmp = g_member_residences[idx];
                if (!tmp.address || !tmp.latlng) {
                    continue;
                }
                var add_mk = function(member_data) {
                    var lat_lng = member_data.latlng;
                    if (lat_lng != null) {
                        var address = member_data.address;
                        var name = member_data.name;
                        var marker = new GMarker(lat_lng, {title: name + " ("+address+")"});
                        map.addOverlay(marker);
                    }
                }
                add_mk(tmp);
            }
        }

        $(document).ready(function() {
            draw_mk_residence_map();
        });
    </script>
{% endblock %}
