{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{% trans "Members and Parties" %}{% endblock %}
{% block description %}{% trans "Members and Parties" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(function() {
            $('a[rel="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block nav-parties %}class="active"{% endblock %}
{% block breadcrumbs %}
            <li class="active">{% trans "Members and Parties" %}</li>
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="span12">
            <div class="alert">
                {% trans "Looking for comparisons ? Compare between" %}
                <a href="{% url party-list %}">{% trans "Parties" %}</a> {% trans "Or" %}
                <a href="{% url member-list %}">{% trans "Members" %}</a>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="cards span12">
        <section class="card card-list card-list-latest compact">
            <header><h1>{% trans "Parties" %}</h1></header>
            <ul>
            {% for party in opposition %}
                <li>
                    <h2><a href="{{party.get_absolute_url}}">{{party.name}}<a></h2>
                    {% include "mks/member_photos.html" with members=party.current_members %}
                </li>
            {% endfor %}
            </ul>
        </section>
      </div>
    </div>
{% endblock %}
