{% extends "site_base.html" %}
{% load i18n i18ninclude %}{% load static from staticfiles %}
{% load common_visual_elements %}
{% block extratitle %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block extrajs %}
    <script src="{% static "js/jquery.flot.min.js" %}"></script>
    <script>
        $(function(){
            var data = {{data|safe}},
                p = $.plot($('#visualization'), data, {
                    bars: {show: true, barWidth:0.92},
                    xaxis: {ticks: {{ticks|safe}}},
                    grid: {borderWidth: 1}
                });
        });
    </script>
    
{% endblock %}

{% block nav-parties %}class="active"{% endblock %}
{% block breadcrumbs %}
            <li class="active">{% trans "Members and Parties" %}</li>
 {% endblock %}
{% block divcontent %}
    <div class="row">
        <div class="span12">
            <div class="alert alert-info">
                {% i18ninclude "mks/party_list_help.html" LANGUAGE_CODE %}
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="span4">
            <ul class="nav nav-pills nav-stacked card">
                <li class="nav-header">{% trans "Compare by" %}</li>
            {% for link in friend_pages %}
                <li{% if link.2 %} class="active"{% endif %}>
                    <a href="{{ link.0 }}" >{{ link.1 }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        <div class="span8 cards">
            <section class="card card-list">
                <header><h2>{{ title }}</h2></header>
                <div class="spacer">
                    <div id="visualization" style="height:400px"></div>
                </div>
            </section>
        </div>
    </div>
    {% include "mks/export_csv_link.html" %}
{% endblock %}
