{% load i18n %}
{% if action.actor.get_absolute_url %}<a class="action-actor" href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
{% else %}<span class="action-actor">{{ action.actor }}</span>{% endif %}
{% if action.description == 'no-vote' %}
    {% trans "present and didn't vote" %}
{% else %}
    <span class="action-verb"> {% trans action.verb %}&nbsp;{% trans action.description %}</span> 
{% endif %}
{% with action.target as vote %}
    <a  class="action-target" ref="{{ vote.get_absolute_url }}">{{ vote.title }}</a>
{% endwith %}
