{% extends "site_base.html" %}
{% load i18n %}
{% load laws_extra %}
{% load mks %}
{% load common_text_handling %}
{% block extrahead %}{% endblock %}
{% block extratitle %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}
{% block description %}{{ title }} - {% endblock %}
{% block nav-laws %}class="selected"{% endblock %}
{% block divcontent %}
<h1>{{ object.name }}</h1>
    <div><h2>{% trans "Titles" %}</h2><ul>
    {% for title in object.titles.all %}
        <li>{{ title.name }}</li>
    {% endfor %}</ul>
    </div>
    
    <div><h2>{% trans "Roles" %}</h2><ul>
    {% for role in object.roles.all %}
        <li>{{ role.text }}</li>
    {% endfor %}</ul>
    </div>
    
    <div><h2>{% trans "Meetings this persons spoken at" %}</h2><ul>
    {% for meeting in meetings %}
        <li><a href="{{ pp.meeting.get_absolute_url }}">{{ meeting.committee.name }} {{ meeting.date_string }}</a></li>
    {% endfor %}</ul>

    <div><h2>{% trans "Things this person said" %}</h2><ul>
    {% for pp in object.protocol_parts.all %}
        {% ifchanged %}
        </ul><a href="{{ pp.meeting.get_absolute_url }}">{{ pp.meeting.committee.name }} {{ pp.meeting.date_string }}</a><ul>
        {% endifchanged %}
        <li><a href="{{ pp.get_absolute_url }}">{{ pp.body|pretty_crop:100 }}</a></li>
    {% endfor %}</ul>
    </div>
    
    
    
{% endblock %}
