{% extends "site_base.html" %}
{% load lookup i18n i18ninclude user_tags common_text_handling agendas_tags %}
{% load static from staticfiles %}
{% block help-section %}
    {% i18ninclude "agendas/agenda_list_help.html" LANGUAGE_CODE %}
{% endblock %}
{% block extratitle %}{% trans "Agendas" %}{% endblock %}
{% block keywords %}{{% trans "Agendas" %}{% endblock %}
{% block description %}{% trans "Agendas" %} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/jquery.flot.min.js" %}"></script>
{% endblock %}

{% block nav-agendas %}class="selected"{% endblock %}
{% block divcontent %}
    <div id="list-wrap">
        <h2> {% trans "Your Agendas" %} </h2>
        {% if not user.is_authenticated %}
            <a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'Please login to see agendas you can edit' %}</a>
        {% else %}
            <div class="item-list">
                {% for o in user.agendas.all %}
                    <div class="item {% cycle "alt" "normal" %}">
                        {% with agenda_votes|lookup:o.id as agenda_votes_num %}
                        {% with agenda_party_values|lookup:o.id as agenda_party_values %}
                        {% with agenda_editors|lookup:o.id as agenda_editor_ids %}
                        {% agenda_list_item o watched agenda_votes_num agenda_party_values parties_lookup editors agenda_editor_ids %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                {% empty %}
                    {% trans "You are not editing any agenda" %}
                {% endfor %}
            </div>
            {% if user.is_superuser %}
                <div class="add">
                    <a class="awesome-button medium" href="/agenda/add/">{% trans "Add" %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div id="list-wrap">
        <h2> {% trans "All Agendas" %} </h2>
        <div class="item-list">
            {% for o in object_list %}
                {% if user.id not in agenda_editors|lookup:o.id %}
                    <div class="item {% cycle "alt" "normal" %}">
                        {% with agenda_votes|lookup:o.id as agenda_votes_num %}
                        {% with agenda_party_values|lookup:o.id as agenda_party_values %}
                        {% with agenda_editors|lookup:o.id as agenda_editor_ids %}
                        {% agenda_list_item o watched agenda_votes_num agenda_party_values parties_lookup editors agenda_editor_ids %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
