{% load i18n %}
<form action="{{ action|escape }}" id="{{ search_form_id|escape }}" class="search">
  <div>
      <input type="hidden" name="cx" value="{{ cx }}" />
    <input type="hidden" name="cof" value="FORID:11" /> 
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="hidden" name="hl" value="{{ lang|escape }}" />
    {{ form.q }}
    <input type="submit" name="sa" class="submit awesome-button" value="{% trans "Search" %}" />
    {{ form.as_q }}
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form={{ search_form_id|escape }}&amp;lang={{ lang|escape }}"></script>
