{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block extratitle %}{{viewed_user.username}} {% trans "Annotations" %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile-list' %}">{% trans "Users" %}</a> <span class="divider">/</span></li>
    <li><a href="{{viewed_user.get_absolute_url}}">{{viewed_user.username}}</a> <span class="divider">/</span></li>
    <li class="active">{% trans "Annotations" %}</li>
{% endblock %}

{% block content %}
{% if viewed_user.get_profile.public_profile or viewed_user == user %}
    {% autopaginate annotations %}
    <div class="row">
        <div class="span12 cards">
            <div class="card card-list">
                <header><h1>{% trans "Annotations by" %} <a href="{{viewed_user.get_absolute_url}}">{{viewed_user.username}}</a></h1></header>
                <ul>
                {% for a in annotations %}
                    <li>
                        <p class="item-context">{{ a.content_object.meeting }}</p>
                        <p class="item-title"><a href="{{a.get_absolute_url }}">{{a.flag_value}} - {{a.comment|linebreaksbr}}</a></p>
                        <p class="item-action">
                            {% trans "On the words of" %} {{a.content_object.header}}: "...{{a.selection}}..."
                        </p>
                    </li>
                {% empty %}
                    <li>{% trans "No annotations yet..." %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">{% paginate %}</div>
{% else %}
    <div class="alert alert-error">{% trans "Sorry, this user has selected not to share his profile" %}</div>
{% endif %}
{% endblock %}
