{% extends 'site_base.html' %}
{% load i18n %}

{% block extratitle %}{% trans "Create new user" %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Create new user" %}</li>
{% endblock %}

{% block content %}
<div class="card card-main">
    <div class="spacer fill">
        <h1>{% trans "Create new user" %}</h1>
        <form method="post" action=".">{% csrf_token %}
            <table>{{ form.as_table }}</table>
            <input type="submit" value="{% trans "register" %}" class="btn">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock %}
