{% extends 'site_base.html' %}
{% load i18n crispy_forms_tags %}{% load static from staticfiles %}

{% block extratitle %}{% trans "login" %}{% endblock %}

{% block extracss %} 
    <link href="{% static "css/auth-buttons.css" %}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "login" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="cards span4 offset4">
        <section class="card card-list">
            <header>
                <h2><i class="fa fa-sign-in fa-flip-horizontal"></i>{% trans "login" %}</h2>
            </header>
            <ul>
{% if user.is_authenticated %}

                <li>
                    {% trans "You are already logged in."%} <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>?
                </li>

{% else %}
                <li class="text-xcenter">
                    <a href="{% url 'register' %}?next={{next}}">{% trans "New user? Register" %}</a>
                </li>
                <li>
                    <p><strong>{% trans "Enter using" %}</strong></p>
                    <p>
                        <a class="btn" href="{% url 'social:begin' 'twitter' %}" title="Twitter"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="btn" href="{% url 'social:begin' 'google-oauth' %}" title="Google"><i class="fa fa-lg fa-google-plus"></i></a>
                        <a class="btn" href="{% url 'social:begin' 'facebook' %}" title="Facebook"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="btn" href="{% url 'social:begin' 'github' %}" title="GitHub"><i class="fa fa-lg fa-github"></i></a>
                    </p>
                </li>
                <li>
                    <form method="post" action="{% url 'login' %}">{% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="{% trans "login" %}" class="btn">
                        <input type="hidden" name="next" value="{{ next }}">
                        <a href="{% url 'password_reset' %}?next={{next}}">{% trans "Forgot password?" %}</a>
                    </form>
                </li>
{% endif %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}

