{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{% trans "Password reset" %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Password reset" %}</li>
{% endblock %}

{% block content %}
<div class="card card-main">
    <div class="spacer fill">
        <h1>{% trans "Password reset" %}</h1>
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

        <form action="" method="post" class="form-inline">{% csrf_token %}
            {{ form.email.errors }}
            {% if form.email.errors %}
            <a  href="{% url register %}">{% trans 'register' %}</a>
            {% endif %}
            <p>
                <label for="id_email">{% trans 'E-mail address:' %}</label>
                {{ form.email }}
                <input type="submit" value="{% trans 'Reset my password' %}" class="btn">
            </p>
        </form>
    </div>
</div>
{% endblock %}
