{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{% trans 'Password reset complete' %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Password reset complete' %}</li>
{% endblock %}

{% block content %}
<div class="alert alert-success">
    <h1>{% trans 'Password reset complete' %}</h1>

    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

    <p><a href="{% url login %}">{% trans 'Log in' %}</a></p>
</div>
{% endblock %}
